# yaml-language-server: $schema=https://raw.githubusercontent.com/OAI/OpenAPI-Specification/main/schemas/v3.1/schema.json
#
# Source of truth for the Rates Engine public API.
#
# Every breaking change requires a PR that:
#   1. Updates this file.
#   2. Adds a new /vN path alongside the old one (never edit in place).
#   3. Regenerates docs via `make docs-api`.
#   4. Updates docs/reference/api-design.md if the design intent
#      changed (as opposed to an additive clarification).
#
# Every documented path is implemented in internal/api/v1/ — the
# spec and the live handler set are 1:1 (CI's openapi-handler drift
# check at scripts/ci/lint-docs.sh §11 enforces this). See
# docs/reference/api-design.md for the design rationale + headers
# / rate-limit / observability behaviour the middleware emits.

openapi: 3.1.0
info:
  title: Rates Engine API
  version: "1.0.0-draft"
  summary: Aggregated Stellar asset pricing — real-time and historical.
  description: |
    The Rates Engine API exposes normalised, VWAP-aggregated pricing
    for every classic and SEP-41 Soroban asset on Stellar.

    Design intent: see
    https://github.com/RatesEngine/rates-engine/blob/main/docs/reference/api-design.md

    **Amounts are always strings.** JSON numbers lose precision above
    2^53 and break i128 Soroban token amounts.
  contact:
    name: Rates Engine
    url: https://ratesengine.net
    email: hello@ratesengine.net
  license:
    name: Apache-2.0
    identifier: Apache-2.0
servers:
  - url: https://api.ratesengine.net/v1
    description: Production
  - url: https://api.staging.ratesengine.net/v1
    description: Staging
  - url: http://localhost:3000/v1
    description: Self-hosted / dev

tags:
  - name: health
    description: Liveness + readiness.
  - name: assets
    description: Asset catalogue + metadata.
  - name: price
    description: Current prices, batch, SSE stream.
  - name: history
    description: Historical TWAP / VWAP series.
  - name: ohlc
    description: OHLC candles.
  - name: markets
    description: Liquidity + venue breakdown per asset.
  - name: oracle
    description: |
      Per-source oracle observations (reflector-dex / -cex / -fx,
      redstone, band) plus SEP-40-shaped passthroughs
      (/oracle/lastprice, /oracle/prices, /oracle/x_last_price)
      that mirror Reflector's contract surface for client SDKs that
      already speak SEP-40.
  - name: account
    description: Self-service for API-key holders.
  - name: meta
    description: |
      Metadata about the deployment itself — source catalogue,
      build info — not the trade / oracle / price data.

security:
  - {}                          # anonymous allowed on most endpoints
  - APIKeyAuth: []              # API-key authenticated

paths:
  /healthz:
    get:
      tags: [health]
      summary: Liveness — process is up.
      security: []
      responses:
        "200":
          description: Alive.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/HealthResponse" }

  /readyz:
    get:
      tags: [health]
      summary: Readiness — all dependencies reachable.
      security: []
      responses:
        "200":
          description: Ready to serve.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/HealthResponse" }
        "503":
          description: Dependencies unreachable.
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }

  /version:
    get:
      tags: [health]
      summary: Build metadata.
      security: []
      responses:
        "200":
          description: Version string, build date, git SHA.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/VersionResponse" }

  /assets:
    get:
      tags: [assets]
      summary: List indexed assets.
      description: |
        Paginated list of every asset that has appeared (as base or
        quote) in the trades hypertable. Cursor is opaque; limit
        clamped server-side to [1, 500].

        The `type` / `code` / `issuer` filter params are planned but
        not yet implemented — the current handler ignores any filter
        params and returns the unfiltered page. See the TypeFilter,
        CodeFilter, IssuerFilter schemas below for the planned
        shape; they are not wired to any request until the filter
        path ships.
      parameters:
        - { $ref: "#/components/parameters/Cursor" }
        - { $ref: "#/components/parameters/Limit" }
      responses:
        "200":
          description: Page of assets.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AssetListEnvelope" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /assets/{asset_id}:
    get:
      tags: [assets]
      summary: Asset detail.
      parameters:
        - { $ref: "#/components/parameters/AssetIdPath" }
      responses:
        "200":
          description: Asset + metadata.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AssetEnvelope" }
        "404": { $ref: "#/components/responses/NotFound" }

  /assets/{asset_id}/metadata:
    get:
      tags: [assets]
      summary: Extended metadata (SEP-1 CURRENCIES block).
      parameters:
        - { $ref: "#/components/parameters/AssetIdPath" }
      responses:
        "200":
          description: Extended metadata.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AssetMetadataEnvelope" }
        "404": { $ref: "#/components/responses/NotFound" }

  /price:
    get:
      tags: [price]
      summary: Current aggregated price for one asset.
      parameters:
        - { $ref: "#/components/parameters/AssetQuery" }
        - { $ref: "#/components/parameters/Quote" }
      responses:
        "200":
          description: Current price with freshness flags.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PriceEnvelope" }
        "400":        { $ref: "#/components/responses/BadRequest" }
        "404":        { $ref: "#/components/responses/NotFound" }
        "429":        { $ref: "#/components/responses/RateLimited" }
        "500":        { $ref: "#/components/responses/InternalError" }
        "503":        { $ref: "#/components/responses/ServiceUnavailable" }

  /price/tip:
    get:
      tags: [price]
      summary: Rolling-window tip price (ADR-0018 tip surface).
      description: |
        Realtime "what's the price right now" surface per ADR-0018.
        Returns a VWAP over a short rolling window (default 5 s, clamp
        1–60 s); when the window has no trades, falls back to the
        most-recent observed price for the pair.

        Both branches are **in-contract** — `flags.stale` is always
        `false` on this surface. Customers read `price_type` and
        `observed_at` to know what they got. Cross-region consistency
        is **not** provable here; use `/v1/price` for the closed-bucket
        guarantee.

        URL discipline: `?granularity=` is rejected with 400 — that's
        a closed-bucket concept and accepting it would silently change
        the consistency contract.
      parameters:
        - { $ref: "#/components/parameters/AssetQuery" }
        - { $ref: "#/components/parameters/Quote" }
        - name: window_seconds
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 60
            default: 5
          description: Rolling-window size in seconds for the VWAP.
      responses:
        "200":
          description: Tip price (VWAP or last-good fallback).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PriceEnvelope" }
        "400":        { $ref: "#/components/responses/BadRequest" }
        "404":        { $ref: "#/components/responses/NotFound" }
        "429":        { $ref: "#/components/responses/RateLimited" }
        "500":        { $ref: "#/components/responses/InternalError" }
        "503":        { $ref: "#/components/responses/ServiceUnavailable" }

  /price/tip/stream:
    get:
      tags: [price]
      summary: SSE stream of tip-price updates (ADR-0018).
      description: |
        Server-Sent Events counterpart of `/v1/price/tip`. Same
        compute logic; pushed on a per-connection tick (default
        every `window_seconds` seconds, clamp 1–60 s).

        - First event fires synchronously on connect (no waiting a
          full window).
        - Pre-flight 404 when the pair has no observations: SSE
          can't change status mid-stream, so emptiness is detected
          before the response body switches to `text/event-stream`.
        - Heartbeats every 15 s as comment lines (`:keepalive`) so
          intermediate proxies don't idle out the connection.
        - Resume after disconnect by setting `Last-Event-ID` on the
          reconnect (header preferred, `?last_event_id=` fallback).
        - Same URL-discipline rule as `/v1/price/tip`:
          `?granularity=` returns 400.
      parameters:
        - { $ref: "#/components/parameters/AssetQuery" }
        - { $ref: "#/components/parameters/Quote" }
        - name: window_seconds
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 60
            default: 5
          description: Tick cadence (and rolling-VWAP window) in seconds.
        - name: Last-Event-ID
          in: header
          required: false
          schema: { type: string }
          description: Opaque ID for resuming a previously-broken stream.
      responses:
        "200":
          description: SSE stream of tip_update events.
          content:
            text/event-stream:
              schema: { type: string }
        "400":        { $ref: "#/components/responses/BadRequest" }
        "404":        { $ref: "#/components/responses/NotFound" }
        "429":        { $ref: "#/components/responses/RateLimited" }
        "500":        { $ref: "#/components/responses/InternalError" }
        "503":        { $ref: "#/components/responses/ServiceUnavailable" }

  /price/batch:
    get:
      tags: [price]
      summary: Current prices for up to 100 assets.
      parameters:
        - name: asset_ids
          in: query
          required: true
          schema: { type: string }
          description: Comma-separated, max 100.
        - { $ref: "#/components/parameters/Quote" }
      responses:
        "200":
          description: Batch prices.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PriceBatchEnvelope" }
    post:
      tags: [price]
      summary: Current prices for up to 1000 assets.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                asset_ids:
                  type: array
                  items: { type: string }
                  maxItems: 1000
                quote:
                  type: string
                  default: USD
              required: [asset_ids]
      responses:
        "200":
          description: Batch prices.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PriceBatchEnvelope" }

  /observations:
    get:
      tags: [price]
      summary: Raw per-source observations (ADR-0018 Surface 3).
      description: |
        Lowest-level surface per ADR-0018: returns the most-recent
        trade from each source that has ever traded the (asset, quote)
        pair. No aggregation, no chaining, no smoothing — purely
        "what each venue last published".

        - `?source=X` narrows to a single source (0- or 1-element array).
        - `?aggregate=latest` collapses to the single newest trade across
          sources (preserves the array wire shape; length 1).
        - `flags.stale` is **always** `false` here — there is no
          aggregation contract to fall short of.
        - Cross-region consistency is **NOT** provable on this surface;
          use `/v1/price` for the closed-bucket guarantee.
        - Empty pair returns 200 with `data: []`, not 404.

        URL discipline: `?granularity=` and `?window_seconds=` return 400
        — those are closed-bucket and tip concepts respectively.
      parameters:
        - { $ref: "#/components/parameters/AssetQuery" }
        - { $ref: "#/components/parameters/Quote" }
        - name: source
          in: query
          required: false
          schema: { type: string }
          description: Restrict to one source's most-recent trade (0/1 row).
        - name: aggregate
          in: query
          required: false
          schema:
            type: string
            enum: [latest]
          description: |
            `latest` collapses to the single most-recent trade across
            all sources. Omit for one row per source.
      responses:
        "200":
          description: Per-source observations array.
          content:
            application/json:
              schema:
                allOf:
                  - { $ref: "#/components/schemas/EnvelopeMeta" }
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/TradeRow" }
                    required: [data]
        "400":        { $ref: "#/components/responses/BadRequest" }
        "500":        { $ref: "#/components/responses/InternalError" }
        "503":        { $ref: "#/components/responses/ServiceUnavailable" }

  /observations/stream:
    get:
      tags: [price]
      summary: SSE stream of raw per-source observations (ADR-0018).
      description: |
        Streaming counterpart of `/v1/observations`. Same compute
        logic; pushed on a per-connection tick (default every 5 s,
        clamp 1–60 s — independent of tip's `window_seconds` because
        observations does not aggregate).

        - First event fires synchronously on connect; data may be
          an empty array (the pair has no observations yet — same
          200/empty contract as the request endpoint, NOT 404).
        - Recurring events fire unconditionally on each tick (no
          server-side dedupe) — clients diff against the previous
          payload if they want change-detection.
        - Heartbeats every 15 s as comment lines.
        - URL discipline: `?granularity=` and `?window_seconds=`
          return 400.
      parameters:
        - { $ref: "#/components/parameters/AssetQuery" }
        - { $ref: "#/components/parameters/Quote" }
        - name: source
          in: query
          required: false
          schema: { type: string }
          description: Restrict to one source's most-recent trade.
        - name: aggregate
          in: query
          required: false
          schema:
            type: string
            enum: [latest]
          description: |
            `latest` collapses to the single most-recent trade across
            all sources.
        - name: interval_seconds
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 60
            default: 5
          description: Tick cadence in seconds.
        - name: Last-Event-ID
          in: header
          required: false
          schema: { type: string }
          description: Opaque ID for resuming a previously-broken stream.
      responses:
        "200":
          description: SSE stream of observations_update events.
          content:
            text/event-stream:
              schema: { type: string }
        "400":        { $ref: "#/components/responses/BadRequest" }
        "500":        { $ref: "#/components/responses/InternalError" }
        "503":        { $ref: "#/components/responses/ServiceUnavailable" }

  /price/stream:
    get:
      tags: [price]
      summary: SSE stream of closed-bucket price updates (ADR-0015).
      description: |
        SSE counterpart of `/v1/price` — carries the strict ADR-0015
        closed-bucket consistency contract. Unlike `/v1/price/tip/stream`
        and `/v1/observations/stream` (per-connection tick), this
        surface is **Hub-driven**: the aggregator publishes one event
        per closed bucket, and every subscriber on the same
        (asset, quote) pair receives byte-identical payloads — the
        same cross-region consistency guarantee `/v1/price` exposes.

        - Heartbeats every 15 s as comment lines.
        - Resume after disconnect via `Last-Event-ID` (header preferred,
          `?last_event_id=` fallback).
        - URL discipline: `?granularity=` returns 400 — the closed-
          bucket stream is fixed at 1m; use
          `/v1/history/since-inception` for other granularities.
        - 503 when the deployment hasn't wired the streaming Hub
          (typical pre-aggregator state).
      parameters:
        - { $ref: "#/components/parameters/AssetQuery" }
        - { $ref: "#/components/parameters/Quote" }
        - name: Last-Event-ID
          in: header
          required: false
          schema: { type: string }
          description: Opaque ID for resuming a previously-broken stream.
      responses:
        "200":
          description: SSE stream of price_update events.
          content:
            text/event-stream:
              schema: { type: string }
        "400":        { $ref: "#/components/responses/BadRequest" }
        "429":        { $ref: "#/components/responses/RateLimited" }
        "503":        { $ref: "#/components/responses/ServiceUnavailable" }

  /history:
    get:
      tags: [history]
      summary: Raw trade history for a pair in a time window.
      description: |
        Returns per-trade records ordered (ts, ledger, tx_hash, op_index, source)
        ascending. Cursor paginates across the full-PK tuple; truncating
        the cursor at (ts, ledger) would drop rows sharing those
        values (high-volume ledgers).

        Bucketed/granularity-based history (VWAP/TWAP series at 1m/15m/...)
        will ship via the aggregator binary (see
        cmd/ratesengine-aggregator) on a different response shape —
        not this endpoint.
      parameters:
        - { $ref: "#/components/parameters/Base" }
        - { $ref: "#/components/parameters/Quote" }
        - { $ref: "#/components/parameters/From" }
        - { $ref: "#/components/parameters/To" }
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 10000, default: 1000 }
        - { $ref: "#/components/parameters/Cursor" }
      responses:
        "200":
          description: Per-trade records.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TradeHistoryEnvelope" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /history/since-inception:
    get:
      tags: [history]
      summary: Closed-bucket historical VWAP series for one asset/quote pair.
      description: |
        Returns every CLOSED bucket from the requested continuous
        aggregate ladder (`1m`, `15m`, `1h`, `4h`, `1d`, `1w`,
        `1mo`) for the requested asset/quote pair. This is the
        bucketed history surface; `/history` remains the raw
        per-trade endpoint.
      parameters:
        - { $ref: "#/components/parameters/AssetQuery" }
        - { $ref: "#/components/parameters/Quote" }
        - { $ref: "#/components/parameters/Granularity" }
      responses:
        "200":
          description: Since-inception series.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/HistoryEnvelope" }

  /chart:
    get:
      tags: [history]
      summary: Rolling-window chart series matching the Freighter RFP shape.
      description: |
        Returns CLOSED CAGG buckets within a rolling time window for
        one asset/quote pair, shaped as `(timeframe, granularity,
        price_type) → points[]` per the Freighter RFP V1 chart
        contract.

        Defaults: `quote=fiat:USD`, `timeframe=24h`,
        `granularity` per the timeframe table below, `price_type=vwap`.

        Default-granularity table (per ADR-0020):

        | Timeframe | Default granularity |
        | --------- | ------------------- |
        | `1h`      | `1m`                |
        | `24h`     | `15m`               |
        | `1w`      | `1h`                |
        | `1mo`     | `4h`                |
        | `1y`      | `1d`                |
        | `all`     | `1d`                |

        `price_type=twap` returns 400 — multi-bar TWAP charts are
        deferred to L7.8 (post-launch), see ADR-0020. Single-bar
        TWAP is available now via `/v1/twap` (true time-weighted
        compute from raw trades); only the multi-bar chart variant
        is the deferred surface.
      parameters:
        - { $ref: "#/components/parameters/AssetQuery" }
        - { $ref: "#/components/parameters/Quote" }
        - { $ref: "#/components/parameters/Timeframe" }
        - { $ref: "#/components/parameters/Granularity" }
        - { $ref: "#/components/parameters/PriceType" }
      responses:
        "200":
          description: Chart series.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ChartEnvelope" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /ohlc:
    get:
      tags: [ohlc]
      summary: Single OHLC bar for a pair over a window.
      description: |
        Single-bar response for the window [from, to). Interval-series
        (N bars, each interval-seconds wide) is a follow-up —
        delivered via the aggregator's continuous-aggregate path.

        Defaults: `from = to - 1h`, `to = now`. `truncated=true` on
        the response means the window had more trades than the
        server's per-request cap (10000) and the bar reflects only
        the chronologically-first N; narrow the window or wait for
        CAGG-backed endpoints.
      parameters:
        - { $ref: "#/components/parameters/Base" }
        - { $ref: "#/components/parameters/Quote" }
        - { $ref: "#/components/parameters/From" }
        - { $ref: "#/components/parameters/To" }
      responses:
        "200":
          description: Single OHLC bar.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OHLCEnvelope" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /vwap:
    get:
      tags: [prices]
      summary: Volume-weighted average price over a window.
      description: |
        Returns VWAP = Σ(quote) / Σ(base) for every trade in
        [from, to) for the given pair. Optional outlier filter
        drops prices > N σ from the window mean. When the window
        has more than the server's per-request cap (10000 trades)
        the response carries `truncated: true` — the price
        reflects only the chronologically-first N trades, not the
        full window.
      parameters:
        - { $ref: "#/components/parameters/Base" }
        - { $ref: "#/components/parameters/Quote" }
        - { $ref: "#/components/parameters/From" }
        - { $ref: "#/components/parameters/To" }
        - name: outlier_sigma
          in: query
          schema: { type: number, minimum: 0 }
          description: "Drop trades > N σ from window mean. 0 disables (default)."
      responses:
        "200":
          description: Volume-weighted price + volumes + trade count.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/VWAPEnvelope" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "404":
          description: No trades in window.
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "422":
          description: All trades filtered as outliers.
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /twap:
    get:
      tags: [prices]
      summary: Time-weighted average price over a window.
      description: |
        Each trade's price is active from its timestamp to the
        next trade's (or windowEnd for the last). TWAP is the
        duration-weighted mean. No outlier filter: time-weighting
        is itself outlier-resistant (spurious prints get only
        their slot duration, not a full window's worth).
      parameters:
        - { $ref: "#/components/parameters/Base" }
        - { $ref: "#/components/parameters/Quote" }
        - { $ref: "#/components/parameters/From" }
        - { $ref: "#/components/parameters/To" }
      responses:
        "200":
          description: Time-weighted price + trade count.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TWAPEnvelope" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "404":
          description: No trades in window.
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /oracle/latest:
    get:
      tags: [oracle]
      summary: Latest oracle reading per source for an asset.
      description: |
        Returns one OracleReading per source (reflector-dex /
        reflector-cex / reflector-fx / redstone / band) that has
        observed the asset. Optional source filter restricts to a
        single source.
      parameters:
        - { $ref: "#/components/parameters/AssetQuery" }
        - name: source
          in: query
          schema: { type: string }
          description: "Optional. Restrict to a single source name."
      responses:
        "200":
          description: Array of OracleReading (empty when no observations).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OracleLatestEnvelope" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /markets:
    get:
      tags: [markets]
      summary: Distinct trading pairs with activity summary.
      description: |
        One entry per (base, quote) pair present in the trades
        store. Cursor-paginated (opaque cursor keyed on
        `<base>|<quote>`). Each entry reports the pair's most
        recent trade timestamp + a 24h trade count.
      parameters:
        - { $ref: "#/components/parameters/Cursor" }
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 500, default: 100 }
      responses:
        "200":
          description: Array of markets + optional next cursor.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MarketsEnvelope" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /issuers/{g_strkey}:
    get:
      tags: [meta]
      summary: Issuer detail — auth flags, SEP-1 metadata, issued assets.
      description: |
        Returns the row from the `issuers` table joined with the
        list of every classic asset this G-account has ever issued.
        Auth flags + SEP-1 payload land per-issuer as the SEP-1
        fetcher worker resolves them (Phase 4); fields stay null
        until then.

        Powers the showcase `/coins/{slug}` issuer card and
        `/issuers/{G-strkey}` detail page.
      parameters:
        - name: g_strkey
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: One issuer row plus issued-asset list.
          content:
            application/json:
              schema:
                type: object
                required: [g_strkey]
                properties:
                  g_strkey: { type: string }
                  home_domain: { type: string }
                  auth_required: { type: boolean, nullable: true }
                  auth_revocable: { type: boolean, nullable: true }
                  auth_immutable: { type: boolean, nullable: true }
                  auth_clawback: { type: boolean, nullable: true }
                  sep1_resolved_at: { type: string, format: date-time, nullable: true }
                  sep1_payload: { type: object, additionalProperties: true, nullable: true }
                  creation_ledger: { type: integer, nullable: true }
                  assets:
                    type: array
                    items:
                      type: object
                      properties:
                        asset_id: { type: string }
                        code: { type: string }
                        slug: { type: string }
                        first_seen_ledger: { type: integer }
                        last_seen_ledger: { type: integer }
                        observation_count: { type: integer, format: int64 }
        "400": { $ref: "#/components/responses/BadRequest" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /coins:
    get:
      tags: [meta]
      summary: Coin directory — every classic asset observed on Stellar.
      description: |
        Auto-populated registry of every classic asset observed in
        any trade or ChangeTrust op. v0 of this endpoint returns the
        bare-minimum identity tuple plus activity counters, ordered
        by observation count desc. Future passes (per
        data-inventory §10.1) will join `change_summary_5m` +
        `classic_asset_stats_5m` so each row carries pre-computed
        price + delta + volume.

        Powers the showcase /coins directory.
      parameters:
        - name: limit
          in: query
          required: false
          description: Max rows to return; 1-500, default 100.
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 100
      responses:
        "200":
          description: Array of coin entries.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required:
                    - slug
                    - asset_id
                    - code
                    - issuer
                    - first_seen_ledger
                    - last_seen_ledger
                    - observation_count
                  properties:
                    slug: { type: string }
                    asset_id: { type: string }
                    code: { type: string }
                    issuer: { type: string }
                    first_seen_ledger: { type: integer }
                    last_seen_ledger: { type: integer }
                    observation_count: { type: integer, format: int64 }
        "400": { $ref: "#/components/responses/BadRequest" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /changes/{entity_type}/{id}:
    get:
      tags: [meta]
      summary: Multi-window delta strip for one entity.
      description: |
        Returns the pre-computed multi-window delta strip + ATH/ATL +
        streak + acceleration for one (entity_type, id) tuple. Powers
        every list view + price card on the showcase site
        (data-inventory §6.1). Refreshed every 5 minutes by the
        change-summary worker; stale rows (>10 min) indicate the
        worker is lagging.

        Returns 404 when the worker hasn't computed a row yet (fresh
        deployment, newly-added entity, or bounded history). Returns
        503 when this deployment hasn't wired the change-summary
        reader.
      parameters:
        - name: entity_type
          in: path
          required: true
          schema:
            type: string
            enum: [coin, protocol, pair, source]
        - name: id
          in: path
          required: true
          description: |
            Canonical id for the entity. For `coin`, the asset slug
            (e.g. `stellar`). For `pair`, `base/quote` form. For
            `protocol`, the protocol slug. For `source`, the source
            name.
          schema:
            type: string
      responses:
        "200":
          description: One row from change_summary_5m.
          content:
            application/json:
              schema:
                type: object
                properties:
                  entity_type: { type: string }
                  entity_id: { type: string }
                  refreshed_at: { type: string, format: date-time }
                  current_value: { type: number }
                  h1_value: { type: number, nullable: true }
                  h1_delta_pct: { type: number, nullable: true }
                  h24_value: { type: number, nullable: true }
                  h24_delta_pct: { type: number, nullable: true }
                  d7_value: { type: number, nullable: true }
                  d7_delta_pct: { type: number, nullable: true }
                  d30_value: { type: number, nullable: true }
                  d30_delta_pct: { type: number, nullable: true }
                  ath_value: { type: number, nullable: true }
                  ath_at: { type: string, format: date-time, nullable: true }
                  atl_value: { type: number, nullable: true }
                  atl_at: { type: string, format: date-time, nullable: true }
                  streak_direction:
                    type: string
                    enum: [up, down, flat]
                    nullable: true
                  streak_days: { type: integer, nullable: true }
                  acceleration:
                    type: string
                    enum: [increasing, flat, decreasing]
                    nullable: true
        "400": { $ref: "#/components/responses/BadRequest" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /sources:
    get:
      tags: [meta]
      summary: Source catalogue with class + IncludeInVWAP metadata.
      description: |
        Static projection of the aggregator's source registry — every
        venue we know about, labelled with the class semantic that
        decides whether it contributes to VWAP. Sources with
        `include_in_vwap=false` are intentional policy
        (aggregator/oracle/authority_sanity classes), not missing
        connectors. Operators consult this endpoint to confirm a
        venue is recognised before debugging an absence in /v1/markets
        or /v1/vwap.
      parameters:
        - name: class
          in: query
          required: false
          description: |
            Optional class filter. When set, only sources of the
            given class are returned. Useful for dashboards that
            split the catalogue by role.
          schema:
            type: string
            enum: [exchange, aggregator, oracle, authority_sanity]
      responses:
        "200":
          description: Array of sources, sorted by name.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SourcesEnvelope" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /pairs:
    get:
      tags: [markets]
      summary: Direct markets for a pair.
      parameters:
        - name: base
          in: query
          required: true
          schema: { type: string }
        - name: quote
          in: query
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Pairs.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PairsEnvelope" }

  /oracle/lastprice:
    get:
      tags: [oracle]
      summary: SEP-40 lastprice-equivalent passthrough.
      parameters:
        - name: asset
          in: query
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Price record.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OraclePriceEnvelope" }

  /oracle/prices:
    get:
      tags: [oracle]
      summary: SEP-40 prices-equivalent passthrough (N historical).
      parameters:
        - name: asset
          in: query
          required: true
          schema: { type: string }
        - name: records
          in: query
          schema: { type: integer, minimum: 1, maximum: 200, default: 60 }
      responses:
        "200":
          description: Historical records.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OraclePricesEnvelope" }

  /oracle/x_last_price:
    get:
      tags: [oracle]
      summary: SEP-40 x_last_price-equivalent (cross-pair).
      parameters:
        - name: base
          in: query
          required: true
          schema: { type: string }
        - name: quote
          in: query
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Cross-pair last price.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OraclePriceEnvelope" }

  /account/me:
    get:
      tags: [account]
      summary: API-key holder info + quota status.
      security:
        - APIKeyAuth: []
      responses:
        "200":
          description: Account.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AccountEnvelope" }

  /account/usage:
    get:
      tags: [account]
      summary: Usage-summary placeholder (currently empty).
      description: |
        Placeholder self-service surface. The handler currently
        returns an empty list while the backing counter store is not
        implemented yet; `from` / `to` are reserved for the future
        implementation and are ignored today.
      security:
        - APIKeyAuth: []
      parameters:
        - { $ref: "#/components/parameters/From" }
        - { $ref: "#/components/parameters/To" }
      responses:
        "200":
          description: Usage records.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/UsageEnvelope" }

  /account/keys:
    post:
      tags: [account]
      summary: Create a new API key.
      description: |
        Issues a new API key for the authenticated caller and returns
        the plaintext exactly once.
      security:
        - APIKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                label: { type: string, maxLength: 128 }
              required: [label]
      responses:
        "201":
          description: New key — plaintext shown **once**.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/KeyCreatedEnvelope" }

  /auth/sep10/challenge:
    get:
      tags: [auth]
      summary: SEP-10 Web Auth — issue a challenge transaction.
      description: |
        Returns a Stellar challenge transaction the client must sign
        with its account secret key. Per SEP-10 §3.2 the response
        carries the unsigned XDR + the network passphrase the
        challenge was crafted for. Unauthenticated by design.
      parameters:
        - name: account
          in: query
          required: true
          schema: { type: string }
          description: Stellar G-strkey of the account being authenticated.
      responses:
        "200":
          description: Unsigned challenge transaction.
          content:
            application/json:
              schema:
                allOf:
                  - { $ref: "#/components/schemas/EnvelopeMeta" }
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/SEP10Challenge" }
                    required: [data]
        "400": { $ref: "#/components/responses/BadRequest" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /auth/sep10/token:
    post:
      tags: [auth]
      summary: SEP-10 Web Auth — exchange a signed challenge for a JWT.
      description: |
        Accepts a signed challenge transaction and returns a JWT
        bearing the authenticated G-strkey. Per SEP-10 §3.3 the body
        carries `{transaction: <base64-XDR>}`. Unauthenticated by
        design — the SEP-10 protocol IS the authentication.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                transaction:
                  type: string
                  description: Base64-encoded signed XDR of the challenge.
              required: [transaction]
      responses:
        "200":
          description: Authenticated; JWT issued.
          content:
            application/json:
              schema:
                allOf:
                  - { $ref: "#/components/schemas/EnvelopeMeta" }
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/SEP10Token" }
                    required: [data]
        "400": { $ref: "#/components/responses/BadRequest" }
        "401":
          description: Signature verification failed.
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "410":
          description: Challenge time-bounds expired; request a fresh challenge.
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

components:
  securitySchemes:
    APIKeyAuth:
      type: http
      scheme: bearer
      bearerFormat: "rek_* (Rates Engine key)"

  parameters:
    AssetIdPath:
      name: asset_id
      in: path
      required: true
      schema: { type: string }
      description: |
        Canonical asset identifier. One of `native`, `<code>-<issuer>`,
        `<code>:<issuer>` (alias), or `<contract_id>`. Strkeys
        validated per SEP-23.
    AssetQuery:
      name: asset
      in: query
      required: true
      schema: { type: string }
      description: |
        Canonical asset identifier — matches the `asset_id` on
        response bodies. Query-parameter form is the shorter `asset`
        per the handler implementations (/v1/price, /v1/oracle/latest).
    Quote:
      name: quote
      in: query
      schema: { type: string, default: USD }
      description: ISO-4217 fiat or crypto asset_id. Default `USD`.
    Timeframe:
      name: timeframe
      in: query
      schema:
        type: string
        enum: [1h, 24h, 1w, 1mo, 1y, all]
        default: 24h
    Granularity:
      name: granularity
      in: query
      schema:
        type: string
        enum: [1m, 15m, 1h, 4h, 1d, 1w, 1mo]
    Base:
      name: base
      in: query
      required: true
      schema: { type: string }
      description: Canonical asset identifier for the base side of a pair.
    From:
      name: from
      in: query
      schema: { type: string, format: date-time }
    To:
      name: to
      in: query
      schema: { type: string, format: date-time }
    PriceType:
      name: price_type
      in: query
      schema:
        type: string
        enum: [vwap, twap]
        default: vwap
    TypeFilter:
      name: type
      in: query
      schema:
        type: string
        enum: [native, classic, soroban, fiat, any]
        default: any
    CodeFilter:
      name: code
      in: query
      schema: { type: string }
    IssuerFilter:
      name: issuer
      in: query
      schema: { type: string }
    Cursor:
      name: cursor
      in: query
      description: |
        Opaque pagination token echoed from a prior response's
        `pagination.next`. Pass it verbatim — it is a base64url-encoded
        blob whose internal shape is an implementation detail and
        changes without notice. Clients MUST NOT parse, decode, or
        construct cursors by hand.

        A cursor is stable across retries but not across schema
        changes; treat it as short-lived (minutes, not days). Empty
        means "start from the beginning".
      schema: { type: string }
    Limit:
      name: limit
      in: query
      schema: { type: integer, minimum: 1, maximum: 500, default: 100 }

  responses:
    # Shared non-2xx shapes — every error path the server produces
    # uses the RFC 9457 Problem payload. New endpoint entries SHOULD
    # reference these (via `default:` or explicit status codes)
    # rather than declaring inline schemas, so the wire contract
    # stays consistent.
    NotFound:
      description: Not found.
      content:
        application/problem+json:
          schema: { $ref: "#/components/schemas/Problem" }
    BadRequest:
      description: Client-supplied parameters didn't validate.
      content:
        application/problem+json:
          schema: { $ref: "#/components/schemas/Problem" }
    RateLimited:
      description: Rate-limit quota exhausted. See `Retry-After` header.
      headers:
        Retry-After:
          schema: { type: integer, minimum: 1 }
          description: Seconds until the caller can retry.
        X-RateLimit-Limit:
          schema: { type: integer }
        X-RateLimit-Remaining:
          schema: { type: integer }
      content:
        application/problem+json:
          schema: { $ref: "#/components/schemas/Problem" }
    InternalError:
      description: Internal error. Body includes the request_id for correlation.
      content:
        application/problem+json:
          schema: { $ref: "#/components/schemas/Problem" }
    ServiceUnavailable:
      description: Server is degraded (dependency outage, startup, shutdown).
      content:
        application/problem+json:
          schema: { $ref: "#/components/schemas/Problem" }

  schemas:
    # Base envelope pieces
    Flags:
      type: object
      description: |
        Advisory quality markers. See docs/architecture/ha-plan.md §9
        and ADR-0019 (anomaly detection / freeze policy).

        - `stale` — response is below this surface's documented
          baseline contract.
        - `reduced_redundancy` — cross-region redundancy is degraded
          (R2/R3 set this when R1's last completeness run is stale
          per ADR-0017).
        - `triangulated` — set when the served price was derived
          via cross-pair multiplication (e.g. XLM/EUR computed from
          XLM/USD × USD/EUR) rather than direct trade observation.
          The aggregator's triangulation pass writes the implied
          VWAP into the same Redis key with a `:provenance` marker;
          `/v1/price` reads that marker and forwards the flag.
        - `divergence_warning` — anomaly check or cross-reference
          observed a meaningful divergence; treat with caution.
        - `frozen` — anomaly detection refused to publish the new
          bucket; this response carries the previous bucket's
          last-known-good value (ADR-0019). Only fires on `/v1/price`;
          tip + observations surfaces ignore freeze.
        - `single_source` — the bucket had only one contributing
          source. When `frozen=true` this is forced true (an LKG
          fallback is by definition single-sourced). Informational;
          combined with `frozen` this is the manipulation signature.
      properties:
        stale:              { type: boolean, default: false }
        reduced_redundancy: { type: boolean, default: false }
        triangulated:       { type: boolean, default: false }
        divergence_warning: { type: boolean, default: false }
        frozen:             { type: boolean, default: false }
        single_source:      { type: boolean, default: false }
      required: [stale, reduced_redundancy, triangulated, divergence_warning]

    Pagination:
      type: object
      description: |
        Present on list endpoints when more rows exist beyond the
        current page. Absent on the final page — clients must detect
        "no more data" by checking for the absence of this object,
        not by parsing `next`.
      properties:
        next:
          type: string
          nullable: true
          description: |
            Opaque token to pass as the `cursor` query parameter on
            the next request. Base64url-encoded; contents are an
            implementation detail and change without notice. Clients
            MUST pass this value verbatim — do not decode or
            manipulate.

    EnvelopeMeta:
      type: object
      description: Every 2xx response carries these.
      properties:
        as_of: { type: string, format: date-time }
        sources:
          type: array
          items: { type: string }
        flags: { $ref: "#/components/schemas/Flags" }
      required: [as_of, flags]

    # Health
    HealthResponse:
      type: object
      properties:
        status: { type: string, enum: [ok, degraded] }
      required: [status]

    VersionResponse:
      allOf:
        - { $ref: "#/components/schemas/EnvelopeMeta" }
        - type: object
          properties:
            data:
              type: object
              properties:
                version:    { type: string, description: "Human-readable git-describe (or `dev`)." }
                build_date: { type: string, description: "ISO-8601 UTC build timestamp (or `unknown`)." }
                commit:     { type: string, description: "Full VCS revision SHA from runtime/debug.BuildInfo (or `unknown`)." }
                dirty:      { type: string, description: "`true` if the build tree had uncommitted changes; `false` otherwise. Production builds should always be `false`." }
                go_version: { type: string, description: "Runtime Go version (e.g. `go1.22.3`)." }
              required: [version, build_date, commit, dirty, go_version]
          required: [data]

    # Asset catalogue
    Asset:
      type: object
      properties:
        asset_id:     { type: string }
        type:         { type: string, enum: [native, classic, soroban, fiat] }
        code:         { type: string }
        issuer:       { type: string, nullable: true }
        contract_id:  { type: string, nullable: true }
        home_domain:  { type: string, nullable: true }
        decimals:     { type: integer }
        sep1_status:
          type: string
          enum: [not_applicable, not_fetched, verified, no_match, unreachable]
          description: |
            State of the SEP-1 overlay for this asset.
            - not_applicable: no home-domain (native, fiat, SAC-only).
            - not_fetched:    has a home-domain but resolver wasn't wired.
            - verified:       SEP-1 fetched + matching [[CURRENCIES]] entry found.
            - no_match:       SEP-1 fetched but no matching issuer+code entry.
            - unreachable:    fetch / parse failed (see server logs).
        # Overlay fields, populated only when sep1_status == "verified"
        # (some also present for "no_match" — org_name).
        name:              { type: string, nullable: true }
        description:       { type: string, nullable: true }
        image:             { type: string, nullable: true }
        org_name:          { type: string, nullable: true }
        anchor_asset:      { type: string, nullable: true }
        anchor_asset_type: { type: string, nullable: true }
        # SEP-1 issuance declarations (issuer's stated commitments,
        # distinct from the live-ledger F2 fields below).
        conditions:        { type: string, nullable: true, description: "Issuer's declared terms / conditions text." }
        fixed_number:      { type: string, nullable: true, description: "SEP-1-declared fixed total supply (decimal string in the asset's smallest integer unit). Distinct from `total_supply` below — that's the live-ledger sum." }
        max_number:        { type: string, nullable: true, description: "SEP-1-declared maximum supply ceiling (decimal string). Distinct from `max_supply` below which is operator/policy-derived." }
        is_unlimited:      { type: boolean, nullable: true, description: "Issuer asserts unbounded issuance. Null when the issuer didn't address supply at all; false when they declared a bounded supply." }
        # F2 fields — Market Cap / FDV / Circulating / Total / Max
        # Supply per Freighter RFP V2 (ADR-0011).
        #
        # Supply values are decimal strings in the asset's smallest
        # integer unit (stroops for XLM/classic; contract-defined for
        # SEP-41). Consumers divide by 10^decimals for display.
        # market_cap_usd / fdv_usd are decimal strings in dollars
        # to two fractional digits.
        #
        # Current repo snapshot note: the API reads these fields from
        # asset_supply_history when snapshots exist, but the repo does
        # not ship an in-tree writer for that table yet.
        #
        # All F2 fields are nullable: any field whose data isn't
        # available (no supply snapshot yet, no USD price for the
        # pair, max_supply unknown for an uncapped issuer) emits null
        # rather than fabricating per ADR-0011 "we don't fabricate".
        circulating_supply: { type: string, nullable: true, description: "Raw integer in asset's smallest unit (per ADR-0011 supply derivation). Null when no snapshot exists." }
        total_supply:       { type: string, nullable: true, description: "Raw integer in asset's smallest unit. Null when no snapshot exists." }
        max_supply:         { type: string, nullable: true, description: "Raw integer in asset's smallest unit. Null for uncapped issuers without operator override or SEP-1 declaration." }
        market_cap_usd:     { type: string, nullable: true, description: "circulating_supply × USD price / 10^decimals, two fractional digits. Null when supply or USD price is unavailable." }
        fdv_usd:            { type: string, nullable: true, description: "max_supply × USD price / 10^decimals, two fractional digits. Null when max_supply is null or USD price unavailable." }
        supply_basis:
          type: string
          enum: [xlm_sdf_reserve_exclusion, issuer_exclusion, admin_exclusion, override]
          nullable: true
          description: |
            Which ADR-0011 policy produced the supply numbers.
            Surfaced so consumers can decide how much to trust the
            absolute value (e.g. `override` indicates an operator
            curated the locked-set or SEP-1 declared a max_supply;
            `issuer_exclusion`/`admin_exclusion` are algorithm
            defaults). Null when no supply snapshot is available.
        volume_24h_usd:
          type: string
          nullable: true
          description: |
            Trailing-24h USD-denominated trade volume across every
            pair this asset participates in (as base OR quote).
            Decimal string. "0" is a valid value (asset tracked, no
            trades in the window); null means the volume reader
            isn't wired or the lookup failed. Per Freighter V2
            scope ("24h Trading Volume aggregate across indexed
            markets").

            **Scope caveat (launch-readiness L2.2):** off-chain
            CEX/FX trades populate `usd_volume` automatically when
            the quote is `fiat:USD` or a USD-pegged stablecoin
            (USDC / USDT / DAI / PYUSD / USDP).

            On-chain DEX trades (Stellar SDEX, Soroswap, Aquarius,
            Phoenix, Comet) populate `usd_volume` when their quote
            asset is in the operator's
            `[trades].usd_pegged_classic_assets` allow-list, or its
            SAC contract is wired transitively via
            `[supply.sac_wrappers]` (L2.2 phase 1). Deployments
            that haven't configured the allow-list see on-chain
            trades contribute 0 — comparisons with external
            aggregators (CoinGecko, CMC) will read systematically
            lower until the operator opts in.

            On-chain trades quoted in non-USD assets (XLM/AQUA,
            XLM/BTC, etc.) still contribute 0; the FX-anchor
            multiplication for non-USD on-chain quotes is L2.2
            phase 2, post-launch. The schema is forward-compatible:
            phase 2 lands additively without a wire-shape change.
      required: [asset_id, type, code, decimals, sep1_status]

    AssetEnvelope:
      allOf:
        - { $ref: "#/components/schemas/EnvelopeMeta" }
        - type: object
          properties:
            data: { $ref: "#/components/schemas/Asset" }
          required: [data]

    AssetListEnvelope:
      allOf:
        - { $ref: "#/components/schemas/EnvelopeMeta" }
        - type: object
          properties:
            data:
              type: array
              items: { $ref: "#/components/schemas/Asset" }
            pagination: { $ref: "#/components/schemas/Pagination" }
          # pagination is OMITTED on the final page (no more rows).
          # Matches the handler behaviour: env.Pagination is set only
          # when the storage layer returned a non-empty next-cursor.
          required: [data]

    AssetMetadata:
      type: object
      description: |
        SEP-1 overlay re-projection of /v1/assets/{id}'s metadata
        slice. Same shape the asset-detail surface returns under
        the `name`/`description`/etc. keys, here without the
        ledger-derived F2 fields. Populated when the issuer
        publishes a stellar.toml whose [[CURRENCIES]] entry
        matches the asset's `(code, issuer)` — `sep1_status`
        then reads "verified". `not_applicable` (native, fiat,
        SAC-only), `not_fetched` (operator hasn't configured the
        home-domain map for this issuer), `unreachable` (fetch
        or parse failed), and `no_match` (TOML loaded but no
        matching currency block) leave the overlay fields null.
      properties:
        asset_id:        { type: string }
        home_domain:     { type: string, nullable: true }
        sep1_status:     { type: string, enum: [not_applicable, not_fetched, verified, no_match, unreachable] }
        # SEP-1 overlay fields (populated when sep1_status=verified).
        name:            { type: string, nullable: true }
        description:     { type: string, nullable: true }
        image:           { type: string, nullable: true, description: "Issuer-supplied logo URL. http(s) only — non-http schemes are stripped at overlay time." }
        org_name:        { type: string, nullable: true }
        anchor_asset:    { type: string, nullable: true }
        anchor_asset_type: { type: string, nullable: true, description: "fiat / crypto / stock / etc., per SEP-1 §Currencies." }
        # SEP-1 issuance declarations — the issuer's own commitments,
        # distinct from F2 supply numbers on /v1/assets/{id} which
        # observe live ledger state.
        conditions:      { type: string, nullable: true, description: "Issuer's declared terms / conditions text." }
        fixed_number:    { type: string, nullable: true, description: "SEP-1-declared fixed total supply (decimal string in the asset's smallest integer unit). Distinct from /v1/assets/{id}'s `total_supply` which is the live-ledger sum." }
        max_number:      { type: string, nullable: true, description: "SEP-1-declared maximum supply ceiling (decimal string). Distinct from /v1/assets/{id}'s `max_supply` which is operator/policy-derived." }
        is_unlimited:    { type: boolean, nullable: true, description: "Issuer asserts unbounded issuance. Null when the issuer didn't address supply at all (no fixed_number / max_number / is_unlimited declaration); false when they did and committed to a bounded supply." }
      required: [asset_id, sep1_status]

    AssetMetadataEnvelope:
      allOf:
        - { $ref: "#/components/schemas/EnvelopeMeta" }
        - type: object
          properties:
            data: { $ref: "#/components/schemas/AssetMetadata" }
          required: [data]

    # Price
    #
    # Fields marked "aggregator" are populated once the aggregator
    # binary lands (see cmd/ratesengine-aggregator/main.go). Until
    # then, handlers may omit them — clients must treat absence as
    # "unknown", not an error. Nullable on the wire; required-by-name
    # in the OpenAPI sense means "the key will appear", not "it will
    # have a value".
    Price:
      type: object
      properties:
        asset_id:          { type: string }
        quote:             { type: string }
        price:             { type: string, description: "Decimal string. Never JSON number." }
        price_type:        { type: string, enum: [vwap, twap, last_trade] }
        # observed_at = close-time of the underlying last_trade (for
        # last_trade price_type) or end of the aggregation window
        # (for vwap/twap). RFC 3339, UTC.
        observed_at:       { type: string, format: date-time }
        window_seconds:    { type: integer, nullable: true, description: "Window size for vwap/twap; omitted for last_trade." }
        # F2 fields per ADR-0011 / Freighter V2 — populated when
        # the aggregator's supply-snapshot writer + volume worker
        # have run. Null when no snapshot or volume row is available
        # yet (e.g. fresh deploy before the first cycle, or asset
        # below the operator's coverage set).
        change_24h_pct:    { type: string, nullable: true, description: "Trailing-24h price change as a signed decimal percentage with two fractional digits (e.g. \"+1.27\", \"-0.05\", \"0.00\"). Computed as (now - then) / then * 100 against the latest closed prices_1m bucket whose end is at-or-before now-24h. Null when the asset has no current USD price OR no comparison bucket in the 24h-ago window." }
        volume_24h_usd:    { type: string, nullable: true, description: "aggregator" }
        market_cap_usd:    { type: string, nullable: true, description: "aggregator + supply derivation" }
        fdv_usd:           { type: string, nullable: true, description: "aggregator + supply derivation" }
        circulating_supply: { type: string, nullable: true, description: "supply derivation" }
        total_supply:      { type: string, nullable: true, description: "supply derivation" }
        max_supply:        { type: string, nullable: true, description: "supply derivation" }
        # Confidence score per ADR-0019. Populated only on /v1/price
        # (the closed-bucket surface) when the aggregator's
        # confidence-compute path has cached a fresh score for the
        # pair. Omitted when no cached score is available — clients
        # that gate on confidence MUST treat the absence as "unknown",
        # not "low".
        confidence:        { type: number, format: float, nullable: true, minimum: 0, maximum: 1, description: "Multi-factor confidence score in [0, 1] (ADR-0019)." }
        confidence_factors:
          nullable: true
          type: object
          description: "Per-factor decomposition of confidence (ADR-0019)."
          properties:
            z_score:          { type: number, format: float }
            source_count:     { type: number, format: float }
            diversity:        { type: number, format: float }
            liquidity:        { type: number, format: float }
            cross_oracle:     { type: number, format: float }
            baseline_quality: { type: number, format: float }
      required: [asset_id, quote, price, price_type, observed_at]

    PriceEnvelope:
      allOf:
        - { $ref: "#/components/schemas/EnvelopeMeta" }
        - type: object
          properties:
            data: { $ref: "#/components/schemas/Price" }
          required: [data]

    PriceBatchEnvelope:
      allOf:
        - { $ref: "#/components/schemas/EnvelopeMeta" }
        - type: object
          properties:
            data:
              type: array
              items: { $ref: "#/components/schemas/Price" }
          required: [data]

    # History
    #
    # Today /history returns raw per-trade rows (TradeRow). The
    # aggregator-backed bucketed history (OHLC/VWAP time series at
    # granularity 1m/15m/...) will ship on a different endpoint or
    # a `bucketed=true` flag — this schema reflects what the handler
    # actually serves.
    #
    # HistoryPoint + HistoryEnvelope are the wire shape for
    # /history/since-inception (a CAGG-served per-day VWAP series
    # back to ledger 1 — see PR #195). They are NOT what /history
    # returns today; /history uses the bucketed CandleEnvelope.
    HistoryPoint:
      type: object
      properties:
        t:     { type: string, format: date-time }
        p:     { type: string }
        v_usd: { type: string, nullable: true }
      required: [t, p]

    HistoryEnvelope:
      allOf:
        - { $ref: "#/components/schemas/EnvelopeMeta" }
        - type: object
          properties:
            data:
              type: object
              properties:
                asset_id:    { type: string }
                quote:       { type: string }
                price_type:  { type: string, enum: [vwap, twap] }
                granularity: { type: string }
                points:
                  type: array
                  items: { $ref: "#/components/schemas/HistoryPoint" }
              required: [asset_id, quote, price_type, granularity, points]
          required: [data]

    ChartEnvelope:
      allOf:
        - { $ref: "#/components/schemas/EnvelopeMeta" }
        - type: object
          properties:
            data:
              type: object
              properties:
                asset_id:    { type: string }
                quote:       { type: string }
                timeframe:   { type: string, enum: [1h, 24h, 1w, 1mo, 1y, all] }
                granularity: { type: string, enum: [1m, 15m, 1h, 4h, 1d, 1w, 1mo] }
                price_type:  { type: string, enum: [vwap, twap] }
                points:
                  type: array
                  items: { $ref: "#/components/schemas/HistoryPoint" }
              required: [asset_id, quote, timeframe, granularity, price_type, points]
          required: [data]

    TradeRow:
      type: object
      properties:
        source:       { type: string }
        ledger:       { type: integer }
        tx_hash:      { type: string, description: "64 lowercase hex chars." }
        op_index:     { type: integer }
        ts:           { type: string, format: date-time }
        base_asset:   { type: string }
        quote_asset:  { type: string }
        base_amount:  { type: string, description: "Integer stroops, decimal string." }
        quote_amount: { type: string, description: "Integer stroops, decimal string." }
        price:        { type: string, description: "quote/base, 10-digit decimal." }
      required: [source, ledger, tx_hash, op_index, ts, base_asset, quote_asset, base_amount, quote_amount, price]

    TradeHistoryEnvelope:
      allOf:
        - { $ref: "#/components/schemas/EnvelopeMeta" }
        - type: object
          properties:
            data:
              type: array
              items: { $ref: "#/components/schemas/TradeRow" }
            pagination: { $ref: "#/components/schemas/Pagination" }
          required: [data]

    # OHLC
    OHLCBar:
      type: object
      properties:
        from:
          type: string
          format: date-time
          description: |
            Inclusive lower bound of the bar window. Like VWAPResult.from,
            see ADR-0015 for the closed-bucket clamp semantics that
            preserve cross-region rate equality.
        to:
          type: string
          format: date-time
          description: |
            Exclusive upper bound of the bar window. Clamped to a 30 s
            boundary when the request omitted `to`.
        open:         { type: string, description: "Decimal string, 10 digits." }
        high:         { type: string }
        low:          { type: string }
        close:        { type: string }
        base_volume:  { type: string, description: "Σ base_amount integer stroops." }
        quote_volume: { type: string, description: "Σ quote_amount integer stroops." }
        trade_count:  { type: integer }
        truncated:    { type: boolean, description: "True when window exceeded the per-request trade cap; bar reflects only the first N." }
      required: [from, to, open, high, low, close, base_volume, quote_volume, trade_count, truncated]

    OHLCEnvelope:
      allOf:
        - { $ref: "#/components/schemas/EnvelopeMeta" }
        - type: object
          properties:
            data: { $ref: "#/components/schemas/OHLCBar" }
          required: [data]

    # VWAP / TWAP
    #
    # IMPORTANT — closed-bucket serving (ADR-0015)
    #
    # The `from` and `to` fields collectively act as the response's
    # `as_of` range — they tell the client EXACTLY which window the
    # rate covers. When the client did not supply a `to` query
    # parameter, the server clamps the implicit "now" DOWN to the
    # nearest 30-second boundary. This is what makes "all 3 regions
    # serve the same rate" a real property: two requests landing in
    # the same 30 s window resolve to identical [from, to) ranges
    # and (once underlying trades have replicated to all regions)
    # byte-equivalent JSON.
    #
    # When the client DID supply `to` explicitly, that value is
    # preserved verbatim — the clamp only applies to the default-now
    # path.
    #
    # Implication: rates served by these endpoints are 0–30 s old
    # (default window). This is within the Freighter ≤30 s freshness
    # SLA. Clients needing tick-by-tick live data should subscribe
    # to /v1/price/stream (closed-bucket SSE) rather than polling
    # these.
    VWAPResult:
      type: object
      properties:
        from:
          type: string
          format: date-time
          description: |
            Inclusive lower bound of the window the rate covers.
            Used as part of the as_of identity for cross-region rate
            equality (ADR-0015).
        to:
          type: string
          format: date-time
          description: |
            Exclusive upper bound of the window. When the request
            omitted `to`, this is clamped down to a 30-second
            boundary so two parallel requests in the same window
            return identical responses across regions. When the
            request supplied `to` explicitly, this echoes the
            request value.
        price:             { type: string, description: "VWAP decimal, 10 digits." }
        base_volume:       { type: string }
        quote_volume:      { type: string }
        trade_count:       { type: integer }
        outliers_filtered: { type: integer }
        truncated:         { type: boolean }
      required: [from, to, price, base_volume, quote_volume, trade_count, outliers_filtered, truncated]

    VWAPEnvelope:
      allOf:
        - { $ref: "#/components/schemas/EnvelopeMeta" }
        - type: object
          properties:
            data: { $ref: "#/components/schemas/VWAPResult" }
          required: [data]

    TWAPResult:
      type: object
      properties:
        from:
          type: string
          format: date-time
          description: |
            Inclusive lower bound of the window. See VWAPResult.from
            and ADR-0015 for the closed-bucket clamp semantics.
        to:
          type: string
          format: date-time
          description: |
            Exclusive upper bound of the window. Clamped to a 30 s
            boundary when the request omitted `to`. See VWAPResult.to.
        price:       { type: string, description: "TWAP decimal, 10 digits." }
        trade_count: { type: integer }
        truncated:   { type: boolean }
      required: [from, to, price, trade_count, truncated]

    TWAPEnvelope:
      allOf:
        - { $ref: "#/components/schemas/EnvelopeMeta" }
        - type: object
          properties:
            data: { $ref: "#/components/schemas/TWAPResult" }
          required: [data]

    # Oracle latest
    OracleReading:
      type: object
      properties:
        source:      { type: string, description: "e.g. reflector-dex, reflector-cex, reflector-fx." }
        contract_id: { type: string, description: "C-strkey, omitted for off-chain sources." }
        asset:       { type: string }
        quote:       { type: string }
        ts:          { type: string, format: date-time }
        price:       { type: string, description: "Decimal string at declared decimals scale." }
        price_raw:   { type: string, description: "Raw integer value preserved for cross-check (ADR-0003)." }
        decimals:    { type: integer, minimum: 0, maximum: 38 }
        confidence:  { type: number, minimum: 0, maximum: 1, description: "0 means unreported, not zero-confidence." }
        observer:    { type: string, description: "G-strkey of the publishing account; empty when unknown." }
      required: [source, asset, quote, ts, price, price_raw, decimals]

    OracleLatestEnvelope:
      allOf:
        - { $ref: "#/components/schemas/EnvelopeMeta" }
        - type: object
          properties:
            data:
              type: array
              items: { $ref: "#/components/schemas/OracleReading" }
          required: [data]

    # Markets / Pairs
    #
    # MarketRow is one (base, quote) pair present in the trades
    # store. `last_price` / `volume_24h_usd` land with the aggregator;
    # the current handler returns the (base, quote, recency, 24h-count)
    # shape below.
    MarketRow:
      type: object
      properties:
        base:            { type: string }
        quote:           { type: string }
        last_trade_at:   { type: string, format: date-time }
        trade_count_24h: { type: integer, description: "Activity count in the trailing 24h window." }
      required: [base, quote, last_trade_at, trade_count_24h]

    MarketsEnvelope:
      allOf:
        - { $ref: "#/components/schemas/EnvelopeMeta" }
        - type: object
          properties:
            data:
              type: array
              items: { $ref: "#/components/schemas/MarketRow" }
            pagination: { $ref: "#/components/schemas/Pagination" }
          required: [data]

    Source:
      type: object
      properties:
        name:               { type: string, description: "Stable connector identifier (matches canonical.Trade.Source)." }
        class:              { type: string, enum: [exchange, aggregator, oracle, authority_sanity], description: "Top-level taxonomy. Drives the aggregator's class filter — only `exchange` contributes to VWAP by default." }
        subclass:           { type: string, enum: [dex, cex, fx], description: "Refines `class=exchange` for UIs that group venues. Empty (omitted) for non-exchange classes." }
        include_in_vwap:    { type: boolean, description: "Whether this source's trades contribute to VWAP." }
        paid:               { type: boolean, description: "Whether this connector requires a paid licence / API key." }
        backfill_available: { type: boolean, description: "Whether the source supports historical backfill via its native API." }
        backfill_safe:      { type: boolean, description: "Whether `ratesengine-ops backfill` will run on this source. On-chain Soroban sources start `false` and only flip `true` after a per-WASM-hash audit (`docs/operations/wasm-audits/`); off-chain CEX/FX sources are always `true`." }
        default_weight:     { type: integer, description: "Default per-source weight for weighted-aggregation paths (when those land)." }
      required: [name, class, include_in_vwap, paid, backfill_available, backfill_safe, default_weight]

    SourcesEnvelope:
      allOf:
        - { $ref: "#/components/schemas/EnvelopeMeta" }
        - type: object
          properties:
            data:
              type: array
              items: { $ref: "#/components/schemas/Source" }
          required: [data]

    PairsEnvelope:
      allOf:
        - { $ref: "#/components/schemas/EnvelopeMeta" }
        - type: object
          properties:
            data:
              type: array
              items: { $ref: "#/components/schemas/MarketRow" }
          required: [data]

    # Oracle passthrough
    OraclePriceEnvelope:
      allOf:
        - { $ref: "#/components/schemas/EnvelopeMeta" }
        - type: object
          properties:
            data:
              type: object
              properties:
                asset:     { type: string }
                price:     { type: string }
                timestamp: { type: string, format: date-time }
              required: [asset, price, timestamp]
          required: [data]

    OraclePricesEnvelope:
      allOf:
        - { $ref: "#/components/schemas/EnvelopeMeta" }
        - type: object
          properties:
            data:
              type: array
              items:
                type: object
                properties:
                  price:     { type: string }
                  timestamp: { type: string, format: date-time }
                required: [price, timestamp]
          required: [data]

    # Account
    Account:
      type: object
      properties:
        key_id:           { type: string }
        label:            { type: string }
        tier:             { type: string, enum: [anonymous, apikey, partner] }
        rate_limit_per_min: { type: integer }
        created_at:       { type: string, format: date-time }

    AccountEnvelope:
      allOf:
        - { $ref: "#/components/schemas/EnvelopeMeta" }
        - type: object
          properties:
            data: { $ref: "#/components/schemas/Account" }
          required: [data]

    UsageRow:
      type: object
      properties:
        date:      { type: string, format: date }
        requests:  { type: integer }
        errors:    { type: integer }
        throttled: { type: integer }

    UsageEnvelope:
      allOf:
        - { $ref: "#/components/schemas/EnvelopeMeta" }
        - type: object
          properties:
            data:
              type: array
              items: { $ref: "#/components/schemas/UsageRow" }
          required: [data]

    KeyCreatedEnvelope:
      allOf:
        - { $ref: "#/components/schemas/EnvelopeMeta" }
        - type: object
          properties:
            data:
              type: object
              properties:
                key_id:    { type: string }
                plaintext: { type: string, description: "Shown once. Store it now." }
                label:     { type: string }
              required: [key_id, plaintext, label]
          required: [data]

    SEP10Challenge:
      type: object
      properties:
        transaction:
          type: string
          description: Base64-encoded XDR of the unsigned challenge transaction. Field name per SEP-10 §3.2.
        network_passphrase:
          type: string
          description: Stellar network the challenge was crafted for (echoed so clients verify before signing). Per SEP-10 §3.2.
        issued_at:  { type: string, format: date-time }
        valid_until: { type: string, format: date-time }
      required: [transaction, network_passphrase, issued_at, valid_until]

    SEP10Token:
      type: object
      properties:
        token:
          type: string
          description: JWT bearer the client sends as `Authorization` on subsequent requests.
        expires_at: { type: string, format: date-time }
        account:
          type: string
          description: G-strkey of the authenticated account; convenience for clients that don't decode the JWT.
      required: [token, expires_at, account]

    # Error (RFC 9457)
    Problem:
      type: object
      description: |
        RFC 9457 problem details. Custom extension fields are snake_case.
        `request_id` echoes the X-Request-ID response header so a
        client bug report containing only the body is enough for
        support to correlate against server logs.
      properties:
        type:       { type: string, format: uri }
        title:      { type: string }
        status:     { type: integer }
        detail:     { type: string }
        instance:   { type: string }
        request_id: { type: string, description: "Mirror of the X-Request-ID response header." }
      required: [type, title, status]
