# yaml-language-server: $schema=https://raw.githubusercontent.com/OAI/OpenAPI-Specification/main/schemas/v3.1/schema.json
#
# Source of truth for the Rates Engine public API.
#
# Every breaking change requires a PR that:
#   1. Updates this file.
#   2. Adds a new /vN path alongside the old one (never edit in place).
#   3. Regenerates docs via `make docs-api`.
#   4. Updates docs/reference/api-design.md if the design intent
#      changed (as opposed to an additive clarification).
#
# Mixed skeleton + live — the /v1/healthz, /readyz, /version, /assets,
# /assets/{asset_id}, /price, /history, /ohlc, /vwap, /twap,
# /markets, /oracle/latest, and /sources paths are implemented
# today. Other paths (price/batch, price/stream, history/since-
# inception, /pairs, /oracle/lastprice, /oracle/prices, account/*,
# SEP-40 passthrough) are on the lint's planned_regex allow-list
# pending their respective feature PRs. See docs/reference/api-design.md.

openapi: 3.1.0
info:
  title: Rates Engine API
  version: "1.0.0-draft"
  summary: Aggregated Stellar asset pricing — real-time and historical.
  description: |
    The Rates Engine API exposes normalised, VWAP-aggregated pricing
    for every classic and SEP-41 Soroban asset on Stellar.

    Design intent: see
    https://github.com/RatesEngine/rates-engine/blob/main/docs/reference/api-design.md

    **Amounts are always strings.** JSON numbers lose precision above
    2^53 and break i128 Soroban token amounts.
  contact:
    name: Rates Engine
    url: https://ratesengine.net
    email: hello@ratesengine.net
  license:
    name: Apache-2.0
    identifier: Apache-2.0
servers:
  - url: https://api.ratesengine.net/v1
    description: Production
  - url: https://api.staging.ratesengine.net/v1
    description: Staging
  - url: http://localhost:3000/v1
    description: Self-hosted / dev

tags:
  - name: health
    description: Liveness + readiness.
  - name: assets
    description: Asset catalogue + metadata.
  - name: price
    description: Current prices, batch, SSE stream.
  - name: history
    description: Historical TWAP / VWAP series.
  - name: ohlc
    description: OHLC candles.
  - name: markets
    description: Liquidity + venue breakdown per asset.
  - name: oracle
    description: |
      Per-source oracle observations (reflector-dex / -cex / -fx, future
      redstone / band / chainlink). The SEP-40-shaped passthrough
      endpoints (/oracle/lastprice, /oracle/prices, /oracle/x_last_price)
      are planned, not implemented today.
  - name: account
    description: Self-service for API-key holders.
  - name: meta
    description: |
      Metadata about the deployment itself — source catalogue,
      build info — not the trade / oracle / price data.

security:
  - {}                          # anonymous allowed on most endpoints
  - APIKeyAuth: []              # API-key authenticated

paths:
  /healthz:
    get:
      tags: [health]
      summary: Liveness — process is up.
      security: []
      responses:
        "200":
          description: Alive.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/HealthResponse" }

  /readyz:
    get:
      tags: [health]
      summary: Readiness — all dependencies reachable.
      security: []
      responses:
        "200":
          description: Ready to serve.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/HealthResponse" }
        "503":
          description: Dependencies unreachable.
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }

  /version:
    get:
      tags: [health]
      summary: Build metadata.
      security: []
      responses:
        "200":
          description: Version string, build date, git SHA.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/VersionResponse" }

  /assets:
    get:
      tags: [assets]
      summary: List indexed assets.
      description: |
        Paginated list of every asset that has appeared (as base or
        quote) in the trades hypertable. Cursor is opaque; limit
        clamped server-side to [1, 500].

        The `type` / `code` / `issuer` filter params are planned but
        not yet implemented — the current handler ignores any filter
        params and returns the unfiltered page. See the TypeFilter,
        CodeFilter, IssuerFilter schemas below for the planned
        shape; they are not wired to any request until the filter
        path ships.
      parameters:
        - { $ref: "#/components/parameters/Cursor" }
        - { $ref: "#/components/parameters/Limit" }
      responses:
        "200":
          description: Page of assets.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AssetListEnvelope" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /assets/{asset_id}:
    get:
      tags: [assets]
      summary: Asset detail.
      parameters:
        - { $ref: "#/components/parameters/AssetIdPath" }
      responses:
        "200":
          description: Asset + metadata.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AssetEnvelope" }
        "404": { $ref: "#/components/responses/NotFound" }

  /assets/{asset_id}/metadata:
    get:
      tags: [assets]
      summary: Extended metadata (SEP-1 CURRENCIES block).
      parameters:
        - { $ref: "#/components/parameters/AssetIdPath" }
      responses:
        "200":
          description: Extended metadata.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AssetMetadataEnvelope" }
        "404": { $ref: "#/components/responses/NotFound" }

  /price:
    get:
      tags: [price]
      summary: Current aggregated price for one asset.
      parameters:
        - { $ref: "#/components/parameters/AssetQuery" }
        - { $ref: "#/components/parameters/Quote" }
      responses:
        "200":
          description: Current price with freshness flags.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PriceEnvelope" }
        "400":        { $ref: "#/components/responses/BadRequest" }
        "404":        { $ref: "#/components/responses/NotFound" }
        "429":        { $ref: "#/components/responses/RateLimited" }
        "500":        { $ref: "#/components/responses/InternalError" }
        "503":        { $ref: "#/components/responses/ServiceUnavailable" }

  /price/batch:
    get:
      tags: [price]
      summary: Current prices for up to 100 assets.
      parameters:
        - name: asset_ids
          in: query
          required: true
          schema: { type: string }
          description: Comma-separated, max 100.
        - { $ref: "#/components/parameters/Quote" }
      responses:
        "200":
          description: Batch prices.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PriceBatchEnvelope" }
    post:
      tags: [price]
      summary: Current prices for up to 1000 assets.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                asset_ids:
                  type: array
                  items: { type: string }
                  maxItems: 1000
                quote:
                  type: string
                  default: USD
              required: [asset_ids]
      responses:
        "200":
          description: Batch prices.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PriceBatchEnvelope" }

  /price/stream:
    get:
      tags: [price]
      summary: SSE stream of price updates.
      parameters:
        - { $ref: "#/components/parameters/AssetQuery" }
        - { $ref: "#/components/parameters/Quote" }
      responses:
        "200":
          description: SSE stream (`text/event-stream`).
          content:
            text/event-stream:
              schema: { type: string }

  /history:
    get:
      tags: [history]
      summary: Raw trade history for a pair in a time window.
      description: |
        Returns per-trade records ordered (ts, ledger, tx_hash, op_index, source)
        ascending. Cursor paginates across the full-PK tuple; truncating
        the cursor at (ts, ledger) would drop rows sharing those
        values (high-volume ledgers).

        Bucketed/granularity-based history (VWAP/TWAP series at 1m/15m/...)
        will ship via the aggregator binary (see
        cmd/ratesengine-aggregator) on a different response shape —
        not this endpoint.
      parameters:
        - { $ref: "#/components/parameters/Base" }
        - { $ref: "#/components/parameters/Quote" }
        - { $ref: "#/components/parameters/From" }
        - { $ref: "#/components/parameters/To" }
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 10000, default: 1000 }
        - { $ref: "#/components/parameters/Cursor" }
      responses:
        "200":
          description: Per-trade records.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TradeHistoryEnvelope" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /history/since-inception:
    get:
      tags: [history]
      summary: Alias for `/history?timeframe=all`.
      parameters:
        - { $ref: "#/components/parameters/AssetQuery" }
        - { $ref: "#/components/parameters/Quote" }
        - { $ref: "#/components/parameters/Granularity" }
      responses:
        "200":
          description: Since-inception series.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/HistoryEnvelope" }

  /ohlc:
    get:
      tags: [ohlc]
      summary: Single OHLC bar for a pair over a window.
      description: |
        Single-bar response for the window [from, to). Interval-series
        (N bars, each interval-seconds wide) is a follow-up —
        delivered via the aggregator's continuous-aggregate path.

        Defaults: `from = to - 1h`, `to = now`. `truncated=true` on
        the response means the window had more trades than the
        server's per-request cap (10000) and the bar reflects only
        the chronologically-first N; narrow the window or wait for
        CAGG-backed endpoints.
      parameters:
        - { $ref: "#/components/parameters/Base" }
        - { $ref: "#/components/parameters/Quote" }
        - { $ref: "#/components/parameters/From" }
        - { $ref: "#/components/parameters/To" }
      responses:
        "200":
          description: Single OHLC bar.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OHLCEnvelope" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /vwap:
    get:
      tags: [prices]
      summary: Volume-weighted average price over a window.
      description: |
        Returns VWAP = Σ(quote) / Σ(base) for every trade in
        [from, to) for the given pair. Optional outlier filter
        drops prices > N σ from the window mean. When the window
        has more than the server's per-request cap (10000 trades)
        the response carries `truncated: true` — the price
        reflects only the chronologically-first N trades, not the
        full window.
      parameters:
        - { $ref: "#/components/parameters/Base" }
        - { $ref: "#/components/parameters/Quote" }
        - { $ref: "#/components/parameters/From" }
        - { $ref: "#/components/parameters/To" }
        - name: outlier_sigma
          in: query
          schema: { type: number, minimum: 0 }
          description: "Drop trades > N σ from window mean. 0 disables (default)."
      responses:
        "200":
          description: Volume-weighted price + volumes + trade count.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/VWAPEnvelope" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "404":
          description: No trades in window.
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "422":
          description: All trades filtered as outliers.
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /twap:
    get:
      tags: [prices]
      summary: Time-weighted average price over a window.
      description: |
        Each trade's price is active from its timestamp to the
        next trade's (or windowEnd for the last). TWAP is the
        duration-weighted mean. No outlier filter: time-weighting
        is itself outlier-resistant (spurious prints get only
        their slot duration, not a full window's worth).
      parameters:
        - { $ref: "#/components/parameters/Base" }
        - { $ref: "#/components/parameters/Quote" }
        - { $ref: "#/components/parameters/From" }
        - { $ref: "#/components/parameters/To" }
      responses:
        "200":
          description: Time-weighted price + trade count.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TWAPEnvelope" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "404":
          description: No trades in window.
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /oracle/latest:
    get:
      tags: [oracle]
      summary: Latest oracle reading per source for an asset.
      description: |
        Returns one OracleReading per source (reflector-dex /
        reflector-cex / reflector-fx / future redstone / band
        etc.) that has observed the asset. Optional source
        filter restricts to a single source.
      parameters:
        - { $ref: "#/components/parameters/AssetQuery" }
        - name: source
          in: query
          schema: { type: string }
          description: "Optional. Restrict to a single source name."
      responses:
        "200":
          description: Array of OracleReading (empty when no observations).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OracleLatestEnvelope" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /markets:
    get:
      tags: [markets]
      summary: Distinct trading pairs with activity summary.
      description: |
        One entry per (base, quote) pair present in the trades
        store. Cursor-paginated (opaque cursor keyed on
        `<base>|<quote>`). Each entry reports the pair's most
        recent trade timestamp + a 24h trade count.
      parameters:
        - { $ref: "#/components/parameters/Cursor" }
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 500, default: 100 }
      responses:
        "200":
          description: Array of markets + optional next cursor.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MarketsEnvelope" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /sources:
    get:
      tags: [meta]
      summary: Source catalogue with class + IncludeInVWAP metadata.
      description: |
        Static projection of the aggregator's source registry — every
        venue we know about, labelled with the class semantic that
        decides whether it contributes to VWAP. Sources with
        `include_in_vwap=false` are intentional policy
        (aggregator/oracle/authority_sanity classes), not missing
        connectors. Operators consult this endpoint to confirm a
        venue is recognised before debugging an absence in /v1/markets
        or /v1/vwap.
      parameters:
        - name: class
          in: query
          required: false
          description: |
            Optional class filter. When set, only sources of the
            given class are returned. Useful for dashboards that
            split the catalogue by role.
          schema:
            type: string
            enum: [exchange, aggregator, oracle, authority_sanity]
      responses:
        "200":
          description: Array of sources, sorted by name.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SourcesEnvelope" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /pairs:
    get:
      tags: [markets]
      summary: Direct markets for a pair.
      parameters:
        - name: base
          in: query
          required: true
          schema: { type: string }
        - name: quote
          in: query
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Pairs.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PairsEnvelope" }

  /oracle/lastprice:
    get:
      tags: [oracle]
      summary: SEP-40 lastprice-equivalent passthrough.
      parameters:
        - name: asset
          in: query
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Price record.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OraclePriceEnvelope" }

  /oracle/prices:
    get:
      tags: [oracle]
      summary: SEP-40 prices-equivalent passthrough (N historical).
      parameters:
        - name: asset
          in: query
          required: true
          schema: { type: string }
        - name: records
          in: query
          schema: { type: integer, minimum: 1, maximum: 200, default: 60 }
      responses:
        "200":
          description: Historical records.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OraclePricesEnvelope" }

  /oracle/x_last_price:
    get:
      tags: [oracle]
      summary: SEP-40 x_last_price-equivalent (cross-pair).
      parameters:
        - name: base
          in: query
          required: true
          schema: { type: string }
        - name: quote
          in: query
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Cross-pair last price.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OraclePriceEnvelope" }

  /account/me:
    get:
      tags: [account]
      summary: API-key holder info + quota status.
      security:
        - APIKeyAuth: []
      responses:
        "200":
          description: Account.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AccountEnvelope" }

  /account/usage:
    get:
      tags: [account]
      summary: Daily usage summary.
      security:
        - APIKeyAuth: []
      parameters:
        - { $ref: "#/components/parameters/From" }
        - { $ref: "#/components/parameters/To" }
      responses:
        "200":
          description: Usage records.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/UsageEnvelope" }

  /account/keys:
    post:
      tags: [account]
      summary: Create a new API key.
      security:
        - APIKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                label: { type: string, maxLength: 128 }
              required: [label]
      responses:
        "201":
          description: New key — plaintext shown **once**.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/KeyCreatedEnvelope" }

components:
  securitySchemes:
    APIKeyAuth:
      type: http
      scheme: bearer
      bearerFormat: "rek_* (Rates Engine key)"

  parameters:
    AssetIdPath:
      name: asset_id
      in: path
      required: true
      schema: { type: string }
      description: |
        Canonical asset identifier. One of `native`, `<code>-<issuer>`,
        `<code>:<issuer>` (alias), or `<contract_id>`. Strkeys
        validated per SEP-23.
    AssetQuery:
      name: asset
      in: query
      required: true
      schema: { type: string }
      description: |
        Canonical asset identifier — matches the `asset_id` on
        response bodies. Query-parameter form is the shorter `asset`
        per the handler implementations (/v1/price, /v1/oracle/latest).
    Quote:
      name: quote
      in: query
      schema: { type: string, default: USD }
      description: ISO-4217 fiat or crypto asset_id. Default `USD`.
    Timeframe:
      name: timeframe
      in: query
      schema:
        type: string
        enum: [1h, 24h, 1w, 1mo, 1y, all]
        default: 24h
    Granularity:
      name: granularity
      in: query
      schema:
        type: string
        enum: [1m, 15m, 1h, 4h, 1d, 1w, 1mo]
    Base:
      name: base
      in: query
      required: true
      schema: { type: string }
      description: Canonical asset identifier for the base side of a pair.
    From:
      name: from
      in: query
      schema: { type: string, format: date-time }
    To:
      name: to
      in: query
      schema: { type: string, format: date-time }
    PriceType:
      name: price_type
      in: query
      schema:
        type: string
        enum: [vwap, twap]
        default: vwap
    TypeFilter:
      name: type
      in: query
      schema:
        type: string
        enum: [native, classic, soroban, fiat, any]
        default: any
    CodeFilter:
      name: code
      in: query
      schema: { type: string }
    IssuerFilter:
      name: issuer
      in: query
      schema: { type: string }
    Cursor:
      name: cursor
      in: query
      description: |
        Opaque pagination token echoed from a prior response's
        `pagination.next`. Pass it verbatim — it is a base64url-encoded
        blob whose internal shape is an implementation detail and
        changes without notice. Clients MUST NOT parse, decode, or
        construct cursors by hand.

        A cursor is stable across retries but not across schema
        changes; treat it as short-lived (minutes, not days). Empty
        means "start from the beginning".
      schema: { type: string }
    Limit:
      name: limit
      in: query
      schema: { type: integer, minimum: 1, maximum: 500, default: 100 }

  responses:
    # Shared non-2xx shapes — every error path the server produces
    # uses the RFC 9457 Problem payload. New endpoint entries SHOULD
    # reference these (via `default:` or explicit status codes)
    # rather than declaring inline schemas, so the wire contract
    # stays consistent.
    NotFound:
      description: Not found.
      content:
        application/problem+json:
          schema: { $ref: "#/components/schemas/Problem" }
    BadRequest:
      description: Client-supplied parameters didn't validate.
      content:
        application/problem+json:
          schema: { $ref: "#/components/schemas/Problem" }
    RateLimited:
      description: Rate-limit quota exhausted. See `Retry-After` header.
      headers:
        Retry-After:
          schema: { type: integer, minimum: 1 }
          description: Seconds until the caller can retry.
        X-RateLimit-Limit:
          schema: { type: integer }
        X-RateLimit-Remaining:
          schema: { type: integer }
      content:
        application/problem+json:
          schema: { $ref: "#/components/schemas/Problem" }
    InternalError:
      description: Internal error. Body includes the request_id for correlation.
      content:
        application/problem+json:
          schema: { $ref: "#/components/schemas/Problem" }
    ServiceUnavailable:
      description: Server is degraded (dependency outage, startup, shutdown).
      content:
        application/problem+json:
          schema: { $ref: "#/components/schemas/Problem" }

  schemas:
    # Base envelope pieces
    Flags:
      type: object
      description: Advisory quality markers. See docs/architecture/ha-plan.md §9.
      properties:
        stale:              { type: boolean, default: false }
        reduced_redundancy: { type: boolean, default: false }
        triangulated:       { type: boolean, default: false }
        divergence_warning: { type: boolean, default: false }
      required: [stale, reduced_redundancy, triangulated, divergence_warning]

    Pagination:
      type: object
      description: |
        Present on list endpoints when more rows exist beyond the
        current page. Absent on the final page — clients must detect
        "no more data" by checking for the absence of this object,
        not by parsing `next`.
      properties:
        next:
          type: string
          nullable: true
          description: |
            Opaque token to pass as the `cursor` query parameter on
            the next request. Base64url-encoded; contents are an
            implementation detail and change without notice. Clients
            MUST pass this value verbatim — do not decode or
            manipulate.

    EnvelopeMeta:
      type: object
      description: Every 2xx response carries these.
      properties:
        as_of: { type: string, format: date-time }
        sources:
          type: array
          items: { type: string }
        flags: { $ref: "#/components/schemas/Flags" }
      required: [as_of, flags]

    # Health
    HealthResponse:
      type: object
      properties:
        status: { type: string, enum: [ok, degraded] }
      required: [status]

    VersionResponse:
      allOf:
        - { $ref: "#/components/schemas/EnvelopeMeta" }
        - type: object
          properties:
            data:
              type: object
              properties:
                version:    { type: string, description: "Human-readable git-describe (or `dev`)." }
                build_date: { type: string, description: "ISO-8601 UTC build timestamp (or `unknown`)." }
                commit:     { type: string, description: "Full VCS revision SHA from runtime/debug.BuildInfo (or `unknown`)." }
                dirty:      { type: string, description: "`true` if the build tree had uncommitted changes; `false` otherwise. Production builds should always be `false`." }
                go_version: { type: string, description: "Runtime Go version (e.g. `go1.22.3`)." }
              required: [version, build_date, commit, dirty, go_version]
          required: [data]

    # Asset catalogue
    Asset:
      type: object
      properties:
        asset_id:     { type: string }
        type:         { type: string, enum: [native, classic, soroban, fiat] }
        code:         { type: string }
        issuer:       { type: string, nullable: true }
        contract_id:  { type: string, nullable: true }
        home_domain:  { type: string, nullable: true }
        decimals:     { type: integer }
        sep1_status:
          type: string
          enum: [not_applicable, not_fetched, verified, no_match, unreachable]
          description: |
            State of the SEP-1 overlay for this asset.
            - not_applicable: no home-domain (native, fiat, SAC-only).
            - not_fetched:    has a home-domain but resolver wasn't wired.
            - verified:       SEP-1 fetched + matching [[CURRENCIES]] entry found.
            - no_match:       SEP-1 fetched but no matching issuer+code entry.
            - unreachable:    fetch / parse failed (see server logs).
        # Overlay fields, populated only when sep1_status == "verified"
        # (some also present for "no_match" — org_name).
        name:              { type: string, nullable: true }
        description:       { type: string, nullable: true }
        image:             { type: string, nullable: true }
        org_name:          { type: string, nullable: true }
        anchor_asset:      { type: string, nullable: true }
        anchor_asset_type: { type: string, nullable: true }
      required: [asset_id, type, code, decimals, sep1_status]

    AssetEnvelope:
      allOf:
        - { $ref: "#/components/schemas/EnvelopeMeta" }
        - type: object
          properties:
            data: { $ref: "#/components/schemas/Asset" }
          required: [data]

    AssetListEnvelope:
      allOf:
        - { $ref: "#/components/schemas/EnvelopeMeta" }
        - type: object
          properties:
            data:
              type: array
              items: { $ref: "#/components/schemas/Asset" }
            pagination: { $ref: "#/components/schemas/Pagination" }
          # pagination is OMITTED on the final page (no more rows).
          # Matches the handler behaviour: env.Pagination is set only
          # when the storage layer returned a non-empty next-cursor.
          required: [data]

    AssetMetadata:
      type: object
      properties:
        asset_id:    { type: string }
        name:        { type: string, nullable: true }
        description: { type: string, nullable: true }
        image_url:   { type: string, nullable: true }
        org_name:    { type: string, nullable: true }
        conditions:  { type: string, nullable: true }
        fixed_number:   { type: string, nullable: true, description: "Static-issuance (SEP-1 TOKEN `fixed_number`) as string." }
        max_number:     { type: string, nullable: true }
        is_unlimited:   { type: boolean, nullable: true }

    AssetMetadataEnvelope:
      allOf:
        - { $ref: "#/components/schemas/EnvelopeMeta" }
        - type: object
          properties:
            data: { $ref: "#/components/schemas/AssetMetadata" }
          required: [data]

    # Price
    #
    # Fields marked "aggregator" are populated once the aggregator
    # binary lands (see cmd/ratesengine-aggregator/main.go). Until
    # then, handlers may omit them — clients must treat absence as
    # "unknown", not an error. Nullable on the wire; required-by-name
    # in the OpenAPI sense means "the key will appear", not "it will
    # have a value".
    Price:
      type: object
      properties:
        asset_id:          { type: string }
        quote:             { type: string }
        price:             { type: string, description: "Decimal string. Never JSON number." }
        price_type:        { type: string, enum: [vwap, twap, last_trade] }
        # observed_at = close-time of the underlying last_trade (for
        # last_trade price_type) or end of the aggregation window
        # (for vwap/twap). RFC 3339, UTC.
        observed_at:       { type: string, format: date-time }
        window_seconds:    { type: integer, nullable: true, description: "Window size for vwap/twap; omitted for last_trade." }
        # Aggregator-populated (not yet live).
        change_24h_pct:    { type: string, nullable: true, description: "aggregator" }
        volume_24h_usd:    { type: string, nullable: true, description: "aggregator" }
        market_cap_usd:    { type: string, nullable: true, description: "aggregator + supply derivation" }
        fdv_usd:           { type: string, nullable: true, description: "aggregator + supply derivation" }
        circulating_supply:{ type: string, nullable: true, description: "supply derivation" }
        total_supply:      { type: string, nullable: true, description: "supply derivation" }
        max_supply:        { type: string, nullable: true, description: "supply derivation" }
      required: [asset_id, quote, price, price_type, observed_at]

    PriceEnvelope:
      allOf:
        - { $ref: "#/components/schemas/EnvelopeMeta" }
        - type: object
          properties:
            data: { $ref: "#/components/schemas/Price" }
          required: [data]

    PriceBatchEnvelope:
      allOf:
        - { $ref: "#/components/schemas/EnvelopeMeta" }
        - type: object
          properties:
            data:
              type: array
              items: { $ref: "#/components/schemas/Price" }
          required: [data]

    # History
    #
    # Today /history returns raw per-trade rows (TradeRow). The
    # aggregator-backed bucketed history (OHLC/VWAP time series at
    # granularity 1m/15m/...) will ship on a different endpoint or
    # a `bucketed=true` flag — this schema reflects what the handler
    # actually serves.
    #
    # HistoryPoint + HistoryEnvelope stay in the spec for the
    # /history/since-inception (planned) endpoint. They are NOT
    # what /history returns today.
    HistoryPoint:
      type: object
      properties:
        t:     { type: string, format: date-time }
        p:     { type: string }
        v_usd: { type: string, nullable: true }
      required: [t, p]

    HistoryEnvelope:
      allOf:
        - { $ref: "#/components/schemas/EnvelopeMeta" }
        - type: object
          properties:
            data:
              type: object
              properties:
                asset_id:    { type: string }
                quote:       { type: string }
                price_type:  { type: string, enum: [vwap, twap] }
                granularity: { type: string }
                points:
                  type: array
                  items: { $ref: "#/components/schemas/HistoryPoint" }
              required: [asset_id, quote, price_type, granularity, points]
          required: [data]

    TradeRow:
      type: object
      properties:
        source:       { type: string }
        ledger:       { type: integer }
        tx_hash:      { type: string, description: "64 lowercase hex chars." }
        op_index:     { type: integer }
        ts:           { type: string, format: date-time }
        base_asset:   { type: string }
        quote_asset:  { type: string }
        base_amount:  { type: string, description: "Integer stroops, decimal string." }
        quote_amount: { type: string, description: "Integer stroops, decimal string." }
        price:        { type: string, description: "quote/base, 10-digit decimal." }
      required: [source, ledger, tx_hash, op_index, ts, base_asset, quote_asset, base_amount, quote_amount, price]

    TradeHistoryEnvelope:
      allOf:
        - { $ref: "#/components/schemas/EnvelopeMeta" }
        - type: object
          properties:
            data:
              type: array
              items: { $ref: "#/components/schemas/TradeRow" }
            pagination: { $ref: "#/components/schemas/Pagination" }
          required: [data]

    # OHLC
    OHLCBar:
      type: object
      properties:
        from:
          type: string
          format: date-time
          description: |
            Inclusive lower bound of the bar window. Like VWAPResult.from,
            see ADR-0015 for the closed-bucket clamp semantics that
            preserve cross-region rate equality.
        to:
          type: string
          format: date-time
          description: |
            Exclusive upper bound of the bar window. Clamped to a 30 s
            boundary when the request omitted `to`.
        open:         { type: string, description: "Decimal string, 10 digits." }
        high:         { type: string }
        low:          { type: string }
        close:        { type: string }
        base_volume:  { type: string, description: "Σ base_amount integer stroops." }
        quote_volume: { type: string, description: "Σ quote_amount integer stroops." }
        trade_count:  { type: integer }
        truncated:    { type: boolean, description: "True when window exceeded the per-request trade cap; bar reflects only the first N." }
      required: [from, to, open, high, low, close, base_volume, quote_volume, trade_count, truncated]

    OHLCEnvelope:
      allOf:
        - { $ref: "#/components/schemas/EnvelopeMeta" }
        - type: object
          properties:
            data: { $ref: "#/components/schemas/OHLCBar" }
          required: [data]

    # VWAP / TWAP
    #
    # IMPORTANT — closed-bucket serving (ADR-0015)
    #
    # The `from` and `to` fields collectively act as the response's
    # `as_of` range — they tell the client EXACTLY which window the
    # rate covers. When the client did not supply a `to` query
    # parameter, the server clamps the implicit "now" DOWN to the
    # nearest 30-second boundary. This is what makes "all 3 regions
    # serve the same rate" a real property: two requests landing in
    # the same 30 s window resolve to identical [from, to) ranges
    # and (once underlying trades have replicated to all regions)
    # byte-equivalent JSON.
    #
    # When the client DID supply `to` explicitly, that value is
    # preserved verbatim — the clamp only applies to the default-now
    # path.
    #
    # Implication: rates served by these endpoints are 0–30 s old
    # (default window). This is within the Freighter ≤30 s freshness
    # SLA. Clients needing tick-by-tick live data should subscribe
    # to /v1/price/stream (planned) rather than polling these.
    VWAPResult:
      type: object
      properties:
        from:
          type: string
          format: date-time
          description: |
            Inclusive lower bound of the window the rate covers.
            Used as part of the as_of identity for cross-region rate
            equality (ADR-0015).
        to:
          type: string
          format: date-time
          description: |
            Exclusive upper bound of the window. When the request
            omitted `to`, this is clamped down to a 30-second
            boundary so two parallel requests in the same window
            return identical responses across regions. When the
            request supplied `to` explicitly, this echoes the
            request value.
        price:             { type: string, description: "VWAP decimal, 10 digits." }
        base_volume:       { type: string }
        quote_volume:      { type: string }
        trade_count:       { type: integer }
        outliers_filtered: { type: integer }
        truncated:         { type: boolean }
      required: [from, to, price, base_volume, quote_volume, trade_count, outliers_filtered, truncated]

    VWAPEnvelope:
      allOf:
        - { $ref: "#/components/schemas/EnvelopeMeta" }
        - type: object
          properties:
            data: { $ref: "#/components/schemas/VWAPResult" }
          required: [data]

    TWAPResult:
      type: object
      properties:
        from:
          type: string
          format: date-time
          description: |
            Inclusive lower bound of the window. See VWAPResult.from
            and ADR-0015 for the closed-bucket clamp semantics.
        to:
          type: string
          format: date-time
          description: |
            Exclusive upper bound of the window. Clamped to a 30 s
            boundary when the request omitted `to`. See VWAPResult.to.
        price:       { type: string, description: "TWAP decimal, 10 digits." }
        trade_count: { type: integer }
        truncated:   { type: boolean }
      required: [from, to, price, trade_count, truncated]

    TWAPEnvelope:
      allOf:
        - { $ref: "#/components/schemas/EnvelopeMeta" }
        - type: object
          properties:
            data: { $ref: "#/components/schemas/TWAPResult" }
          required: [data]

    # Oracle latest
    OracleReading:
      type: object
      properties:
        source:      { type: string, description: "e.g. reflector-dex, reflector-cex, reflector-fx." }
        contract_id: { type: string, description: "C-strkey, omitted for off-chain sources." }
        asset:       { type: string }
        quote:       { type: string }
        ts:          { type: string, format: date-time }
        price:       { type: string, description: "Decimal string at declared decimals scale." }
        price_raw:   { type: string, description: "Raw integer value preserved for cross-check (ADR-0003)." }
        decimals:    { type: integer, minimum: 0, maximum: 38 }
        confidence:  { type: number, minimum: 0, maximum: 1, description: "0 means unreported, not zero-confidence." }
        observer:    { type: string, description: "G-strkey of the publishing account; empty when unknown." }
      required: [source, asset, quote, ts, price, price_raw, decimals]

    OracleLatestEnvelope:
      allOf:
        - { $ref: "#/components/schemas/EnvelopeMeta" }
        - type: object
          properties:
            data:
              type: array
              items: { $ref: "#/components/schemas/OracleReading" }
          required: [data]

    # Markets / Pairs
    #
    # MarketRow is one (base, quote) pair present in the trades
    # store. `last_price` / `volume_24h_usd` land with the aggregator;
    # the current handler returns the (base, quote, recency, 24h-count)
    # shape below.
    MarketRow:
      type: object
      properties:
        base:            { type: string }
        quote:           { type: string }
        last_trade_at:   { type: string, format: date-time }
        trade_count_24h: { type: integer, description: "Activity count in the trailing 24h window." }
      required: [base, quote, last_trade_at, trade_count_24h]

    MarketsEnvelope:
      allOf:
        - { $ref: "#/components/schemas/EnvelopeMeta" }
        - type: object
          properties:
            data:
              type: array
              items: { $ref: "#/components/schemas/MarketRow" }
            pagination: { $ref: "#/components/schemas/Pagination" }
          required: [data]

    Source:
      type: object
      properties:
        name:               { type: string, description: "Stable connector identifier (matches canonical.Trade.Source)." }
        class:              { type: string, enum: [exchange, aggregator, oracle, authority_sanity] }
        include_in_vwap:    { type: boolean, description: "Whether this source's trades contribute to VWAP." }
        paid:               { type: boolean, description: "Whether this connector requires a paid licence / API key." }
        backfill_available: { type: boolean, description: "Whether the source supports historical backfill via its native API." }
        default_weight:     { type: integer, description: "Default per-source weight for weighted-aggregation paths (when those land)." }
      required: [name, class, include_in_vwap, paid, backfill_available, default_weight]

    SourcesEnvelope:
      allOf:
        - { $ref: "#/components/schemas/EnvelopeMeta" }
        - type: object
          properties:
            data:
              type: array
              items: { $ref: "#/components/schemas/Source" }
          required: [data]

    PairsEnvelope:
      allOf:
        - { $ref: "#/components/schemas/EnvelopeMeta" }
        - type: object
          properties:
            data:
              type: array
              items: { $ref: "#/components/schemas/MarketRow" }
          required: [data]

    # Oracle passthrough
    OraclePriceEnvelope:
      allOf:
        - { $ref: "#/components/schemas/EnvelopeMeta" }
        - type: object
          properties:
            data:
              type: object
              properties:
                asset:     { type: string }
                price:     { type: string }
                timestamp: { type: string, format: date-time }
              required: [asset, price, timestamp]
          required: [data]

    OraclePricesEnvelope:
      allOf:
        - { $ref: "#/components/schemas/EnvelopeMeta" }
        - type: object
          properties:
            data:
              type: array
              items:
                type: object
                properties:
                  price:     { type: string }
                  timestamp: { type: string, format: date-time }
                required: [price, timestamp]
          required: [data]

    # Account
    Account:
      type: object
      properties:
        key_id:           { type: string }
        label:            { type: string }
        tier:             { type: string, enum: [anonymous, apikey, partner] }
        rate_limit_per_min: { type: integer }
        created_at:       { type: string, format: date-time }

    AccountEnvelope:
      allOf:
        - { $ref: "#/components/schemas/EnvelopeMeta" }
        - type: object
          properties:
            data: { $ref: "#/components/schemas/Account" }
          required: [data]

    UsageRow:
      type: object
      properties:
        date:      { type: string, format: date }
        requests:  { type: integer }
        errors:    { type: integer }
        throttled: { type: integer }

    UsageEnvelope:
      allOf:
        - { $ref: "#/components/schemas/EnvelopeMeta" }
        - type: object
          properties:
            data:
              type: array
              items: { $ref: "#/components/schemas/UsageRow" }
          required: [data]

    KeyCreatedEnvelope:
      allOf:
        - { $ref: "#/components/schemas/EnvelopeMeta" }
        - type: object
          properties:
            data:
              type: object
              properties:
                key_id:    { type: string }
                plaintext: { type: string, description: "Shown once. Store it now." }
                label:     { type: string }
              required: [key_id, plaintext, label]
          required: [data]

    # Error (RFC 9457)
    Problem:
      type: object
      description: |
        RFC 9457 problem details. Custom extension fields are snake_case.
        `request_id` echoes the X-Request-ID response header so a
        client bug report containing only the body is enough for
        support to correlate against server logs.
      properties:
        type:       { type: string, format: uri }
        title:      { type: string }
        status:     { type: integer }
        detail:     { type: string }
        instance:   { type: string }
        request_id: { type: string, description: "Mirror of the X-Request-ID response header." }
      required: [type, title, status]
