# yaml-language-server: $schema=https://raw.githubusercontent.com/OAI/OpenAPI-Specification/main/schemas/v3.1/schema.json
#
# Source of truth for the Rates Engine public API.
#
# Every breaking change requires a PR that:
#   1. Updates this file.
#   2. Adds a new /vN path alongside the old one (never edit in place).
#   3. Regenerates docs via `make docs-api`.
#   4. Updates docs/reference/api-design.md if the design intent
#      changed (as opposed to an additive clarification).
#
# Every documented path is implemented in internal/api/v1/ — the
# spec and the live handler set are 1:1 (CI's openapi-handler drift
# check at scripts/ci/lint-docs.sh §11 enforces this). See
# docs/reference/api-design.md for the design rationale + headers
# / rate-limit / observability behaviour the middleware emits.

openapi: 3.1.0
info:
  title: Rates Engine API
  version: "1.0.0-draft"
  summary: Aggregated Stellar asset pricing — real-time and historical.
  description: |
    The Rates Engine API exposes normalised, VWAP-aggregated pricing
    for every classic and SEP-41 Soroban asset on Stellar.

    Design intent: see
    https://github.com/RatesEngine/rates-engine/blob/main/docs/reference/api-design.md

    **Amounts are always strings.** JSON numbers lose precision above
    2^53 and break i128 Soroban token amounts.
  contact:
    name: Rates Engine
    url: https://ratesengine.net
    email: hello@ratesengine.net
  license:
    name: Apache-2.0
    identifier: Apache-2.0
servers:
  - url: https://api.ratesengine.net/v1
    description: Production
  - url: https://api.staging.ratesengine.net/v1
    description: Staging
  - url: http://localhost:3000/v1
    description: Self-hosted / dev

tags:
  - name: health
    description: Liveness + readiness.
  - name: assets
    description: Asset catalogue + metadata.
  - name: price
    description: Current prices, batch, SSE stream.
  - name: history
    description: Historical TWAP / VWAP series.
  - name: ohlc
    description: OHLC candles.
  - name: markets
    description: Liquidity + venue breakdown per asset.
  - name: oracle
    description: |
      Per-source oracle observations (reflector-dex / -cex / -fx,
      redstone, band) plus SEP-40-shaped passthroughs
      (/oracle/lastprice, /oracle/prices, /oracle/x_last_price)
      that mirror Reflector's contract surface for client SDKs that
      already speak SEP-40.
  - name: account
    description: Self-service for API-key holders.
  - name: meta
    description: |
      Metadata about the deployment itself — source catalogue,
      build info — not the trade / oracle / price data.

security:
  - {}                          # anonymous allowed on most endpoints
  - APIKeyAuth: []              # API-key authenticated

paths:
  /healthz:
    get:
      tags: [health]
      summary: Liveness — process is up.
      security: []
      responses:
        "200":
          description: Alive.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/HealthResponse" }

  /readyz:
    get:
      tags: [health]
      summary: Readiness — all dependencies reachable.
      security: []
      responses:
        "200":
          description: Ready to serve.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/HealthResponse" }
        "503":
          description: Dependencies unreachable.
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }

  /version:
    get:
      tags: [health]
      summary: Build metadata.
      security: []
      responses:
        "200":
          description: Version string, build date, git SHA.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/VersionResponse" }

  /status:
    get:
      tags: [health]
      summary: Comprehensive system health rollup for the public status page.
      description: |
        Customer-facing surface — what the showcase status page renders.
        Returns per-service heartbeats (api / indexer / aggregator),
        API histogram-derived p50/p95/p99 latency over the last 5
        minutes, ingest freshness signals, and a count of currently-
        firing Alertmanager incidents grouped by severity.

        Always returns 200; the body's `overall` field reports
        degraded state rather than an HTTP error so monitoring
        dashboards can poll a single endpoint without alerting on
        503s. When the API isn't wired against a Prometheus backend,
        only the in-process surface (region label + uptime) is
        populated and `flags.stale=true`.
      security: []
      responses:
        "200":
          description: Status rollup envelope.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/StatusEnvelope" }
              example:
                data:
                  overall: ok
                  region: { name: r1, deployment: production }
                  services:
                    - { name: api,        status: ok, last_seen: "2026-05-05T15:09:00.116Z" }
                    - { name: indexer,    status: ok, last_seen: "2026-05-05T15:08:46Z" }
                    - { name: aggregator, status: ok, last_seen: "2026-05-05T15:08:47Z" }
                  latency:
                    p50_ms: 0.6
                    p95_ms: 3.85
                    p99_ms: 4.77
                    window_secs: 300
                  freshness:
                    last_aggregator_tick: "2026-05-05T15:08:57Z"
                    active_sources: 13
                    total_sources: 17
                  incidents:
                    active_count: 0
                    page_count: 0
                    ticket_count: 0
                    informational_count: 0
                as_of: "2026-05-05T15:09:00.119Z"
                flags: { stale: false, reduced_redundancy: false, triangulated: false, divergence_warning: false }

  /assets:
    get:
      tags: [assets]
      summary: List indexed assets.
      description: |
        Paginated list of every asset that has appeared (as base or
        quote) in the trades hypertable. Cursor is opaque; limit
        clamped server-side to [1, 500].

        The `type` / `code` / `issuer` filter params are planned but
        not yet implemented — the current handler ignores any filter
        params and returns the unfiltered page. See the TypeFilter,
        CodeFilter, IssuerFilter schemas below for the planned
        shape; they are not wired to any request until the filter
        path ships.
      parameters:
        - { $ref: "#/components/parameters/Cursor" }
        - { $ref: "#/components/parameters/Limit" }
      responses:
        "200":
          description: Page of assets.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AssetListEnvelope" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /assets/{asset_id}:
    get:
      tags: [assets]
      summary: Asset detail.
      parameters:
        - { $ref: "#/components/parameters/AssetIdPath" }
      responses:
        "200":
          description: Asset + metadata.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AssetEnvelope" }
        "404": { $ref: "#/components/responses/NotFound" }

  /assets/{asset_id}/metadata:
    get:
      tags: [assets]
      summary: Extended metadata (SEP-1 CURRENCIES block).
      parameters:
        - { $ref: "#/components/parameters/AssetIdPath" }
      responses:
        "200":
          description: Extended metadata.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AssetMetadataEnvelope" }
        "404": { $ref: "#/components/responses/NotFound" }

  /price:
    get:
      tags: [price]
      summary: Current aggregated price for one asset.
      description: |
        Returns the most-recent VWAP (or last-trade fallback) for the
        `asset` / `quote` pair from the closed-bucket cache.

        Resolution order (handler tries each in turn, takes the first
        non-empty result):

        1. Closed-bucket VWAP from `prices_1m` (the canonical
           aggregated value).
        2. Triangulated value from the Redis VWAP cache. Covers two
           sub-cases: (a) implied chains computed by the
           triangulation worker, surfaced with `flags.triangulated=true`;
           (b) stablecoin-proxy rewrites the aggregator emits at
           tick-time (e.g. `XLM/fiat:USD` synthesised from
           `XLM/USDC-G…`) without a triangulation marker.
        3. Fiat-vs-fiat cross-rate from the forex snapshot when both
           sides are `fiat:` typed (e.g.
           `?asset=fiat:EUR&quote=fiat:USD`). Computed as
           `rate_usd[Y] / rate_usd[X]`. Returned with
           `flags.triangulated=true` since the value is derived
           rather than a direct trade. Same fallback fires on
           `/v1/price/tip`, `/v1/price/batch`,
           `/v1/oracle/lastprice`, and `/v1/oracle/x_last_price`.

        Returns 404 only when every path above misses.
      parameters:
        - { $ref: "#/components/parameters/AssetQuery" }
        - { $ref: "#/components/parameters/Quote" }
      responses:
        "200":
          description: Current price with freshness flags.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PriceEnvelope" }
              example:
                data:
                  asset_id: native
                  quote: fiat:USD
                  price: "0.159608357106"
                  price_type: vwap
                  observed_at: "2026-05-05T14:35:00Z"
                  window_seconds: 300
                as_of: "2026-05-05T14:35:42.881Z"
                flags:
                  stale: false
                  reduced_redundancy: false
                  triangulated: false
                  divergence_warning: false
        "400":        { $ref: "#/components/responses/BadRequest" }
        "404":        { $ref: "#/components/responses/NotFound" }
        "429":        { $ref: "#/components/responses/RateLimited" }
        "500":        { $ref: "#/components/responses/InternalError" }
        "503":        { $ref: "#/components/responses/ServiceUnavailable" }

  /price/tip:
    get:
      tags: [price]
      summary: Rolling-window tip price (ADR-0018 tip surface).
      description: |
        Realtime "what's the price right now" surface per ADR-0018.
        Returns a VWAP over a short rolling window (default 5 s, clamp
        1–60 s); when the window has no trades, falls back to the
        most-recent observed price for the pair.

        Both branches are **in-contract** — `flags.stale` is always
        `false` on this surface. Customers read `price_type` and
        `observed_at` to know what they got. Cross-region consistency
        is **not** provable here; use `/v1/price` for the closed-bucket
        guarantee.

        URL discipline: `?granularity=` is rejected with 400 — that's
        a closed-bucket concept and accepting it would silently change
        the consistency contract.
      parameters:
        - { $ref: "#/components/parameters/AssetQuery" }
        - { $ref: "#/components/parameters/Quote" }
        - name: window_seconds
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 60
            default: 5
          description: Rolling-window size in seconds for the VWAP.
      responses:
        "200":
          description: Tip price (VWAP or last-good fallback).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PriceEnvelope" }
        "400":        { $ref: "#/components/responses/BadRequest" }
        "404":        { $ref: "#/components/responses/NotFound" }
        "429":        { $ref: "#/components/responses/RateLimited" }
        "500":        { $ref: "#/components/responses/InternalError" }
        "503":        { $ref: "#/components/responses/ServiceUnavailable" }

  /price/tip/stream:
    get:
      tags: [price]
      summary: SSE stream of tip-price updates (ADR-0018).
      description: |
        Server-Sent Events counterpart of `/v1/price/tip`. Same
        compute logic; pushed on a per-connection tick (default
        every `window_seconds` seconds, clamp 1–60 s).

        - First event fires synchronously on connect (no waiting a
          full window).
        - Pre-flight 404 when the pair has no observations: SSE
          can't change status mid-stream, so emptiness is detected
          before the response body switches to `text/event-stream`.
        - Heartbeats every 15 s as comment lines (`:keepalive`) so
          intermediate proxies don't idle out the connection.
        - Resume after disconnect by setting `Last-Event-ID` on the
          reconnect (header preferred, `?last_event_id=` fallback).
        - Same URL-discipline rule as `/v1/price/tip`:
          `?granularity=` returns 400.
      parameters:
        - { $ref: "#/components/parameters/AssetQuery" }
        - { $ref: "#/components/parameters/Quote" }
        - name: window_seconds
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 60
            default: 5
          description: Tick cadence (and rolling-VWAP window) in seconds.
        - name: Last-Event-ID
          in: header
          required: false
          schema: { type: string }
          description: Opaque ID for resuming a previously-broken stream.
      responses:
        "200":
          description: SSE stream of tip_update events.
          content:
            text/event-stream:
              schema: { type: string }
        "400":        { $ref: "#/components/responses/BadRequest" }
        "404":        { $ref: "#/components/responses/NotFound" }
        "429":        { $ref: "#/components/responses/RateLimited" }
        "500":        { $ref: "#/components/responses/InternalError" }
        "503":        { $ref: "#/components/responses/ServiceUnavailable" }

  /price/batch:
    get:
      tags: [price]
      summary: Current prices for up to 100 assets.
      parameters:
        - name: asset_ids
          in: query
          required: true
          schema:
            type: string
            example: "native,USDC-GA5ZSEJYB37JRC5AVCIA5MOP4RHTM335X2KGX3IHOJAPP5RE34K4KZVN"
          example: "native,USDC-GA5ZSEJYB37JRC5AVCIA5MOP4RHTM335X2KGX3IHOJAPP5RE34K4KZVN"
          description: |
            Comma-separated canonical asset ids, max 100. Same strict
            form as `/v1/price?asset=` — short symbols are rejected.
        - { $ref: "#/components/parameters/Quote" }
      responses:
        "200":
          description: Batch prices.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PriceBatchEnvelope" }
    post:
      tags: [price]
      summary: Current prices for up to 1000 assets.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                asset_ids:
                  type: array
                  items: { type: string }
                  maxItems: 1000
                quote:
                  type: string
                  default: USD
              required: [asset_ids]
      responses:
        "200":
          description: Batch prices.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PriceBatchEnvelope" }

  /observations:
    get:
      tags: [price]
      summary: Raw per-source observations (ADR-0018 Surface 3).
      description: |
        Lowest-level surface per ADR-0018: returns the most-recent
        trade from each source that has ever traded the (asset, quote)
        pair. No aggregation, no chaining, no smoothing — purely
        "what each venue last published".

        - `?source=X` narrows to a single source (0- or 1-element array).
        - `?aggregate=latest` collapses to the single newest trade across
          sources (preserves the array wire shape; length 1).
        - `flags.stale` is **always** `false` here — there is no
          aggregation contract to fall short of.
        - Cross-region consistency is **NOT** provable on this surface;
          use `/v1/price` for the closed-bucket guarantee.
        - Empty pair returns 200 with `data: []`, not 404.

        URL discipline: `?granularity=` and `?window_seconds=` return 400
        — those are closed-bucket and tip concepts respectively.
      parameters:
        - { $ref: "#/components/parameters/AssetQuery" }
        - { $ref: "#/components/parameters/Quote" }
        - name: source
          in: query
          required: false
          schema: { type: string }
          description: Restrict to one source's most-recent trade (0/1 row).
        - name: aggregate
          in: query
          required: false
          schema:
            type: string
            enum: [latest]
          description: |
            `latest` collapses to the single most-recent trade across
            all sources. Omit for one row per source.
      responses:
        "200":
          description: Per-source observations array.
          content:
            application/json:
              schema:
                allOf:
                  - { $ref: "#/components/schemas/EnvelopeMeta" }
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/TradeRow" }
                    required: [data]
        "400":        { $ref: "#/components/responses/BadRequest" }
        "500":        { $ref: "#/components/responses/InternalError" }
        "503":        { $ref: "#/components/responses/ServiceUnavailable" }

  /observations/stream:
    get:
      tags: [price]
      summary: SSE stream of raw per-source observations (ADR-0018).
      description: |
        Streaming counterpart of `/v1/observations`. Same compute
        logic; pushed on a per-connection tick (default every 5 s,
        clamp 1–60 s — independent of tip's `window_seconds` because
        observations does not aggregate).

        - First event fires synchronously on connect; data may be
          an empty array (the pair has no observations yet — same
          200/empty contract as the request endpoint, NOT 404).
        - Recurring events fire unconditionally on each tick (no
          server-side dedupe) — clients diff against the previous
          payload if they want change-detection.
        - Heartbeats every 15 s as comment lines.
        - URL discipline: `?granularity=` and `?window_seconds=`
          return 400.
      parameters:
        - { $ref: "#/components/parameters/AssetQuery" }
        - { $ref: "#/components/parameters/Quote" }
        - name: source
          in: query
          required: false
          schema: { type: string }
          description: Restrict to one source's most-recent trade.
        - name: aggregate
          in: query
          required: false
          schema:
            type: string
            enum: [latest]
          description: |
            `latest` collapses to the single most-recent trade across
            all sources.
        - name: interval_seconds
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 60
            default: 5
          description: Tick cadence in seconds.
        - name: Last-Event-ID
          in: header
          required: false
          schema: { type: string }
          description: Opaque ID for resuming a previously-broken stream.
      responses:
        "200":
          description: SSE stream of observations_update events.
          content:
            text/event-stream:
              schema: { type: string }
        "400":        { $ref: "#/components/responses/BadRequest" }
        "500":        { $ref: "#/components/responses/InternalError" }
        "503":        { $ref: "#/components/responses/ServiceUnavailable" }

  /price/stream:
    get:
      tags: [price]
      summary: SSE stream of closed-bucket price updates (ADR-0015).
      description: |
        SSE counterpart of `/v1/price` — carries the strict ADR-0015
        closed-bucket consistency contract. Unlike `/v1/price/tip/stream`
        and `/v1/observations/stream` (per-connection tick), this
        surface is **Hub-driven**: the aggregator publishes one event
        per closed bucket, and every subscriber on the same
        (asset, quote) pair receives byte-identical payloads — the
        same cross-region consistency guarantee `/v1/price` exposes.

        - Heartbeats every 15 s as comment lines.
        - Resume after disconnect via `Last-Event-ID` (header preferred,
          `?last_event_id=` fallback).
        - URL discipline: `?granularity=` returns 400 — the closed-
          bucket stream is fixed at 1m; use
          `/v1/history/since-inception` for other granularities.
        - 503 when the deployment hasn't wired the streaming Hub
          (typical pre-aggregator state).
      parameters:
        - { $ref: "#/components/parameters/AssetQuery" }
        - { $ref: "#/components/parameters/Quote" }
        - name: Last-Event-ID
          in: header
          required: false
          schema: { type: string }
          description: Opaque ID for resuming a previously-broken stream.
      responses:
        "200":
          description: SSE stream of price_update events.
          content:
            text/event-stream:
              schema: { type: string }
        "400":        { $ref: "#/components/responses/BadRequest" }
        "429":        { $ref: "#/components/responses/RateLimited" }
        "503":        { $ref: "#/components/responses/ServiceUnavailable" }

  /history:
    get:
      tags: [history]
      summary: Raw trade history for a pair in a time window.
      description: |
        Returns per-trade records ordered (ts, ledger, tx_hash, op_index, source)
        ascending. Cursor paginates across the full-PK tuple; truncating
        the cursor at (ts, ledger) would drop rows sharing those
        values (high-volume ledgers).

        Bucketed/granularity-based history (VWAP/TWAP series at 1m/15m/...)
        will ship via the aggregator binary (see
        cmd/ratesengine-aggregator) on a different response shape —
        not this endpoint.
      parameters:
        - { $ref: "#/components/parameters/Base" }
        - { $ref: "#/components/parameters/Quote" }
        - { $ref: "#/components/parameters/From" }
        - { $ref: "#/components/parameters/To" }
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 10000, default: 1000 }
        - { $ref: "#/components/parameters/Cursor" }
      responses:
        "200":
          description: Per-trade records.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TradeHistoryEnvelope" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /history/since-inception:
    get:
      tags: [history]
      summary: Closed-bucket historical VWAP series for one asset/quote pair.
      description: |
        Returns every CLOSED bucket from the requested continuous
        aggregate ladder (`1m`, `15m`, `1h`, `4h`, `1d`, `1w`,
        `1mo`) for the requested asset/quote pair. This is the
        bucketed history surface; `/history` remains the raw
        per-trade endpoint.
      parameters:
        - { $ref: "#/components/parameters/AssetQuery" }
        - { $ref: "#/components/parameters/Quote" }
        - { $ref: "#/components/parameters/Granularity" }
      responses:
        "200":
          description: Since-inception series.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/HistoryEnvelope" }

  /chart:
    get:
      tags: [history]
      summary: Rolling-window chart series matching the Freighter RFP shape.
      description: |
        Returns CLOSED CAGG buckets within a rolling time window for
        one asset/quote pair, shaped as `(timeframe, granularity,
        price_type) → points[]` per the Freighter RFP V1 chart
        contract.

        Defaults: `quote=fiat:USD`, `timeframe=24h`,
        `granularity` per the timeframe table below, `price_type=vwap`.

        Default-granularity table (per ADR-0020):

        | Timeframe | Default granularity |
        | --------- | ------------------- |
        | `1h`      | `1m`                |
        | `24h`     | `15m`               |
        | `1w`      | `1h`                |
        | `1mo`     | `4h`                |
        | `1y`      | `1d`                |
        | `all`     | `1d`                |

        `price_type=twap` returns 400 — multi-bar TWAP charts are
        deferred to L7.8 (post-launch), see ADR-0020. Single-bar
        TWAP is available now via `/v1/twap` (true time-weighted
        compute from raw trades); only the multi-bar chart variant
        is the deferred surface.
      parameters:
        - { $ref: "#/components/parameters/AssetQuery" }
        - { $ref: "#/components/parameters/Quote" }
        - { $ref: "#/components/parameters/Timeframe" }
        - { $ref: "#/components/parameters/Granularity" }
        - { $ref: "#/components/parameters/PriceType" }
      responses:
        "200":
          description: Chart series.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ChartEnvelope" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /ohlc:
    get:
      tags: [ohlc]
      summary: Single OHLC bar for a pair over a window.
      description: |
        Single-bar response for the window [from, to). Interval-series
        (N bars, each interval-seconds wide) is a follow-up —
        delivered via the aggregator's continuous-aggregate path.

        Defaults: `from = to - 1h`, `to = now`. `truncated=true` on
        the response means the window had more trades than the
        server's per-request cap (10000) and the bar reflects only
        the chronologically-first N; narrow the window or wait for
        CAGG-backed endpoints.
      parameters:
        - { $ref: "#/components/parameters/Base" }
        - { $ref: "#/components/parameters/Quote" }
        - { $ref: "#/components/parameters/From" }
        - { $ref: "#/components/parameters/To" }
      responses:
        "200":
          description: Single OHLC bar.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OHLCEnvelope" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /vwap:
    get:
      tags: [prices]
      summary: Volume-weighted average price over a window.
      description: |
        Returns VWAP = Σ(quote) / Σ(base) for every trade in
        [from, to) for the given pair. Optional outlier filter
        drops prices > N σ from the window mean. When the window
        has more than the server's per-request cap (10000 trades)
        the response carries `truncated: true` — the price
        reflects only the chronologically-first N trades, not the
        full window.
      parameters:
        - { $ref: "#/components/parameters/Base" }
        - { $ref: "#/components/parameters/Quote" }
        - { $ref: "#/components/parameters/From" }
        - { $ref: "#/components/parameters/To" }
        - name: outlier_sigma
          in: query
          schema: { type: number, minimum: 0 }
          description: "Drop trades > N σ from window mean. 0 disables (default)."
      responses:
        "200":
          description: Volume-weighted price + volumes + trade count.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/VWAPEnvelope" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "404":
          description: No trades in window.
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "422":
          description: All trades filtered as outliers.
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /twap:
    get:
      tags: [prices]
      summary: Time-weighted average price over a window.
      description: |
        Each trade's price is active from its timestamp to the
        next trade's (or windowEnd for the last). TWAP is the
        duration-weighted mean. No outlier filter: time-weighting
        is itself outlier-resistant (spurious prints get only
        their slot duration, not a full window's worth).
      parameters:
        - { $ref: "#/components/parameters/Base" }
        - { $ref: "#/components/parameters/Quote" }
        - { $ref: "#/components/parameters/From" }
        - { $ref: "#/components/parameters/To" }
      responses:
        "200":
          description: Time-weighted price + trade count.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TWAPEnvelope" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "404":
          description: No trades in window.
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /oracle/latest:
    get:
      tags: [oracle]
      summary: Latest oracle reading per source for an asset.
      description: |
        Returns one OracleReading per source (reflector-dex /
        reflector-cex / reflector-fx / redstone / band /
        coingecko) that has observed the asset. Optional source
        filter restricts to a single source.

        Asset translation: classic Stellar identifiers map to the
        global crypto ticker the oracles publish under — so
        `asset=native` returns XLM observations (Reflector keys
        them as `crypto:XLM`), `asset=USDC-GA5Z…` returns the
        USDC global-ticker observations, etc. Already-canonical
        forms (`crypto:XLM`, `fiat:USD`, contract addresses) pass
        through unchanged.
      parameters:
        - { $ref: "#/components/parameters/AssetQuery" }
        - name: source
          in: query
          schema: { type: string }
          description: "Optional. Restrict to a single source name."
      responses:
        "200":
          description: Array of OracleReading (empty when no observations).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OracleLatestEnvelope" }
              example:
                data:
                  - source: reflector-cex
                    contract_id: CAFJZQWSED6YAWZU3GWRTOCNPPCGBN32L7QV43XX5LZLFTK6JLN34DLN
                    asset: crypto:XLM
                    quote: fiat:USD
                    ts: "2026-05-05T16:25:00Z"
                    price: "0.15912"
                    price_raw: "15912000000000"
                    decimals: 14
                    confidence: 0.96
                    observer: GRELAYER0000000000000000000000000000000000000000000000000000
                  - source: band
                    asset: crypto:XLM
                    quote: fiat:USD
                    ts: "2026-05-05T16:25:30Z"
                    price: "0.15908"
                    price_raw: "159080000000000000"
                    decimals: 18
                  - source: redstone
                    asset: crypto:XLM
                    quote: fiat:USD
                    ts: "2026-05-05T16:24:00Z"
                    price: "0.15920"
                    price_raw: "159200000"
                    decimals: 9
                  - source: coingecko
                    asset: crypto:XLM
                    quote: fiat:USD
                    ts: "2026-05-05T16:25:00Z"
                    price: "0.15915"
                    price_raw: "15915"
                    decimals: 5
                as_of: "2026-05-05T16:25:42.881Z"
                flags: { stale: false, reduced_redundancy: false, triangulated: false, divergence_warning: false }
        "400": { $ref: "#/components/responses/BadRequest" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /pools:
    get:
      tags: [markets]
      summary: DEX/AMM liquidity pools (one row per (source, base, quote)).
      description: |
        Like /v1/markets but DEX-only and with a `source` dimension —
        the same pair traded on two DEXes appears as two rows. Backed
        by the dispatch path through Soroswap / Phoenix / Aquarius /
        SDEX / Comet (Class=Exchange + Subclass=DEX in the source
        registry). CEX trading pairs go through /v1/markets;
        "pool" is AMM/DEX terminology and applying it to centralised
        venues misnames the data.
      parameters:
        - { $ref: "#/components/parameters/Cursor" }
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 500, default: 100 }
        - name: order_by
          in: query
          schema: { type: string, enum: [volume_24h_usd_desc, pair], default: volume_24h_usd_desc }
        - name: source
          in: query
          schema: { type: string }
          description: |
            Optional. Restrict to a single DEX name (soroswap /
            phoenix / aquarius / sdex / comet). Non-DEX names return
            an empty list rather than 400.
        - name: base
          in: query
          schema: { type: string }
          description: |
            Optional. Canonical base asset_id (`native`, `USDC-G…`,
            etc.). Combined with `quote` gives the per-source
            breakdown for one pair — used by the pair detail page
            to render "which venues moved this pair in the last 24h".
        - name: quote
          in: query
          schema: { type: string }
          description: |
            Optional. Canonical quote asset_id. See `base`.
      responses:
        "200":
          description: Array of pool rows.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { type: object }
                  pagination:
                    type: object

  /lending/pools:
    get:
      tags: [protocols]
      summary: Lending pools (Blend) observed in the auction stream.
      description: |
        One row per distinct Blend pool contract observed in the
        auction stream, with 24h / all-time auction counts + 30d
        unique users + last-seen timestamp. Per-pool TVL /
        utilisation / supply-borrow APYs land via additional
        fields once the pool-storage reader worker ships.
      responses:
        "200":
          description: Array of LendingPool rows.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { type: object }

  /oracle/streams:
    get:
      tags: [oracle]
      summary: Latest observation per (oracle, asset, quote) — 7d window.
      description: |
        Returns one row per distinct (source, asset, quote) triple
        in the trailing 7 days. Backs the explorer's /oracles
        price-streams table. Sources with no observation in the
        window are absent from the result.
      responses:
        "200":
          description: Array of OracleReading.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OracleLatestEnvelope" }

  /currencies:
    get:
      tags: [markets]
      summary: World fiat currencies — USD-base rates.
      description: |
        Returns the latest USD-base rates for every supported
        ISO-4217 currency. Backed by an in-memory cache the
        forex worker refreshes hourly from the upstream
        currency-api feed. Each row carries
        `change_7d_pct` computed server-side; `?include=sparkline`
        attaches the per-day inverse-USD series to every row for
        listing-side mini charts.
      parameters:
        - name: limit
          in: query
          schema: { type: integer, minimum: 1 }
          description: "Optional. Cap the returned currencies."
        - name: include
          in: query
          schema: { type: string }
          description: "Comma-separated. `sparkline` attaches `history_7d_rates`."
      responses:
        "200":
          description: CurrenciesPayload — currencies + published_at + fetched_at + source.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object

  /currencies/{ticker}:
    get:
      tags: [markets]
      summary: Per-currency detail with cross-rates + 7d history.
      description: |
        Returns the requested currency's USD-base rate, inverse,
        full cross-rates map (1 unit of ticker → every other
        supported currency, derived from the cached USD-base
        snapshot), and the 7d daily history series.
      parameters:
        - name: ticker
          in: path
          required: true
          schema:
            type: string
            example: EUR
          example: EUR
          description: "ISO-4217 ticker (case-insensitive); e.g. EUR, JPY."
      responses:
        "200":
          description: CurrencyDetail.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
        "404":
          description: Ticker not in the current snapshot.
        "503":
          description: Cache warming up (no snapshot yet).

  /markets:
    get:
      tags: [markets]
      summary: Distinct trading pairs with activity summary.
      description: |
        One entry per (base, quote) pair that has traded in the
        recency window (default 14 days). Cursor-paginated (opaque
        cursor keyed on `<base>|<quote>`). Each entry reports the
        pair's most recent trade timestamp + a 24h trade count.

        The recency window keeps the listing scoped to "active
        markets" — pairs that haven't traded in 14 days don't
        appear. This also bounds the underlying scan against the
        trades hypertable so chunk pruning keeps response times
        sub-second on a hypertable with hundreds of millions of
        rows.
      parameters:
        - { $ref: "#/components/parameters/Cursor" }
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 500, default: 100 }
        - name: order_by
          in: query
          required: false
          description: |
            Sort order. `pair` (default) returns markets in lex
            order of `<base>|<quote>` — stable for paginating the
            full set. `volume_24h_usd_desc` orders by 24h USD
            volume desc (NULLS LAST), then by `<base>|<quote>`
            for ties — surfaces the high-activity pairs first
            without paginating through ~5K alphabetic dust pairs.
            Cursor format differs per ordering; keep using the
            cursor returned by the previous response.
          schema:
            type: string
            enum: [pair, volume_24h_usd_desc]
            default: pair
      responses:
        "200":
          description: Array of markets + optional next cursor.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MarketsEnvelope" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /issuers:
    get:
      tags: [meta]
      summary: Issuer directory ranked by total observation count.
      description: |
        Lists every issuer (G-account that has minted at least one
        classic asset) ordered by total observation count across
        their issued assets. The home_domain column is empty until
        the SEP-1 fetcher worker resolves it (Phase 4).

        Powers the showcase `/issuers` directory page.
      parameters:
        - name: limit
          in: query
          required: false
          description: Max rows to return; 1-500, default 100.
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 100
      responses:
        "200":
          description: Array of issuer summaries.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required:
                    - g_strkey
                    - asset_count
                    - total_observation_count
                  properties:
                    g_strkey: { type: string }
                    home_domain: { type: string }
                    org_name:
                      type: string
                      description: |
                        Issuer's organisation name from SEP-1
                        `[DOCUMENTATION].ORG_NAME`. Populated by
                        the `ratesengine-ops sep1-refresh` job;
                        empty until the issuer's stellar.toml
                        has been resolved.
                    asset_count: { type: integer, format: int64 }
                    total_observation_count: { type: integer, format: int64 }
        "400": { $ref: "#/components/responses/BadRequest" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /issuers/{g_strkey}:
    get:
      tags: [meta]
      summary: Issuer detail — auth flags, SEP-1 metadata, issued assets.
      description: |
        Returns the row from the `issuers` table joined with the
        list of every classic asset this G-account has ever issued.
        Auth flags + SEP-1 payload land per-issuer as the SEP-1
        fetcher worker resolves them (Phase 4); fields stay null
        until then.

        Powers the showcase `/coins/{slug}` issuer card and
        `/issuers/{G-strkey}` detail page.
      parameters:
        - name: g_strkey
          in: path
          required: true
          schema:
            type: string
            example: GA5ZSEJYB37JRC5AVCIA5MOP4RHTM335X2KGX3IHOJAPP5RE34K4KZVN
          example: GA5ZSEJYB37JRC5AVCIA5MOP4RHTM335X2KGX3IHOJAPP5RE34K4KZVN
      responses:
        "200":
          description: One issuer row plus issued-asset list.
          content:
            application/json:
              schema:
                type: object
                required: [g_strkey]
                properties:
                  g_strkey: { type: string }
                  home_domain: { type: string }
                  org_name:
                    type: string
                    description: |
                      Issuer's organisation name from SEP-1
                      `[DOCUMENTATION].ORG_NAME`. Same value the
                      listing endpoint surfaces.
                  auth_required: { type: boolean, nullable: true }
                  auth_revocable: { type: boolean, nullable: true }
                  auth_immutable: { type: boolean, nullable: true }
                  auth_clawback: { type: boolean, nullable: true }
                  sep1_resolved_at: { type: string, format: date-time, nullable: true }
                  sep1_payload: { type: object, additionalProperties: true, nullable: true }
                  creation_ledger: { type: integer, nullable: true }
                  assets:
                    type: array
                    items:
                      type: object
                      properties:
                        asset_id: { type: string }
                        code: { type: string }
                        slug: { type: string }
                        first_seen_ledger: { type: integer }
                        last_seen_ledger: { type: integer }
                        observation_count: { type: integer, format: int64 }
        "400": { $ref: "#/components/responses/BadRequest" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /coins:
    get:
      tags: [meta]
      summary: Asset directory — every classic asset observed on Stellar.
      description: |
        Auto-populated registry of every classic asset observed in
        any trade or ChangeTrust op. Each row joins the latest
        5-minute stats (`classic_asset_stats_5m`) for volume +
        outstanding supply and the latest 1-minute price
        (`prices_1m` against `fiat:USD`) for VWAP — `price_usd`,
        `volume_24h_usd`, `market_cap_usd`, and
        `circulating_supply` are emitted as JSON nulls when the
        aggregator hasn't yet produced a value (newly-observed
        asset, no off-chain peg, etc.).

        The response is paginated via keyset cursor: the previous
        response's `next_cursor` is passed back as `?cursor=…` to
        fetch the next page. Empty `next_cursor` means no more
        pages.

        Powers the explorer's `/assets` directory.
      parameters:
        - name: limit
          in: query
          required: false
          description: Max rows to return; 1-500, default 100.
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 100
        - name: cursor
          in: query
          required: false
          description: |
            Keyset cursor returned by a previous response's
            `next_cursor`. Empty for the first page; iterate while
            non-empty.
          schema:
            type: string
        - name: issuer
          in: query
          required: false
          description: |
            Restrict the listing to assets minted by this G-strkey.
            Used by the explorer to deep-link from `/issuers` into
            "assets by this issuer."
          schema:
            type: string
        - name: q
          in: query
          required: false
          description: |
            Case-insensitive substring filter against `code`, `slug`,
            and `issuer_g_strkey`. Used by the explorer's `/assets`
            search box so a 440K-asset directory is searchable
            without paging through every cursor. Limited to 64
            characters.
          schema:
            type: string
            maxLength: 64
        - name: order_by
          in: query
          required: false
          description: |
            Sort order. `observation_count_desc` (default) ranks
            by all-time activity. `volume_24h_usd_desc` surfaces
            highest-volume assets first (NULLS LAST). Cursor
            format adapts to the active ordering.
          schema:
            type: string
            enum: [observation_count_desc, volume_24h_usd_desc]
            default: observation_count_desc
        - name: include
          in: query
          required: false
          description: |
            Comma-separated opt-ins.
            `sparkline` attaches `price_history_24h` (24 hourly
            samples) per row. `ath` attaches `ath: { usd, at }`
            per row, batched in a single round trip. Default
            (no `include`) keeps the listing payload compact.
          schema:
            type: string
            example: "sparkline,ath"
      responses:
        "200":
          description: Page of asset entries + next-cursor.
          content:
            application/json:
              schema:
                type: object
                required: [coins, limit]
                properties:
                  coins:
                    type: array
                    items:
                      type: object
                      required:
                        - slug
                        - asset_id
                        - code
                        - issuer
                        - first_seen_ledger
                        - last_seen_ledger
                        - observation_count
                      properties:
                        slug: { type: string }
                        asset_id: { type: string }
                        code: { type: string }
                        issuer: { type: string }
                        first_seen_ledger: { type: integer }
                        last_seen_ledger: { type: integer }
                        observation_count: { type: integer, format: int64 }
                        price_usd:
                          type: string
                          nullable: true
                          description: Decimal string; null when no peg.
                        volume_24h_usd:
                          type: string
                          nullable: true
                        market_cap_usd:
                          type: string
                          nullable: true
                          description: price_usd × circulating_supply when both present.
                        circulating_supply:
                          type: string
                          nullable: true
                          description: Outstanding supply (canonical units).
                        change_1h_pct:
                          type: string
                          nullable: true
                          description: |
                            Trailing-1h price change as a signed
                            percentage with two fractional digits.
                            Null when no current price or no
                            1h-ago prices_1m bucket within ±5min.
                        change_24h_pct:
                          type: string
                          nullable: true
                          description: |
                            Trailing-24h price change as a signed
                            percentage with two fractional digits
                            (e.g. "+1.27", "-0.05", "0.00"). Null
                            when no current price or no
                            24h-ago prices_1m bucket within ±30min.
                        change_7d_pct:
                          type: string
                          nullable: true
                          description: |
                            Trailing-7d price change as a signed
                            percentage with two fractional digits.
                            Null when no current price or no
                            7d-ago prices_1m bucket within ±2h.
                        issuer_scam_reason:
                          type: string
                          description: |
                            Non-empty when the asset's `issuer`
                            G-strkey appears on the curated scam
                            directory sourced from
                            stellar.expert. Same field surfaced on
                            `/v1/issuers/{g_strkey}.scam_reason`;
                            duplicated here so the asset detail
                            page can render a warning at first
                            paint without a second fetch. Always
                            omitted for native XLM (no issuer) and
                            for issuers with no scam record.
                  next_cursor:
                    type: string
                    description: Empty when no more pages.
                  limit:
                    type: integer
              example:
                data:
                  coins:
                    - slug: USDC
                      asset_id: USDC-GA5ZSEJYB37JRC5AVCIA5MOP4RHTM335X2KGX3IHOJAPP5RE34K4KZVN
                      code: USDC
                      issuer: GA5ZSEJYB37JRC5AVCIA5MOP4RHTM335X2KGX3IHOJAPP5RE34K4KZVN
                      first_seen_ledger: 50457424
                      last_seen_ledger: 62413938
                      observation_count: 41610618
                      price_usd: "1.00012"
                      volume_24h_usd: "573830.99"
                      market_cap_usd: "812345678.45"
                      circulating_supply: "812245567.21"
                  next_cursor: "32406192:yXLM-GARDNV3Q7YGT4AKSDF25LT32YSCCW4EV22Y2TV3I2PU2MMXJTEDL5T55"
                  limit: 100
                as_of: "2026-05-05T16:03:05.111Z"
                flags: { stale: false, reduced_redundancy: false, triangulated: false, divergence_warning: false }
        "400": { $ref: "#/components/responses/BadRequest" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /coins/{slug}:
    get:
      tags: [meta]
      summary: Single asset by slug.
      description: |
        Returns one row of `/coins` shape, looked up by URL-safe
        `slug` (the slug column from `classic_assets`, falling
        back to `code` when slug is null). Used by the explorer
        asset-detail page so a deep link doesn't need to scan
        the top-N listing first.
      parameters:
        - name: slug
          in: path
          required: true
          description: |
            URL-safe asset slug. Unlike the `/v1/price` and `/v1/ohlc`
            endpoints which require strict canonical IDs, the slug
            handler accepts the short symbol forms (`USDC`, `XLM`,
            `AQUA`) and special-cases `XLM` to native. Defaults to
            `XLM` for the Scalar default-test request.
          schema:
            type: string
            example: XLM
          example: XLM
      responses:
        "200":
          description: One asset row.
          content:
            application/json:
              schema:
                type: object
                required:
                  - slug
                  - asset_id
                  - code
                  - issuer
                  - first_seen_ledger
                  - last_seen_ledger
                  - observation_count
                properties:
                  slug: { type: string }
                  asset_id: { type: string }
                  code: { type: string }
                  issuer: { type: string }
                  first_seen_ledger: { type: integer }
                  last_seen_ledger: { type: integer }
                  observation_count: { type: integer, format: int64 }
                  price_usd:
                    type: string
                    nullable: true
                  volume_24h_usd:
                    type: string
                    nullable: true
                  market_cap_usd:
                    type: string
                    nullable: true
                  circulating_supply:
                    type: string
                    nullable: true
                  change_1h_pct:
                    type: string
                    nullable: true
                    description: |
                      Trailing-1h price change as a signed
                      percentage with two fractional digits.
                  change_24h_pct:
                    type: string
                    nullable: true
                    description: |
                      Trailing-24h price change as a signed
                      percentage with two fractional digits.
                  change_7d_pct:
                    type: string
                    nullable: true
                    description: |
                      Trailing-7d price change as a signed
                      percentage with two fractional digits.
                  markets_count:
                    type: integer
                    nullable: true
                    description: |
                      Count of distinct (base_asset, quote_asset)
                      pairs the asset participated in over the
                      trailing 24h. 0 when the asset went silent
                      in that window. Null only on lookup error.
                  trade_count_24h:
                    type: integer
                    nullable: true
                    description: |
                      Count of trades the asset participated in
                      (as base OR quote) over the trailing 24h.
                      Read from the `trades` hypertable directly —
                      complements the all-time `observation_count`
                      with a "right now" activity figure. Null
                      only on lookup error.
                  ath:
                    type: object
                    nullable: true
                    description: |
                      All-time-high USD price + day it was set.
                      Sourced from `prices_1d` filtered to
                      USD-denominated quotes (USDC, USDT,
                      `fiat:USD`). Triangulated paths are excluded —
                      a single bad XLM/USD reading on a thin day
                      could fabricate an ATH. Null when the asset
                      has no USD-quoted history.
                    required: [usd, at]
                    properties:
                      usd:
                        type: string
                        description: ATH price as a fixed-point string.
                      at:
                        type: string
                        format: date-time
                        description: |
                          RFC-3339 day-bucket the high was set
                          (00:00:00Z snapped — daily granularity).
        "400": { $ref: "#/components/responses/BadRequest" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /changes/{entity_type}/{id}:
    get:
      tags: [meta]
      summary: Multi-window delta strip for one entity.
      description: |
        Returns the pre-computed multi-window delta strip + ATH/ATL +
        streak + acceleration for one (entity_type, id) tuple. Powers
        every list view + price card on the showcase site
        (data-inventory §6.1). Refreshed every 5 minutes by the
        change-summary worker; stale rows (>10 min) indicate the
        worker is lagging.

        Returns 404 when the worker hasn't computed a row yet (fresh
        deployment, newly-added entity, or bounded history). Returns
        503 when this deployment hasn't wired the change-summary
        reader.
      parameters:
        - name: entity_type
          in: path
          required: true
          schema:
            type: string
            enum: [coin, protocol, pair, source]
            example: source
          example: source
        - name: id
          in: path
          required: true
          description: |
            Canonical id for the entity. Form depends on
            `entity_type`:

            - `coin`: any of the asset's identifier forms — friendly
              slug (`XLM`, `USDC`), canonical asset_id (`native`,
              `crypto:XLM`, `USDC-GA5Z…`), or bare classic code
              (`USDC` → also tries `crypto:USDC`). The handler
              expands the input into every candidate the
              change-summary worker might have keyed under and
              returns the first hit. Without expansion, a typo of
              the canonical form would 404 even when data is
              populated under a sibling form.
            - `pair`: `base/quote` form (e.g. `native/USDC-GA5Z…`).
            - `protocol`: protocol slug (e.g. `soroswap`, `blend`).
            - `source`: source name (e.g. `binance`, `coinbase`,
              `sdex`).
          schema:
            type: string
            example: binance
          example: binance
      responses:
        "200":
          description: One row from change_summary_5m.
          content:
            application/json:
              schema:
                type: object
                properties:
                  entity_type: { type: string }
                  entity_id: { type: string }
                  refreshed_at: { type: string, format: date-time }
                  current_value: { type: number }
                  h1_value: { type: number, nullable: true }
                  h1_delta_pct: { type: number, nullable: true }
                  h24_value: { type: number, nullable: true }
                  h24_delta_pct: { type: number, nullable: true }
                  d7_value: { type: number, nullable: true }
                  d7_delta_pct: { type: number, nullable: true }
                  d30_value: { type: number, nullable: true }
                  d30_delta_pct: { type: number, nullable: true }
                  ath_value: { type: number, nullable: true }
                  ath_at: { type: string, format: date-time, nullable: true }
                  atl_value: { type: number, nullable: true }
                  atl_at: { type: string, format: date-time, nullable: true }
                  streak_direction:
                    type: string
                    enum: [up, down, flat]
                    nullable: true
                  streak_days: { type: integer, nullable: true }
                  acceleration:
                    type: string
                    enum: [increasing, flat, decreasing]
                    nullable: true
        "400": { $ref: "#/components/responses/BadRequest" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /diagnostics/cursors:
    get:
      tags: [meta]
      summary: Per-source ingest cursor positions.
      description: |
        Returns every row of the `ingestion_cursors` table — the
        per-source markers the dispatcher persists after each ledger
        is processed. Used for operator-facing diagnostics and the
        showcase /diagnostics page (so you can see at a glance which
        sources are caught up, which are lagging, and how stale the
        last update is).

        Sources that track multiple positions independently (e.g.
        Soroswap tracks the factory cursor + one cursor per pair)
        return one row per (source, sub_source) tuple.

        Returns 503 when the deployment hasn't wired the cursors
        reader.
      responses:
        "200":
          description: Array of cursor entries, one per (source, sub_source).
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required:
                    - source
                    - last_ledger
                    - last_updated
                    - lag_seconds
                  properties:
                    source: { type: string }
                    sub_source: { type: string }
                    last_ledger: { type: integer }
                    last_updated: { type: string, format: date-time }
                    lag_seconds: { type: integer, format: int64 }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /incidents:
    get:
      tags: [meta]
      summary: Customer-facing incident posts.
      description: |
        Returns every customer-facing incident post the binary has
        embedded (`internal/incidents/data/*.md`), parsed at startup
        from YAML frontmatter + markdown body. Sorted by
        `started_at` descending (most recent first).

        Posts are added to the binary at build time — there is no
        runtime write path. Files starting with `_` (templates) are
        skipped at parse time. New incidents ship with a redeploy.

        Powers the "Incident history" section on
        status.ratesengine.net. Distinct from `/v1/status` which
        reports the *currently active* incidents from Alertmanager.
      responses:
        "200":
          description: List of past incidents, newest first.
          content:
            application/json:
              schema:
                type: object
                required:
                  - incidents
                  - count
                properties:
                  incidents:
                    type: array
                    items:
                      type: object
                      required: [slug, title, severity, status, started_at, body_markdown]
                      properties:
                        slug: { type: string, example: "2026-05-06-postgres-lock-table-full" }
                        title: { type: string }
                        severity:
                          type: string
                          enum: [SEV-1, SEV-2, SEV-3]
                        status:
                          type: string
                          enum: [investigating, identified, monitoring, resolved]
                        started_at: { type: string, format: date-time }
                        resolved_at:
                          type: string
                          format: date-time
                          nullable: true
                        affected_components:
                          type: array
                          items: { type: string }
                        postmortem:
                          type: string
                          description: Optional reference to the internal post-mortem.
                        body_markdown:
                          type: string
                          description: Markdown body — render with the renderer of your choice.
                  count: { type: integer }
              example:
                data:
                  count: 1
                  incidents:
                    - slug: "2026-05-06-postgres-lock-table-full"
                      title: "[SEV-3] Indexer dropping ~1% of trades — Postgres lock-table-full"
                      severity: "SEV-3"
                      status: "resolved"
                      started_at: "2026-05-06T15:00:00Z"
                      resolved_at: "2026-05-06T22:39:00Z"
                      affected_components: ["indexer", "storage"]
                      body_markdown: "## Identification\n\nSome trades arriving on coinbase, binance…"
                as_of: "2026-05-07T00:45:00Z"
                flags: {}
        "500": { $ref: "#/components/responses/InternalError" }

  /incidents.atom:
    get:
      tags: [meta]
      summary: Atom feed of customer-facing incidents.
      description: |
        RFC-4287 Atom 1.0 syndication of every customer-facing
        incident post (`internal/incidents/data/*.md`). Designed
        for Feedly, Slack's RSS bot, and similar feed consumers
        who want push-style notifications when a new incident
        ships without polling JSON.

        Same corpus as `/v1/incidents`; entry `<id>` is a stable
        URN so feed readers dedupe correctly across crawls.
        Cache-Control: public, max-age=300 (5 min) — the corpus
        only changes on redeploy so longer caching is fine.
      responses:
        "200":
          description: Atom 1.0 XML feed.
          content:
            application/atom+xml:
              schema:
                type: string
                description: |
                  RFC-4287 Atom feed — one `<entry>` per past
                  incident, sorted newest first, with `<title>`,
                  `<link>` to the status page anchor, `<summary>`
                  (first paragraph of the markdown body), and
                  full `<content>` (the markdown body).

  /network/stats:
    get:
      tags: [meta]
      summary: Consolidated home-page aggregate stats.
      description: |
        Single-call replacement for the home network-strip's
        previous fan-out across `/v1/markets`, `/v1/coins`,
        `/v1/sources`, and `/v1/diagnostics/cursors`. Returns
        total trailing-24h USD volume, count of pairs that
        recorded volume in 24h, total `classic_assets` row count,
        latest live ledger across all non-backfill sources, and
        the count of registered exchange-class sources.

        Computed from a single SQL query over `prices_1m`,
        `classic_assets`, and `ingestion_cursors`. The source
        counts are derived from the in-memory `external.Registry`,
        not the DB.

        Useful for dashboards / status displays / embed widgets
        that just want a quick health-of-the-network number.
      responses:
        "200":
          description: Aggregate stats.
          content:
            application/json:
              schema:
                type: object
                required: [markets_count_24h, assets_indexed, latest_ledger, exchange_sources, total_sources]
                properties:
                  volume_24h_usd:
                    type: string
                    nullable: true
                    description: |
                      SUM(prices_1m.volume_usd) over the trailing
                      24h. Decimal string per ADR-0003.
                  markets_count_24h:
                    type: integer
                    description: Distinct (base, quote) pairs with non-null volume in 24h.
                  assets_indexed:
                    type: integer
                    description: Total rows in classic_assets.
                  latest_ledger:
                    type: integer
                    description: Max last_ledger across non-backfill sources.
                  exchange_sources:
                    type: integer
                    description: Count of `class=exchange` sources in the registry.
                  total_sources:
                    type: integer
                    description: Count of all registered sources.
              example:
                data:
                  volume_24h_usd: "5941104763.13358600"
                  markets_count_24h: 4934
                  assets_indexed: 442190
                  latest_ledger: 62450017
                  exchange_sources: 11
                  total_sources: 21
                as_of: "2026-05-07T01:55:00Z"
                flags: {}
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /sources:
    get:
      tags: [meta]
      summary: Source catalogue with class + IncludeInVWAP metadata.
      description: |
        Static projection of the aggregator's source registry — every
        venue we know about, labelled with the class semantic that
        decides whether it contributes to VWAP. Sources with
        `include_in_vwap=false` are intentional policy
        (aggregator/oracle/authority_sanity classes), not missing
        connectors. Operators consult this endpoint to confirm a
        venue is recognised before debugging an absence in /v1/markets
        or /v1/vwap.
      parameters:
        - name: class
          in: query
          required: false
          description: |
            Optional class filter. When set, only sources of the
            given class are returned. Useful for dashboards that
            split the catalogue by role.
          schema:
            type: string
            enum: [exchange, aggregator, oracle, authority_sanity]
        - name: include
          in: query
          required: false
          description: |
            Opt-in extras. `stats` populates each row's
            `trade_count_24h` from a single GROUP BY on the trades
            hypertable — cheap, but a DB hit so opt-in. Absent the
            param the response stays the all-static-registry
            projection.
          schema:
            type: string
            enum: [stats]
      responses:
        "200":
          description: Array of sources, sorted by name.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SourcesEnvelope" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /sac-wrappers:
    get:
      tags: [meta]
      summary: Stellar-Asset-Contract wrapper resolution map.
      description: |
        Returns the operator-configured map of Stellar-Asset-Contract
        (SAC) C-strkey contract IDs to their underlying classic asset
        keys ("CODE-ISSUER", or `"native"` for XLM). Soroban DEX
        sources (Soroswap, Phoenix, Aquarius, Comet) emit base/quote
        as the SAC contract address in their swap events, not the
        underlying classic asset key — clients use this map to
        resolve raw `C…` contract addresses to readable asset
        symbols. The map only changes on API restart with new
        config; cache aggressively client-side.

        Empty object when the operator hasn't configured any
        wrappers (deployment without the `[supply.sac_wrappers]`
        block) — clients then degrade to showing the raw C-strkey.
      responses:
        "200":
          description: Map of SAC C-strkey to canonical asset key.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    additionalProperties: { type: string }
                    description: SAC C-strkey → "CODE-ISSUER" or "native".
        "500": { $ref: "#/components/responses/InternalError" }

  /pairs:
    get:
      tags: [markets]
      summary: Direct markets for a pair.
      parameters:
        - name: base
          in: query
          required: true
          schema:
            type: string
            example: native
          example: native
          description: Canonical asset id (e.g. `native`, `USDC-G…`).
        - name: quote
          in: query
          required: true
          schema:
            type: string
            example: "USDC-GA5ZSEJYB37JRC5AVCIA5MOP4RHTM335X2KGX3IHOJAPP5RE34K4KZVN"
          example: "USDC-GA5ZSEJYB37JRC5AVCIA5MOP4RHTM335X2KGX3IHOJAPP5RE34K4KZVN"
          description: Canonical asset id of the quote side.
      responses:
        "200":
          description: Pairs.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PairsEnvelope" }

  /oracle/lastprice:
    get:
      tags: [oracle]
      summary: SEP-40 lastprice-equivalent passthrough.
      parameters:
        - name: asset
          in: query
          required: true
          schema:
            type: string
            example: "crypto:XLM"
          example: "crypto:XLM"
          description: |
            SEP-40 oracle key. Reflector contracts publish under
            `crypto:<symbol>` (`crypto:XLM`, `crypto:BTC`,
            `crypto:USDC`, `crypto:ETH`, `crypto:EUROB`); the bare
            `native` / `<code>-<G…>` forms are NOT keys in the
            oracle namespace and return 404 here. Use
            `/v1/price?asset=…` for canonical-asset prices.
      responses:
        "200":
          description: Price record.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OraclePriceEnvelope" }

  /oracle/prices:
    get:
      tags: [oracle]
      summary: SEP-40 prices-equivalent passthrough (N historical).
      parameters:
        - name: asset
          in: query
          required: true
          schema:
            type: string
            example: "crypto:XLM"
          example: "crypto:XLM"
        - name: records
          in: query
          schema: { type: integer, minimum: 1, maximum: 200, default: 60 }
      responses:
        "200":
          description: Historical records.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OraclePricesEnvelope" }

  /oracle/x_last_price:
    get:
      tags: [oracle]
      summary: SEP-40 x_last_price-equivalent (cross-pair).
      parameters:
        - name: base
          in: query
          required: true
          schema:
            type: string
            example: native
          example: native
        - name: quote
          in: query
          required: true
          schema:
            type: string
            example: "USDC-GA5ZSEJYB37JRC5AVCIA5MOP4RHTM335X2KGX3IHOJAPP5RE34K4KZVN"
          example: "USDC-GA5ZSEJYB37JRC5AVCIA5MOP4RHTM335X2KGX3IHOJAPP5RE34K4KZVN"
      responses:
        "200":
          description: Cross-pair last price.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OraclePriceEnvelope" }

  /account/me:
    get:
      tags: [account]
      summary: API-key holder info + quota status.
      security:
        - APIKeyAuth: []
      responses:
        "200":
          description: Account.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AccountEnvelope" }
              example:
                data:
                  key_id: kid_8f3a2c1b9e7d4f6a
                  label: production-api-1
                  tier: apikey
                  rate_limit_per_min: 1000
                  created_at: "2026-04-12T09:32:18Z"
                as_of: "2026-05-05T16:25:42.881Z"
                flags: { stale: false, reduced_redundancy: false, triangulated: false, divergence_warning: false }

  /account/usage:
    get:
      tags: [account]
      summary: Usage-summary placeholder (currently empty).
      description: |
        Placeholder self-service surface. The handler currently
        returns an empty list while the backing counter store is not
        implemented yet; `from` / `to` are reserved for the future
        implementation and are ignored today.
      security:
        - APIKeyAuth: []
      parameters:
        - { $ref: "#/components/parameters/From" }
        - { $ref: "#/components/parameters/To" }
      responses:
        "200":
          description: Usage records.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/UsageEnvelope" }

  /account/keys:
    get:
      tags: [account]
      summary: List all API keys for the authenticated caller.
      description: |
        Returns every key whose Identifier matches the caller's
        authenticated Subject, sorted oldest-first. Each entry is
        the public-safe projection — `key_id`, `label`, `tier`,
        `rate_limit_per_min`, `created_at`. **Plaintext is never
        returned**; it's only retrievable at POST-time.

        Use this to render an account dashboard ("here are your
        keys"), verify rotation worked, or confirm a Stripe-paid
        upgrade lifted the right keys.
      security:
        - APIKeyAuth: []
      responses:
        "200":
          description: Account keys (possibly empty list).
          content:
            application/json:
              schema:
                allOf:
                  - { $ref: "#/components/schemas/EnvelopeMeta" }
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Account" }
        "401":
          description: Unauthenticated.
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "503":
          description: AccountStore not configured.
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
    post:
      tags: [account]
      summary: Create a new API key.
      description: |
        Issues a new API key for the authenticated caller and returns
        the plaintext exactly once.
      security:
        - APIKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                label: { type: string, maxLength: 128 }
              required: [label]
      responses:
        "201":
          description: New key — plaintext shown **once**.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/KeyCreatedEnvelope" }

  /account/keys/{keyID}:
    delete:
      tags: [account]
      summary: Revoke an API key by KeyID.
      description: |
        Revokes the API key whose KeyID matches the path parameter,
        scoped to the authenticated caller's Identifier so accounts
        can only revoke their own keys. "Not found" and "not yours"
        collapse to 204 to prevent cross-account enumeration probes.

        The caller cannot revoke the key they're authenticated with —
        that would orphan the connection mid-request. 409 in that
        case so the UI can prompt for an alternate credential.
      security:
        - APIKeyAuth: []
      parameters:
        - name: keyID
          in: path
          required: true
          schema: { type: string }
          description: "Public-safe `kid_<hex>` identifier from /v1/account/keys."
      responses:
        "204":
          description: Revoked (or no-op when the key didn't belong to the caller).
        "400":
          description: Missing keyID.
        "401":
          description: Unauthenticated.
        "409":
          description: Caller tried to revoke the key they're using.
        "503":
          description: Account store not configured.

  /webhooks/stripe:
    post:
      tags: [account]
      summary: Stripe webhook — paid-tier upgrade.
      description: |
        Receives Stripe webhook events. On `checkout.session.completed`
        with `payment_status=paid`, looks up every API key whose
        identifier matches `client_reference_id` and lifts their
        `rate_limit_per_min` to the value implied by `metadata.tier`
        (pro / business) or the explicit `metadata.rate_limit_per_min`
        override.

        Idempotent — Stripe at-least-once delivery means the same
        event may arrive multiple times; the handler always sets the
        same target rate-limit. Customer keeps their existing
        plaintext key; effective on the next request (validator reads
        the per-key budget on every Lookup).

        Stripe-Signature header verified via HMAC-SHA256 with
        timestamp drift bounded to 5 minutes. Endpoint returns 503
        when the signing secret is unset (deployments without
        Stripe).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      parameters:
        - name: Stripe-Signature
          in: header
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Event acknowledged (regardless of whether keys were upgraded — non-2xx triggers Stripe retries).
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:                { type: boolean }
                  upgraded:          { type: integer, description: "Keys upgraded to the new rate limit." }
                  keys_total:        { type: integer, description: "Total keys belonging to the identifier." }
                  rate_limit_per_min: { type: integer }
                  ignored:           { type: string, description: "Set when an event was acknowledged but not acted on (wrong type, unpaid)." }
        "400":
          description: Missing signature header / bad body / bad metadata.
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "401":
          description: Stripe-Signature verification failed.
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "503":
          description: Webhook signing secret not configured.
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }

  /signup:
    post:
      tags: [account]
      summary: Self-service signup — mint a first API key by email.
      description: |
        Public, anonymous-tier endpoint. Hit it once with an email
        + optional label and get back a freshly-minted API key for
        the Starter tier (1000 req/min). Idempotent on the email:
        a second call for the same email returns 409 with a pointer
        to the existing key (recover access via support; future
        Stripe-paid upgrade flow will support self-service rotation
        via /v1/account/keys).

        Already-authenticated callers receive 400 — they should
        rotate keys via POST /v1/account/keys instead.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email: { type: string, format: email }
                label: { type: string, maxLength: 128 }
              required: [email]
            example:
              email: "alice@example.com"
              label: "production-api-1"
      responses:
        "200":
          description: Account created — plaintext key shown **once**.
          content:
            application/json:
              schema:
                allOf:
                  - { $ref: "#/components/schemas/EnvelopeMeta" }
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          plaintext:         { type: string, description: "Bearer token. Show ONCE; unrecoverable." }
                          key_id:            { type: string }
                          identifier:        { type: string }
                          label:             { type: string }
                          tier:              { type: string, enum: [apikey] }
                          rate_limit_per_min: { type: integer }
                        required: [plaintext, key_id, identifier, tier, rate_limit_per_min]
              example:
                data:
                  plaintext: "re_live_4f9c1d8b3a7e2f1c9d4b8a6e3f2c1d9b8a7e6f5d4c3b2a1f"
                  key_id: "k_8f3a2c1b9e7d4f6a"
                  identifier: "signup-3d4f9a2c1e8b7f6d"
                  label: "production-api-1"
                  tier: "apikey"
                  rate_limit_per_min: 1000
                as_of: "2026-05-05T14:35:42.881Z"
        "400":
          description: Missing or invalid email, body too large, or already authenticated.
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "409":
          description: Email already has an account.
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "503":
          description: AccountStore not configured (Redis unavailable).
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }

  /dashboard/keys:
    get:
      tags: [dashboard]
      summary: Customer dashboard — list this account's API keys.
      description: |
        Session-gated. Returns every key (active + revoked) for
        the authenticated user's account, ordered oldest-first.
        Plaintext is never returned by this endpoint — only
        the prefix (`rek_4f9c1d8b…`).
      responses:
        "200":
          description: Key list.
          content:
            application/json:
              schema:
                type: object
                properties:
                  keys:
                    type: array
                    items: { $ref: "#/components/schemas/DashboardKey" }
                required: [keys]
        "401":
          description: No valid session cookie.
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
    post:
      tags: [dashboard]
      summary: Customer dashboard — mint a new API key.
      description: |
        Session-gated. Mints a new key, returns the plaintext
        ONCE. The dashboard surfaces it in a "save this now"
        banner; subsequent reads only see the prefix. Owner /
        admin / member roles can mint; viewer + billing 403.
        Rate-limited to MaxKeysPerAccount=25 active keys.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateKeyRequest" }
      responses:
        "201":
          description: Key minted.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CreateKeyResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401":
          description: No valid session cookie.
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "403":
          description: Role can't mint keys.
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "409":
          description: Account already at the active-key quota.
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }

  /dashboard/keys/{id}:
    delete:
      tags: [dashboard]
      summary: Customer dashboard — revoke a key.
      description: |
        Session-gated. Soft-delete by setting revoked_at;
        idempotent. 404 when the key doesn't exist OR belongs
        to a different account (same shape so attackers can't
        enumerate cross-account key_ids).
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "204":
          description: Revoked.
        "401":
          description: No valid session cookie.
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "403":
          description: Role can't revoke keys.
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "404":
          description: Key not found.
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }

  /auth/login:
    post:
      tags: [auth]
      summary: Customer dashboard — request a magic-link sign-in email.
      description: |
        Mints a single-use magic-link token (valid 15 minutes) and
        emails it to the address. Always returns `{status: "sent"}`
        regardless of whether the email matches an existing account
        — leaking that information would let attackers enumerate
        valid users. First-time users have their account + owner-
        user provisioned on the callback (not here), so the same
        flow handles login + signup.

        Distinct from `/auth/sep10/*` (programmatic API auth via a
        signed Stellar challenge). This endpoint is the entry point
        for the cookie-based dashboard SPA at app.ratesengine.net.

        Returns 503 when the deployment hasn't configured the
        dashboard auth flow (api.dashboard.base_url empty).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  description: The address to email the magic link to.
              required: [email]
      responses:
        "200":
          description: Email accepted for delivery (or silently dropped if address doesn't match an account).
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [sent]
                required: [status]
        "400": { $ref: "#/components/responses/BadRequest" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /auth/callback:
    get:
      tags: [auth]
      summary: Customer dashboard — consume a magic-link token + mint a session cookie.
      description: |
        Reads the `token` query parameter, atomically marks it
        consumed in `magic_link_tokens`, and on success sets an
        HttpOnly + Secure session cookie (`ratesengine_session`)
        and redirects (303) into the dashboard.

        First-time emails get a free-tier account + owner-role
        user provisioned at this step. Returning users skip
        provisioning and just get a fresh session.

        Returns 410 on expired tokens so the dashboard can render
        a "request a fresh link" prompt distinct from the generic
        "invalid token" 400.
      parameters:
        - name: token
          in: query
          required: true
          schema: { type: string }
          description: Hex-encoded magic-link plaintext from the email.
        - name: next
          in: query
          required: false
          schema: { type: string }
          description: |
            Path-only redirect target after sign-in (e.g. `/keys`).
            Absolute URLs and protocol-relative paths (`//evil.com`)
            are rejected; the user lands at `/` instead.
      responses:
        "303":
          description: Authenticated; session cookie set; redirect to dashboard.
          headers:
            Set-Cookie:
              schema: { type: string }
              description: HttpOnly + Secure session cookie.
        "400": { $ref: "#/components/responses/BadRequest" }
        "410":
          description: Magic-link token expired; request a fresh one.
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /auth/logout:
    post:
      tags: [auth]
      summary: Customer dashboard — revoke the current session + clear the cookie.
      description: |
        Idempotent. Calling without a session cookie is still a 200
        — the goal is just to leave the browser in a known
        signed-out state. Sets a Max-Age=-1 cookie so the browser
        drops it on the next response.
      responses:
        "200":
          description: Session revoked (if any) and cookie cleared.
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /auth/sep10/challenge:
    get:
      tags: [auth]
      summary: SEP-10 Web Auth — issue a challenge transaction.
      description: |
        Returns a Stellar challenge transaction the client must sign
        with its account secret key. Per SEP-10 §3.2 the response
        carries the unsigned XDR + the network passphrase the
        challenge was crafted for. Unauthenticated by design.
      parameters:
        - name: account
          in: query
          required: true
          schema: { type: string }
          description: Stellar G-strkey of the account being authenticated.
      responses:
        "200":
          description: Unsigned challenge transaction.
          content:
            application/json:
              schema:
                allOf:
                  - { $ref: "#/components/schemas/EnvelopeMeta" }
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/SEP10Challenge" }
                    required: [data]
        "400": { $ref: "#/components/responses/BadRequest" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /auth/sep10/token:
    post:
      tags: [auth]
      summary: SEP-10 Web Auth — exchange a signed challenge for a JWT.
      description: |
        Accepts a signed challenge transaction and returns a JWT
        bearing the authenticated G-strkey. Per SEP-10 §3.3 the body
        carries `{transaction: <base64-XDR>}`. Unauthenticated by
        design — the SEP-10 protocol IS the authentication.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                transaction:
                  type: string
                  description: Base64-encoded signed XDR of the challenge.
              required: [transaction]
      responses:
        "200":
          description: Authenticated; JWT issued.
          content:
            application/json:
              schema:
                allOf:
                  - { $ref: "#/components/schemas/EnvelopeMeta" }
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/SEP10Token" }
                    required: [data]
        "400": { $ref: "#/components/responses/BadRequest" }
        "401":
          description: Signature verification failed.
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "410":
          description: Challenge time-bounds expired; request a fresh challenge.
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

components:
  securitySchemes:
[...]
