# yaml-language-server: $schema=https://raw.githubusercontent.com/OAI/OpenAPI-Specification/main/schemas/v3.1/schema.json
#
# Source of truth for the Stellar Index public API.
#
# Every breaking change requires a PR that:
#   1. Updates this file.
#   2. Adds a new /vN path alongside the old one (never edit in place).
#   3. Regenerates docs via `make docs-api`.
#   4. Updates docs/reference/api-design.md if the design intent
#      changed (as opposed to an additive clarification).
#
# Every documented path is implemented in internal/api/v1/ — the
# spec and the live handler set are 1:1 (CI's openapi-handler drift
# check at scripts/ci/lint-docs.sh §11 enforces this). See
# docs/reference/api-design.md for the design rationale + headers
# / rate-limit / observability behaviour the middleware emits.

openapi: 3.1.0
info:
  title: Stellar Index API
  version: "1.4.0"
  summary: Aggregated Stellar asset pricing — real-time and historical.
  description: |
    The Stellar Index API exposes normalised, VWAP-aggregated pricing
    for every classic and SEP-41 Soroban asset on Stellar.

    Design intent: see
    https://github.com/StellarIndex/stellar-index/blob/main/docs/reference/api-design.md

    **Amounts are always strings.** JSON numbers lose precision above
    2^53 and break i128 Soroban token amounts.
  contact:
    name: Stellar Index
    url: https://stellarindex.io
    email: hello@stellarindex.io
  license:
    name: Apache-2.0
    identifier: Apache-2.0
servers:
  - url: https://api.stellarindex.io/v1
    description: Production
  - url: https://api.staging.stellarindex.io/v1
    description: Staging
  - url: http://localhost:3000/v1
    description: Self-hosted / dev

tags:
  - name: health
    description: Liveness + readiness.
  - name: explorer
    description: Network explorer — ledgers, transactions, operations, contracts, search (ADR-0038).
  - name: assets
    description: Asset catalogue + metadata.
  - name: price
    description: Current prices, batch, SSE stream.
  - name: history
    description: Historical TWAP / VWAP series.
  - name: ohlc
    description: OHLC candles.
  - name: markets
    description: Liquidity + venue breakdown per asset.
  - name: oracle
    description: |
      Per-source oracle observations (reflector-dex / -cex / -fx,
      redstone, band) plus SEP-40-shaped passthroughs
      (/oracle/lastprice, /oracle/prices, /oracle/x_last_price)
      that mirror Reflector's contract surface for client SDKs that
      already speak SEP-40.
  - name: account
    description: Self-service for API-key holders.
  - name: admin
    description: |
      Operator-only surfaces. Every route requires an operator-tier
      credential (staff-issued via stellarindex-ops; never granted
      to public callers) and is audit-logged.
  - name: auth
    description: |
      Sign-in surfaces — magic-link + 6-digit-code email flows that
      mint the dashboard session cookie, and the SEP-10 Web Auth
      challenge/token pair for wallet-keypair authentication.
  - name: dashboard
    description: |
      Customer dashboard backend (stellarindex.io/dashboard) —
      session-cookie-gated key + webhook management. Browser-facing;
      API-key callers use the /account/* surface instead.
  - name: meta
    description: |
      Metadata about the deployment itself — source catalogue,
      build info — not the trade / oracle / price data.
  - name: protocols
    description: |
      Per-protocol surfaces — the directory + deep-dive backing the
      explorer's Protocols pillar, plus protocol-scoped listings
      (lending pools).
  - name: analytics
    description: |
      Cross-cutting analytics surfaces — auto-flagged MEV events,
      anomalies, divergence. Derived signals over the trade + oracle
      data, backing the explorer's Analytics pillar.

security:
  - {}                          # anonymous allowed on most endpoints
  - APIKeyAuth: []              # API-key authenticated

paths:
  /healthz:
    get:
      tags: [health]
      summary: Liveness — process is up.
      description: |
        Shallow liveness probe. Returns 200 as long as the
        process is running and the mux is serving. Does NOT
        touch the database, Redis, or any downstream
        dependency — those are the readiness probe's job.

        F-1210 (codex audit-2026-05-12): `/healthz` is
        deliberately scoped to the serving-plane process
        liveness, NOT to SLA truth. Use `/v1/status` (the
        comprehensive rollup) for ingest lag, supply
        freshness, per-pair latency, evidence-timer
        coverage, and the rest of the launch-readiness
        signals — those are dashboarded separately because
        liveness probes (k8s, systemd, load balancer pool
        membership) MUST NOT flap when a backfill stalls,
        an external source goes silent, or a non-critical
        timer misfires.
      security: []
      responses:
        "200":
          description: |
            Alive. `status` field is `ok`; a pointer at
            `/v1/status` is included for the SLA-truth rollup.
          content:
            application/json:
              example:
                data:
                  status: ok
                  uptime: 8m53s
                  status_root: /v1/status
                as_of: '2026-07-03T22:37:12.743923086Z'
                flags:
                  stale: false
                  reduced_redundancy: false
                  triangulated: false
                  divergence_warning: false
                  divergence_checked: false
              schema: { $ref: "#/components/schemas/HealthResponse" }

  /readyz:
    get:
      tags: [health]
      summary: Readiness — serving-plane dependencies reachable.
      description: |
        Deep readiness probe scoped to the SERVING PLANE:
        every registered `ReadyChecker` (Postgres, Redis)
        is pinged in parallel under a shared 2-second
        deadline. 200 iff all pass; 503 with a per-check
        failure list otherwise.

        F-1210 (codex audit-2026-05-12): like `/healthz`,
        `/readyz` is deliberately scoped — it answers
        "should the load balancer route traffic to this
        instance?", NOT "is the launch-readiness gate
        green?" Ingest lag, supply freshness, latency
        SLOs, alert state, and evidence-timer coverage are
        the rich-rollup concern at `/v1/status`. An ingest
        stall must NOT pull every API instance out of
        rotation — it would turn a backfill-only outage
        into a customer-facing total outage.

        Operators monitoring launch-readiness should poll
        `/v1/status` (which the Cloudflare-Pages status
        page also consumes). Customers checking "can I
        call the API right now" use `/v1/healthz` (cheap)
        or `/v1/readyz` (deeper, but still serving-plane
        only).
      security: []
      responses:
        "200":
          description: |
            Ready to serve. `data.checks[]` lists each
            dependency-ping result. `data.status` is `ok` when
            every check passed, or `degraded` when a NON-critical
            dependency failed (the API still serves via fallback —
            e.g. Timescale covers a Redis cache miss per ADR-0007 —
            so the backend stays in the load-balancer pool;
            `flags.stale` is `true` in the degraded case).
          content:
            application/json:
              example:
                data:
                  status: ok
                  uptime: 8m54s
                  checks:
                  - name: postgres
                    ok: true
                  - name: redis
                    ok: true
                  status_root: /v1/status
                as_of: '2026-07-03T22:37:13.880270909Z'
                flags:
                  stale: false
                  reduced_redundancy: false
                  triangulated: false
                  divergence_warning: false
                  divergence_checked: false
              schema: { $ref: "#/components/schemas/ReadyEnvelope" }
        "503":
          description: |
            One or more CRITICAL serving-plane dependencies failed
            their ping under the deadline. The response is the same
            enveloped `ReadyResponse` shape as the 200 (NOT
            problem+json): `data.status` is `unready`, `flags.stale`
            is `true`, and `data.checks[]` carries the per-dependency
            breakdown so operators can see which dependency failed.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ReadyEnvelope" }

  /version:
    get:
      tags: [health]
      summary: Build metadata.
      description: |
        Reports what binary is serving: human-readable git-describe
        `version`, `build_date`, full VCS `commit` SHA, `dirty`
        (whether the build tree had uncommitted changes — production
        builds should always be `false`), and the runtime
        `go_version`. Intended for fleet-wide "what's running"
        checks over the API instead of shelling into hosts.
      security: []
      responses:
        "200":
          description: Version string, build date, git SHA.
          content:
            application/json:
              example:
                data:
                  build_date: '2026-07-03T22:24:02Z'
                  commit: 3d26b9d2b1bf72dc3caec9db9dceff59ca24f6b7
                  dirty: 'false'
                  go_version: go1.25.11
                  version: v0.7.6
                as_of: '2026-07-03T22:37:15.007238387Z'
                flags:
                  stale: false
                  reduced_redundancy: false
                  triangulated: false
                  divergence_warning: false
                  divergence_checked: false
              schema: { $ref: "#/components/schemas/VersionResponse" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /status:
    get:
      tags: [health]
      summary: Comprehensive system health rollup for the public status page.
      description: |
        Customer-facing surface — what the showcase status page renders.
        Returns per-service heartbeats (api / indexer / aggregator),
        API histogram-derived p50/p95/p99 latency over the last 5
        minutes, ingest freshness signals, and a count of currently-
        firing Alertmanager incidents grouped by severity.

        Always returns 200; the body's `overall` field reports
        degraded state rather than an HTTP error so monitoring
        dashboards can poll a single endpoint without alerting on
        503s. When the API isn't wired against a Prometheus backend,
        only the in-process surface (region label + uptime) is
        populated and `flags.stale=true`.
      security: []
      responses:
        "200":
          description: Status rollup envelope.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/StatusEnvelope" }
              example:
                data:
                  overall: ok
                  region: { name: r1, deployment: production }
                  services:
                    - { name: api,        status: ok, last_seen: "2026-05-05T15:09:00.116Z" }
                    - { name: indexer,    status: ok, last_seen: "2026-05-05T15:08:46Z" }
                    - { name: aggregator, status: ok, last_seen: "2026-05-05T15:08:47Z" }
                  latency:
                    p50_ms: 0.6
                    p95_ms: 3.85
                    p99_ms: 4.77
                    window_secs: 300
                  freshness:
                    last_aggregator_tick: "2026-05-05T15:08:57Z"
                    active_sources: 13
                    total_sources: 17
                  incidents:
                    active_count: 0
                    page_count: 0
                    ticket_count: 0
                    informational_count: 0
                as_of: "2026-05-05T15:09:00.119Z"
                flags: { stale: false, reduced_redundancy: false, triangulated: false, divergence_warning: false }

  /status/notices:
    get:
      tags: [health]
      summary: Active operator-posted status banners.
      description: |
        The public list of ACTIVE, human-authored status banners an
        operator posted for a maintenance window or an unfolding
        incident (admin Phase 1.5 incident tooling). The status page
        renders these alongside the Alertmanager-derived `incidents`
        block on GET /v1/status. Distinct from GET /v1/incidents, which
        serves the historical post-mortem corpus.

        Anonymous-friendly. Returns `{"notices":[],"count":0}` (never
        null) when no banners are active or the notice store is unwired.
      security: []
      responses:
        "200":
          description: Active status-notice list.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/StatusNoticesEnvelope" }

  /assets:
    get:
      tags: [assets]
      summary: List Stellar assets.
      description: |
        Paginated list of **Stellar** assets — native XLM, classic
        credits, Soroban tokens, and verified-catalogue currencies that
        have a Stellar on-chain issuance (USDC, EURC, AQUA, …). Cursor is
        opaque; `limit` is rejected with 400 when outside [1, 500] (NOT
        clamped).

        NON-Stellar assets — fiat currencies (USD, EUR, …) and
        reference-only coins (BTC, ETH, …) that have no Stellar issuance
        — are served by **`GET /external/assets`**, not here (LC-001).
        `asset_class=fiat` therefore returns an empty page on this route.

        The `asset_class` query param is the major dispatch (see its
        own parameter below): `stablecoin` / `crypto` serve a
        class-filtered view of the Stellar catalogue; `all` returns the
        unified Stellar listing; omitting it returns the legacy
        classic-assets page.
      parameters:
        - name: include
          in: query
          required: false
          schema: { type: string }
          description: >-
            Comma-separated row enrichments. Supported: `sparkline7d`
            (per-row 7-day price history for chart columns; one batch
            read per page).
        - name: q
          in: query
          required: false
          schema: { type: string }
          description: >-
            Case-insensitive substring filter over code / asset id /
            slug / name, applied server-side across BOTH phases of the
            unified listing (catalogue + the ~191K classic long tail).
        - name: limit
          in: query
          required: false
          schema: { type: integer, minimum: 1, maximum: 500 }
          description: Rows per page (default 100). Page 1 fills from the classic stream when the catalogue is shorter than the limit.
        - { $ref: "#/components/parameters/Cursor" }
        - { $ref: "#/components/parameters/Limit" }
        - name: asset_class
          in: query
          required: false
          description: |
            Major dispatch for the listing. One of:
            - `fiat` — fiat currencies from the verified-currency catalogue.
            - `stablecoin` — fiat-pegged stablecoins from the catalogue.
            - `crypto` — cryptocurrencies from the catalogue. The
              aliases `blockchain`, `cryptocurrency`, and
              `cryptocurrencies` fold to `crypto` (the explorer's
              filter-chip label).
            - `all` — the unified cross-class listing (every catalogue
              class plus indexed Stellar assets).

            Omitted: the legacy classic-assets page (unfiltered).
          schema:
            type: string
            enum: [fiat, stablecoin, crypto, blockchain, cryptocurrency, cryptocurrencies, all]
        - name: issuer
          in: query
          required: false
          description: |
            Filter the listing to assets minted by the supplied
            issuer G-strkey. Sourced from the same ListCoinsExt
            path the legacy issuer-scoped listing used; rows
            include the full coin-overlay shape (price_usd /
            volume_24h_usd / change_*_pct / etc) when a
            CoinsReader is wired.
          schema:
            type: string
            pattern: "^G[A-Z2-7]{55}$"
      responses:
        "200":
          description: Page of assets.
          content:
            application/json:
              example:
                data:
                - asset_id: xlm
                  type: global
                  code: XLM
                  decimals: 0
                  class: crypto
                  sep1_status: not_applicable
                  name: Stellar Lumens
                  circulating_supply: '339918360790041352'
                  market_cap_usd: '6937310086.48'
                  volume_24h_usd: '2601049.43451797'
                  change_24h_pct: '3.63'
                  price_usd: '0.20401200646499857404'
                  change_1h_pct: '0.01'
                  change_7d_pct: '15.70'
                  slug: xlm
                - asset_id: usdc
                  type: global
                  code: USDC
                  decimals: 0
                  class: stablecoin
                  sep1_status: not_applicable
                  name: USD Coin
                  circulating_supply: '2728642106735257'
                  market_cap_usd: '273375235.46'
                  volume_24h_usd: '2292696.89850489'
                  change_24h_pct: '0.33'
                  price_usd: '0.99989000000000'
                  change_1h_pct: '0.17'
                  change_7d_pct: '0.18'
                  slug: usdc
                as_of: '2026-07-03T22:37:16.207112941Z'
                flags:
                  stale: false
                  reduced_redundancy: false
                  triangulated: false
                  divergence_warning: false
                  divergence_checked: false
                pagination:
                  next: catalogue:2
              schema: { $ref: "#/components/schemas/AssetListEnvelope" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /external/assets:
    get:
      tags: [assets]
      summary: List non-Stellar (external) assets.
      description: |
        Paginated list of the NON-Stellar assets split off `/assets`
        (LC-001): fiat currencies (USD, EUR, …) and reference-only coins
        (BTC, ETH, …) from the verified-currency catalogue that have no
        Stellar on-chain issuance. These exist to feed the pricing /
        divergence pipeline and are surfaced here for browsing; they are
        deliberately excluded from `/assets`, which is Stellar-only.

        Same wire shape as the catalogue rows on `/assets` (GlobalAssetView:
        `asset_id` = slug, `type` = "global", no issuer/contract_id).
        `market_cap_usd` is populated for fiat (fxHistory-backed).
      parameters:
        - { $ref: "#/components/parameters/Cursor" }
        - { $ref: "#/components/parameters/Limit" }
        - name: asset_class
          in: query
          required: false
          description: |
            Optional class filter within the external set: `fiat` or
            `crypto` (reference coins). Omitted returns all external rows,
            market-cap ordered (fiats first).
          schema:
            type: string
            enum: [fiat, stablecoin, crypto, blockchain, cryptocurrency, cryptocurrencies]
      responses:
        "200":
          description: Page of external assets.
          content:
            application/json:
              example:
                data:
                - asset_id: chinese-yuan
                  type: global
                  code: CNY
                  decimals: 0
                  class: fiat
                  sep1_status: not_applicable
                  name: Chinese Yuan
                  circulating_supply: '302000000000000'
                  market_cap_usd: '44486344754441.27'
                  slug: chinese-yuan
                - asset_id: us-dollar
                  type: global
                  code: USD
                  decimals: 0
                  class: fiat
                  sep1_status: not_applicable
                  name: US Dollar
                  circulating_supply: '21700000000000'
                  market_cap_usd: '21700000000000.00'
                  price_usd: '1.00000000000000'
                  slug: us-dollar
                as_of: '2026-07-03T22:37:17.396303097Z'
                flags:
                  stale: false
                  reduced_redundancy: false
                  triangulated: false
                  divergence_warning: false
                  divergence_checked: false
                pagination:
                  next: '2'
              schema: { $ref: "#/components/schemas/AssetListEnvelope" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /external/assets/{slug}:
    get:
      tags: [assets]
      summary: External asset detail (fiat / reference coin).
      description: |
        `GlobalAssetView` detail for a NON-Stellar asset (fiat currency
        or reference-only coin) by catalogue slug or ticker. The Stellar
        counterpart lives on `/assets/{asset_id}`; a Stellar-issued slug
        (usdc, aqua, …) returns **404** here, and a non-Stellar slug
        returns 404 on `/assets/{asset_id}` — each asset resolves on
        exactly one path (LC-001, no redirect).
      parameters:
        - name: slug
          in: path
          required: true
          description: Catalogue slug (e.g. `us-dollar`, `bitcoin`) or ticker (`USD`, `BTC`).
          schema: { type: string }
      responses:
        "200":
          description: External asset detail.
          content:
            application/json:
              example:
                data:
                  ticker: USD
                  slug: us-dollar
                  name: US Dollar
                  description: Official currency of the United States. Reserve currency for most international trade and…
                  class: fiat
                  coingecko_id: usd
                  price_usd: '1.00000000000000'
                  price_authority: vwap_native
                  price_sources:
                  - identity
                  price_as_of: '2026-07-03T22:37:18.534338873Z'
                  circulating_supply: '21700000000000'
                  market_cap_usd: '21700000000000.00'
                as_of: '2026-07-03T22:37:18.534353688Z'
                flags:
                  stale: false
                  reduced_redundancy: false
                  triangulated: false
                  divergence_warning: false
                  divergence_checked: false
              schema: { $ref: "#/components/schemas/GlobalAssetEnvelope" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /assets/verified:
    get:
      tags: [assets]
      summary: Verified-currency catalogue listing.
      description: |
        Returns every entry in the binary's verified-currency
        catalogue (`internal/currency/data/seed.yaml`) — the
        hand-curated set of verified Stellar assets (USDC, EURC,
        AQUA, …) that the API surfaces with a "verified" badge.

        Distinct from `/v1/assets` which lists every Stellar-indexed
        asset (verified or not). This endpoint is identity-only —
        no price block — so it's a cheap directory call suitable for
        building a verified-currencies section on a listing page.

        Order matches the seed-file order (deterministic).
      responses:
        "200":
          description: List of verified-currency directory entries.
          content:
            application/json:
              example:
                data:
                - ticker: XLM
                  slug: xlm
                  name: Stellar Lumens
                  class: crypto
                  verified_issuer: Stellar Development Foundation
                  coingecko_id: stellar
                  coinmarketcap_id: '512'
                as_of: '2026-07-03T22:37:19.6906857Z'
                flags:
                  stale: false
                  reduced_redundancy: false
                  triangulated: false
                  divergence_warning: false
                  divergence_checked: false
              schema: { $ref: "#/components/schemas/VerifiedCurrencyListEnvelope" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /assets/{asset_id}:
    get:
      tags: [assets]
      summary: Asset detail — per-Stellar-asset view OR verified-currency global view.
      description: |
        Dispatch depends on the `asset_id` path parameter:

        - **Verified-currency slug WITH a Stellar issuance** (e.g.
          `usdc`, `eurc`, `aqua`) → returns the `GlobalAssetView` shape:
          ticker, slug, name, verified-issuer attribution, and the
          current USD price + price authority. Per-issuance Stellar
          detail lives on the canonical asset_id form below. A slug for
          a NON-Stellar asset (fiat, reference-only coin) returns **404**
          here — its detail lives on `/external/assets/{slug}` (LC-001);
          there is no redirect.
        - **Canonical Stellar asset_id** (`native`, `CODE-G…`,
          `C…` SAC contract, `fiat:CODE`) → returns the existing
          `Asset` shape (per-Stellar-asset detail with SEP-1
          overlay + F2 supply fields).

        Slugs match a hand-curated catalogue
        (`internal/currency/data/seed.yaml`); unknown slugs fall
        through to canonical parsing and return 400 if no canonical
        form matches.
      parameters:
        - { $ref: "#/components/parameters/AssetIdPath" }
      responses:
        "200":
          description: Asset + metadata. Shape depends on whether `asset_id` is a slug or a canonical id.
          content:
            application/json:
              example:
                data:
                  asset_id: USDC-GA5ZSEJYB37JRC5AVCIA5MOP4RHTM335X2KGX3IHOJAPP5RE34K4KZVN
                  type: classic
                  code: USDC
                  issuer: GA5ZSEJYB37JRC5AVCIA5MOP4RHTM335X2KGX3IHOJAPP5RE34K4KZVN
                  home_domain: centre.io
                  decimals: 7
                  sep1_status: verified
                  name: USD Coin
                  org_name: Centre Consortium LLC
                  circulating_supply: '2757874444178474'
                  total_supply: '2757874444178474'
                  market_cap_usd: '275787444.42'
                  volume_24h_usd: '2293068.58731944'
                  price_usd: '1.0002795935'
                  change_1h_pct: '-0.09'
                  change_7d_pct: '-0.14'
                  top_markets:
                  - counterparty: native
                    side: quote
                    volume_24h_usd: '1184662.45607940'
                    trade_count_24h: 44334
                  price_history_24h:
                  - t: '2026-07-02T23:00:00Z'
                    p: '1.0018115222'
                  price_history_7d:
                  - t: '2026-06-27T00:00:00Z'
                    p: '1.0007031277'
                  markets_count: 1236
                  trade_count_24h: 286977
                  slug: USDC
                  first_seen_ledger: 34180766
                  last_seen_ledger: 63316034
                as_of: '2026-07-03T22:36:28.712467097Z'
                flags:
                  stale: false
                  reduced_redundancy: false
                  triangulated: false
                  divergence_warning: false
                  divergence_checked: false
              schema:
                oneOf:
                  - $ref: "#/components/schemas/AssetEnvelope"
                  - $ref: "#/components/schemas/GlobalAssetEnvelope"
        "400": { $ref: "#/components/responses/BadRequest" }
        "404": { $ref: "#/components/responses/NotFound" }

  /assets/{asset_id}/metadata:
    get:
      tags: [assets]
      summary: Extended metadata (SEP-1 CURRENCIES block).
      description: |
        The asset's SEP-1 `[[CURRENCIES]]` slice on its own —
        same overlay-resolution path as `/v1/assets/{asset_id}`
        but returning ONLY the metadata fields, for clients that
        refresh metadata without re-fetching the pricing core.
        `sep1_status` reports resolver state (`verified` /
        `not_fetched` / `unreachable` / `no_match` /
        `not_applicable`) — resolver failures surface there, not
        as an HTTP error. 404 only when the asset isn't indexed
        at all.
      parameters:
        - { $ref: "#/components/parameters/AssetIdPath" }
      responses:
        "200":
          description: Extended metadata.
          content:
            application/json:
              example:
                data:
                  asset_id: USDC-GA5ZSEJYB37JRC5AVCIA5MOP4RHTM335X2KGX3IHOJAPP5RE34K4KZVN
                  home_domain: centre.io
                  sep1_status: verified
                  name: USD Coin
                  description: USDC is a fully collateralized US Dollar stablecoin, based on the open source fiat stablec…
                  image: https://www.centre.io/images/usdc/usdc-icon-86074d9d49.png
                  org_name: Centre Consortium LLC
                  anchor_asset: USD
                  anchor_asset_type: fiat
                as_of: '2026-07-03T22:37:22.027894731Z'
                flags:
                  stale: false
                  reduced_redundancy: false
                  triangulated: false
                  divergence_warning: false
                  divergence_checked: false
              schema: { $ref: "#/components/schemas/AssetMetadataEnvelope" }
        "404": { $ref: "#/components/responses/NotFound" }

  /assets/{asset_id}/supply:
    get:
      tags: [assets]
      summary: Live per-token supply (mint − burn − clawback).
      description: |
        Real-time total supply for any token, summed from the ClickHouse
        `supply_flows` lake (decode-at-ingest, ADR-0034): Σmint − Σburn −
        Σclawback over all history, kept current by the indexer's dual-sink
        with no rollup refresh. Amounts are decimal strings in the asset's
        smallest unit (ADR-0003); clients apply per-asset decimals for display.

        Resolution: a Soroban contract id (`C…`) is used directly; a classic
        asset (`CODE-ISSUER`) resolves to its Stellar-Asset-Contract — derived
        deterministically from the asset + network passphrase (valid even
        before the SAC is deployed), with the operator's configured SAC
        wrappers as an explicit override; `native` / `XLM` returns the ledger
        header's `total_coins` (`source=ledger_total_coins`), since XLM has no
        SAC mint/burn events. Only ids with no contract at all (`fiat:*`)
        return 404.

        Freshness (ADR-0041): `as_of_ledger` is the lake watermark the read
        is fresh to; `flags.stale` fires when the watermark's close time
        trails now by more than 300s.
      parameters:
        - { $ref: "#/components/parameters/AssetIdPath" }
      responses:
        "200":
          description: Live supply.
          content:
            application/json:
              example:
                data:
                  asset_id: native
                  total_supply: '1054439020873472865'
                  flow_count: 0
                  source: ledger_total_coins
                  as_of_ledger: 63340102
                as_of: '2026-07-03T22:40:11.747021406Z'
                flags:
                  stale: false
                  reduced_redundancy: false
                  triangulated: false
                  divergence_warning: false
                  divergence_checked: false
              schema: { $ref: "#/components/schemas/AssetSupplyEnvelope" }
        "404": { $ref: "#/components/responses/NotFound" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /assets/{asset_id}/holders:
    get:
      tags: [assets]
      summary: Top holders of an asset by trustline balance.
      description: |
        The accounts holding the largest balances of an asset, plus the total
        count of holders with a positive balance — reconstructed from the
        latest `ledger_entry_changes` trustline per account (ADR-0038 Phase C).
        `asset_id` is the canonical form (`CODE-ISSUER`, or `native`). Balances
        are strings (ADR-0003). Coverage grows with the entry-change capture
        window; full once the Phase-C backfill lands.

        Freshness (ADR-0041): `as_of_ledger` is the lake watermark the read
        is fresh to; `flags.stale` fires when the watermark's close time
        trails now by more than 300s.
      parameters:
        - { $ref: "#/components/parameters/AssetIdPath" }
        - { name: limit, in: query, description: "Maximum rows to return (1-500, default 100). Out-of-range values return 400.", schema: { type: integer, minimum: 1, maximum: 500, default: 100 } }
      responses:
        "200":
          description: Ranked holders + total holder count.
          content:
            application/json:
              example:
                data:
                  asset: USDC-GA5ZSEJYB37JRC5AVCIA5MOP4RHTM335X2KGX3IHOJAPP5RE34K4KZVN
                  holder_count: 615912
                  holders:
                  - account_id: GDWL5I6SENNVRK7PS7U3CRXIQTWHLFPSBXCGA3TWKTK7AQ7XO6FBXDFG
                    balance: '353017552538442'
                  - account_id: GC5LF63GRVIT5ZXXCXLPI3RX2YXKJQFZVBSAO6AUELN3YIMSWPD6Z6FH
                    balance: '282865538219201'
                  as_of_ledger: 63340102
                as_of: '2026-07-03T22:37:30.738401847Z'
                flags:
                  stale: false
                  reduced_redundancy: false
                  triangulated: false
                  divergence_warning: false
                  divergence_checked: false
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      asset: { type: string }
                      holder_count: { type: integer, format: int64 }
                      holders:
                        type: array
                        items:
                          type: object
                          properties:
                            account_id: { type: string }
                            balance: { type: string }
                      as_of_ledger: { type: integer, format: int64, description: "Lake watermark this read is fresh to (ADR-0041). Omitted when no watermark reader is wired. Pairs with flags.stale." }
        "400": { $ref: "#/components/responses/BadRequest" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /price:
    get:
      tags: [price]
      summary: Current aggregated price for one asset.
      description: |
        Returns the most-recent VWAP (or last-trade fallback) for the
        `asset` / `quote` pair from the closed-bucket cache.

        Resolution order (handler tries each in turn, takes the first
        non-empty result):

        1. Closed-bucket VWAP from `prices_1m` (the canonical
           aggregated value).
        2. Triangulated value from the Redis VWAP cache. Covers two
           sub-cases: (a) implied chains computed by the
           triangulation worker, surfaced with `flags.triangulated=true`;
           (b) stablecoin-proxy rewrites the aggregator emits at
           tick-time (e.g. `XLM/fiat:USD` synthesised from
           `XLM/USDC-G…`) without a triangulation marker.
        3. Fiat-vs-fiat cross-rate from the forex snapshot when both
           sides are `fiat:` typed (e.g.
           `?asset=fiat:EUR&quote=fiat:USD`). Computed as
           `rate_usd[Y] / rate_usd[X]`. Returned with
           `flags.triangulated=true` since the value is derived
           rather than a direct trade. Same fallback fires on
           `/v1/price/tip`, `/v1/price/batch`,
           `/v1/oracle/lastprice`, and `/v1/oracle/x_last_price`.

        Returns 404 only when every path above misses.
      parameters:
        - name: window
          in: query
          required: false
          schema: { type: string, enum: ["60", "300", "3600", "86400"] }
          description: >-
            Aggregation window in seconds (board #43; proposal: the
            current-price window is query-selectable). Default 60 = the
            closed 1-minute bucket (ADR-0015 semantics, unchanged).
            300/3600/86400 serve the aggregator's continuously-published
            rolling VWAP for that window; a window the aggregator has
            not published for the pair is a 404, never a silent
            substitution. Sub-minute rolling windows: /v1/price/tip.
        - { $ref: "#/components/parameters/AssetQuery" }
        - { $ref: "#/components/parameters/Quote" }
      responses:
        "200":
          description: Current price with freshness flags.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PriceEnvelope" }
              example:
                data:
                  asset_id: native
                  quote: fiat:USD
                  price: "0.159608357106"
                  price_type: vwap
                  observed_at: "2026-05-05T14:35:00Z"
                  window_seconds: 300
                as_of: "2026-05-05T14:35:42.881Z"
                flags:
                  stale: false
                  reduced_redundancy: false
                  triangulated: false
                  divergence_warning: false
        "400":        { $ref: "#/components/responses/BadRequest" }
        "404":        { $ref: "#/components/responses/NotFound" }
        "429":        { $ref: "#/components/responses/RateLimited" }
        "500":        { $ref: "#/components/responses/InternalError" }
        "503":        { $ref: "#/components/responses/ServiceUnavailable" }

  /price/at:
    get:
      operationId: getPriceAt
      tags: [price]
      summary: Point-in-time price (closed bucket at-or-before a timestamp)
      description: >-
        The pair's closed VWAP bucket at-or-before `ts` — the cost-basis
        / PnL / tax-tooling lookup. The answer comes from the FINEST CAGG
        resolution that covers the instant: `prices_1m` for recent
        timestamps, coarser bars (down to daily, back to 2015) for older
        ones. `observed_at` is the BUCKET's close time, never `ts`, and
        `window_seconds` reports the resolution used (60 for a 1-minute
        bar, 86400 for a daily bar) — so callers see exactly how far the
        nearest observation was and at what granularity. A nearest bucket
        more than 24 hours before `ts` is a 404 (the endpoint refuses to
        fabricate continuity across dead markets). When the literal pair
        (and its aliases) has no bucket and the quote is `fiat:USD`, the
        lookup retries each operator-declared USD-pegged classic (the
        same stablecoin-proxy chain as /v1/price) and returns the peg's
        bucket with `flags.triangulated=true`, echoing the requested
        quote. Current price: /v1/price or /v1/price/tip. Multi-horizon
        change: /v1/price/changes.
      parameters:
        - { name: asset, in: query, required: true, schema: { type: string }, description: "Canonical asset id (native | CODE-G... | C... | fiat:XXX)." }
        - { name: quote, in: query, required: false, schema: { type: string }, description: "Quote asset id; default fiat:USD." }
        - { name: ts, in: query, required: true, schema: { type: string, format: date-time }, description: "Historical instant, RFC 3339. Must not be in the future." }
      responses:
        "200":
          description: The closed bucket at-or-before ts.
          content:
            application/json:
              example:
                data:
                  asset_id: native
                  quote: fiat:USD
                  price: '0.18883137679433320865'
                  price_type: vwap
                  observed_at: '2026-07-01T00:00:00Z'
                  window_seconds: 60
                as_of: '2026-07-03T22:37:31.922227287Z'
                flags:
                  stale: false
                  reduced_redundancy: false
                  triangulated: false
                  divergence_warning: false
                  divergence_checked: false
              schema: { $ref: "#/components/schemas/PriceEnvelope" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "404": { $ref: "#/components/responses/NotFound" }

  /price/changes:
    get:
      operationId: getPriceChanges
      tags: [price]
      summary: Multi-horizon price change (1h / 24h / 7d / 30d in one call)
      description: >-
        The current closed price plus the signed percentage change over
        1h, 24h, 7d, and 30d — the wallet/portfolio delta strip in a
        single request (RFP §6). Each horizon's reference is the closed
        VWAP at-or-before `now − horizon`, resolved by the SAME
        point-in-time engine as /v1/price/at (finest CAGG resolution that
        covers the instant; daily bars reach back to 2015), so long
        horizons still answer for pairs whose minute-level history has
        aged out of the served tier. A horizon with no data that far back
        (a young pair, or a market that predates the window) is returned
        with all fields `null` and `available: false` — NEVER an error,
        so a fresh listing still returns its 1h/24h moves. Each horizon
        carries `reference_at` + `resolution` so callers see exactly
        which bucket (and at what granularity) the delta was measured
        against. A 404 only when the pair has no CURRENT price to anchor
        on. `quote` defaults to `fiat:USD`; when no direct fiat:USD
        bucket exists the same stablecoin-proxy chain as /v1/price
        resolves it via an operator-declared USD peg (`flags.triangulated`).
      parameters:
        - { $ref: "#/components/parameters/AssetQuery" }
        - { $ref: "#/components/parameters/Quote" }
      responses:
        "200":
          description: Current price + per-horizon change.
          content:
            application/json:
              example:
                data:
                  asset_id: native
                  quote: fiat:USD
                  current_price: '0.20416'
                  current_price_type: vwap
                  observed_at: '2026-07-05T00:00:00Z'
                  resolution: 1m
                  1h:
                    change_pct: '+0.42'
                    reference_price: '0.20330'
                    reference_at: '2026-07-04T23:00:00Z'
                    resolution: 1m
                    available: true
                  24h:
                    change_pct: '+3.62'
                    reference_price: '0.19703'
                    reference_at: '2026-07-04T00:00:00Z'
                    resolution: 1m
                    available: true
                  7d:
                    change_pct: '-1.08'
                    reference_price: '0.20639'
                    reference_at: '2026-06-28T00:00:00Z'
                    resolution: 1h
                    available: true
                  30d:
                    change_pct: null
                    reference_price: null
                    reference_at: null
                    resolution: null
                    available: false
                as_of: '2026-07-05T00:00:12.481Z'
                flags:
                  stale: false
                  reduced_redundancy: false
                  triangulated: false
                  divergence_warning: false
                  divergence_checked: false
              schema: { $ref: "#/components/schemas/PriceChangesEnvelope" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /price/tip:
    get:
      tags: [price]
      summary: Rolling-window tip price (ADR-0018 tip surface).
      description: |
        Realtime "what's the price right now" surface per ADR-0018.
        Returns a VWAP over a short rolling window (default 5 s, clamp
        1–60 s); when the window has no trades, falls back to the
        most-recent observed price for the pair.

        Both branches are **in-contract** — `flags.stale` is always
        `false` on this surface. Customers read `price_type` and
        `observed_at` to know what they got. Cross-region consistency
        is **not** provable here; use `/v1/price` for the closed-bucket
        guarantee.

        URL discipline: `?granularity=` is rejected with 400 — that's
        a closed-bucket concept and accepting it would silently change
        the consistency contract.
              FRESHNESS CONTRACT (choosing between /price and /price/tip):
        /price serves the last CLOSED minute bucket (deterministic,
        cache-friendly — up to ~150s behind wall-clock by design,
        ADR-0015); THIS endpoint is the ≤30s-freshness surface. An
        empty rolling window escalates once to 30s (the SLA bound)
        before any closed-bucket fallback, so staleness exceeds 30s
        only when the pair genuinely had no trade in the last 30s —
        read observed_at + window_seconds to know what you got.
      parameters:
        - { $ref: "#/components/parameters/AssetQuery" }
        - { $ref: "#/components/parameters/Quote" }
        - name: window_seconds
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 60
            default: 5
          description: Rolling-window size in seconds for the VWAP.
      responses:
        "200":
          description: Tip price (VWAP or last-good fallback).
          content:
            application/json:
              example:
                data:
                  asset_id: native
                  quote: fiat:USD
                  price: '0.2042667348'
                  price_type: vwap
                  observed_at: '2026-07-03T22:37:33.044745387Z'
                  window_seconds: 30
                as_of: '2026-07-03T22:37:33.045908618Z'
                sources:
                - coinbase
                - bitstamp
                flags:
                  stale: false
                  reduced_redundancy: false
                  triangulated: false
                  divergence_warning: false
                  divergence_checked: false
              schema: { $ref: "#/components/schemas/PriceEnvelope" }
        "400":        { $ref: "#/components/responses/BadRequest" }
        "404":        { $ref: "#/components/responses/NotFound" }
        "429":        { $ref: "#/components/responses/RateLimited" }
        "500":        { $ref: "#/components/responses/InternalError" }
        "503":        { $ref: "#/components/responses/ServiceUnavailable" }

  /price/tip/stream:
    get:
      tags: [price]
      summary: SSE stream of tip-price updates (ADR-0018).
      description: |
        Server-Sent Events counterpart of `/v1/price/tip`. Same
        compute logic; pushed on a per-connection tick (default
        every `window_seconds` seconds, clamp 1–60 s).

        - First event fires synchronously on connect (no waiting a
          full window).
        - Pre-flight 404 when the pair has no observations: SSE
          can't change status mid-stream, so emptiness is detected
          before the response body switches to `text/event-stream`.
        - Heartbeats every 15 s as comment lines (`:keepalive`) so
          intermediate proxies don't idle out the connection.
        - Resume after disconnect by setting `Last-Event-ID` on the
          reconnect (header preferred, `?last_event_id=` fallback).
        - Same URL-discipline rule as `/v1/price/tip`:
          `?granularity=` returns 400.
      parameters:
        - { $ref: "#/components/parameters/AssetQuery" }
        - { $ref: "#/components/parameters/Quote" }
        - name: window_seconds
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 60
            default: 5
          description: Tick cadence (and rolling-VWAP window) in seconds.
        - name: Last-Event-ID
          in: header
          required: false
          schema: { type: string }
          description: Opaque ID for resuming a previously-broken stream.
      responses:
        "200":
          description: SSE stream of tip_update events.
          content:
            text/event-stream:
              schema: { type: string }
        "400":        { $ref: "#/components/responses/BadRequest" }
        "404":        { $ref: "#/components/responses/NotFound" }
        "429":        { $ref: "#/components/responses/RateLimited" }
        "500":        { $ref: "#/components/responses/InternalError" }
        "503":        { $ref: "#/components/responses/ServiceUnavailable" }

  /price/batch:
    get:
      tags: [price]
      summary: Current prices for up to 100 assets.
      description: |
        Latest price for each id in `asset_ids` (comma-separated,
        max 100; duplicates de-duplicated server-side). Assets with
        no observation are OMITTED from the response rather than
        failing the batch — a caller asking for 5 assets and
        getting 3 rows knows exactly which 2 lack data. The
        envelope's `flags.stale` is the OR over per-row staleness.
        Above 100 ids, use the POST form (up to 1000 in the body).
      parameters:
        - name: asset_ids
          in: query
          required: true
          schema:
            type: string
            example: "native,USDC-GA5ZSEJYB37JRC5AVCIA5MOP4RHTM335X2KGX3IHOJAPP5RE34K4KZVN"
          example: "native,USDC-GA5ZSEJYB37JRC5AVCIA5MOP4RHTM335X2KGX3IHOJAPP5RE34K4KZVN"
          description: |
            Comma-separated canonical asset ids, max 100. Same strict
            form as `/v1/price?asset=` — short symbols are rejected.
        - { $ref: "#/components/parameters/Quote" }
      responses:
        "200":
          description: Batch prices.
          content:
            application/json:
              example:
                data:
                - asset_id: crypto:XLM
                  quote: fiat:USD
                  price: '0.20401200646499857404'
                  price_type: vwap
                  observed_at: '2026-07-03T22:36:00Z'
                  window_seconds: 60
                  change_24h_pct: '+3.62'
                - asset_id: USDC-GA5ZSEJYB37JRC5AVCIA5MOP4RHTM335X2KGX3IHOJAPP5RE34K4KZVN
                  quote: fiat:USD
                  price: '1.000000000000'
                  price_type: peg
                  observed_at: '2026-07-03T22:37:34.197270411Z'
                as_of: '2026-07-03T22:37:34.248518093Z'
                sources:
                - bitstamp
                - coinbase
                flags:
                  stale: true
                  reduced_redundancy: false
                  triangulated: true
                  divergence_warning: false
                  divergence_checked: false
              schema: { $ref: "#/components/schemas/PriceBatchEnvelope" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }
    post:
      tags: [price]
      summary: Current prices for up to 1000 assets.
      description: |
        Body-parameter form of `GET /price/batch` for large
        watchlists — up to 1000 canonical asset ids in a JSON
        array (URLs would blow past query-string limits well
        before that). Same semantics as the GET form: missing
        observations are omitted, not errored; `flags.stale` is
        the OR over returned rows.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                asset_ids:
                  type: array
                  items: { type: string }
                  maxItems: 1000
                quote:
                  type: string
                  default: USD
              required: [asset_ids]
      responses:
        "200":
          description: Batch prices.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PriceBatchEnvelope" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /observations:
    get:
      tags: [price]
      summary: Raw per-source observations (ADR-0018 Surface 3).
      description: |
        Lowest-level surface per ADR-0018: returns the most-recent
        trade from each source that has ever traded the (asset, quote)
        pair. No aggregation, no chaining, no smoothing — purely
        "what each venue last published".

        - `?source=X` narrows to a single source (0- or 1-element array).
        - `?aggregate=latest` collapses to the single newest trade across
          sources (preserves the array wire shape; length 1).
        - `flags.stale` is **always** `false` here — there is no
          aggregation contract to fall short of.
        - Cross-region consistency is **NOT** provable on this surface;
          use `/v1/price` for the closed-bucket guarantee.
        - Empty pair returns 200 with `data: []`, not 404.

        URL discipline: `?granularity=` and `?window_seconds=` return 400
        — those are closed-bucket and tip concepts respectively.
      parameters:
        - { $ref: "#/components/parameters/AssetQuery" }
        - { $ref: "#/components/parameters/Quote" }
        - name: source
          in: query
          required: false
          schema: { type: string }
          description: Restrict to one source's most-recent trade (0/1 row).
        - name: aggregate
          in: query
          required: false
          schema:
            type: string
            enum: [latest]
          description: |
            `latest` collapses to the single most-recent trade across
            all sources. Omit for one row per source.
      responses:
        "200":
          description: Per-source observations array.
          content:
            application/json:
              example:
                data:
                - source: sdex
                  ledger: 63316220
                  tx_hash: 825ede3a206341add5b365d22023de7843b098f710b014de56aa99d29fe7e27b
                  op_index: 1025
                  ts: '2026-07-03T22:42:17Z'
                  base_asset: native
                  quote_asset: USDC-GA5ZSEJYB37JRC5AVCIA5MOP4RHTM335X2KGX3IHOJAPP5RE34K4KZVN
                  base_amount: '55653'
                  quote_amount: '11363'
                  price: '0.2041758755'
                as_of: '2026-07-03T22:42:26.862812578Z'
                sources:
                - sdex
                flags:
                  stale: false
                  reduced_redundancy: false
                  triangulated: false
                  divergence_warning: false
                  divergence_checked: false
                  single_source: true
              schema:
                allOf:
                  - { $ref: "#/components/schemas/EnvelopeMeta" }
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/TradeRow" }
                    required: [data]
        "400":        { $ref: "#/components/responses/BadRequest" }
        "500":        { $ref: "#/components/responses/InternalError" }
        "503":        { $ref: "#/components/responses/ServiceUnavailable" }

  /observations/stream:
    get:
      tags: [price]
      summary: SSE stream of raw per-source observations (ADR-0018).
      description: |
        Streaming counterpart of `/v1/observations`. Same compute
        logic; pushed on a per-connection tick (default every 5 s,
        clamp 1–60 s — independent of tip's `window_seconds` because
        observations does not aggregate).

        - First event fires synchronously on connect; data may be
          an empty array (the pair has no observations yet — same
          200/empty contract as the request endpoint, NOT 404).
        - Recurring events fire unconditionally on each tick (no
          server-side dedupe) — clients diff against the previous
          payload if they want change-detection.
        - Heartbeats every 15 s as comment lines.
        - URL discipline: `?granularity=` and `?window_seconds=`
          return 400.
      parameters:
        - { $ref: "#/components/parameters/AssetQuery" }
        - { $ref: "#/components/parameters/Quote" }
        - name: source
          in: query
          required: false
          schema: { type: string }
          description: Restrict to one source's most-recent trade.
        - name: aggregate
          in: query
          required: false
          schema:
            type: string
            enum: [latest]
          description: |
            `latest` collapses to the single most-recent trade across
            all sources.
        - name: interval_seconds
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 60
            default: 5
          description: Tick cadence in seconds.
        - name: Last-Event-ID
          in: header
          required: false
          schema: { type: string }
          description: Opaque ID for resuming a previously-broken stream.
      responses:
        "200":
          description: SSE stream of observations_update events.
          content:
            text/event-stream:
              schema: { type: string }
        "400":        { $ref: "#/components/responses/BadRequest" }
        "500":        { $ref: "#/components/responses/InternalError" }
        "503":        { $ref: "#/components/responses/ServiceUnavailable" }

  /price/stream:
    get:
      tags: [price]
      summary: SSE stream of closed-bucket price updates (ADR-0015).
      description: |
        SSE counterpart of `/v1/price` — carries the strict ADR-0015
        closed-bucket consistency contract. Unlike `/v1/price/tip/stream`
        and `/v1/observations/stream` (per-connection tick), this
        surface is **Hub-driven**: the aggregator publishes one event
        per closed bucket, and every subscriber on the same
        (asset, quote) pair receives byte-identical payloads — the
        same cross-region consistency guarantee `/v1/price` exposes.

        - Heartbeats every 15 s as comment lines.
        - Resume after disconnect via `Last-Event-ID` (header preferred,
          `?last_event_id=` fallback).
        - URL discipline: `?granularity=` returns 400 — the closed-
          bucket stream is fixed at 1m; use
          `/v1/history/since-inception` for other granularities.
        - 503 when the deployment hasn't wired the streaming Hub
          (typical pre-aggregator state).
      parameters:
        - { $ref: "#/components/parameters/AssetQuery" }
        - { $ref: "#/components/parameters/Quote" }
        - name: Last-Event-ID
          in: header
          required: false
          schema: { type: string }
          description: Opaque ID for resuming a previously-broken stream.
      responses:
        "200":
          description: SSE stream of price_update events.
          content:
            text/event-stream:
              schema: { type: string }
        "400":        { $ref: "#/components/responses/BadRequest" }
        "429":        { $ref: "#/components/responses/RateLimited" }
        "503":        { $ref: "#/components/responses/ServiceUnavailable" }

  /history:
    get:
      tags: [history]
      summary: Raw trade history for a pair in a time window.
      description: |
        Returns per-trade records ordered (ts, ledger, tx_hash, op_index, source)
        ascending. Cursor paginates across the full-PK tuple; truncating
        the cursor at (ts, ledger) would drop rows sharing those
        values (high-volume ledgers).

        Bucketed/granularity-based history (VWAP/TWAP series at 1m/15m/...)
        will ship via the aggregator binary (see
        cmd/stellarindex-aggregator) on a different response shape —
        not this endpoint.
      parameters:
        - { $ref: "#/components/parameters/Base" }
        - { $ref: "#/components/parameters/QuoteRequired" }
        - { $ref: "#/components/parameters/From" }
        - { $ref: "#/components/parameters/To" }
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 10000, default: 1000 }
        - { $ref: "#/components/parameters/Cursor" }
      responses:
        "200":
          description: Per-trade records.
          content:
            application/json:
              example:
                data:
                - source: sdex
                  ledger: 63302110
                  tx_hash: a34dfaf2c7a1c1ec8d4f36e9fb693ffc8462285bd9018e97109ae8d039425d3c
                  op_index: 9216
                  ts: '2026-07-03T00:00:17Z'
                  base_asset: native
                  quote_asset: USDC-GA5ZSEJYB37JRC5AVCIA5MOP4RHTM335X2KGX3IHOJAPP5RE34K4KZVN
                  base_amount: '4331'
                  quote_amount: '863'
                  price: '0.1992611406'
                  base_decimals: 7
                  quote_decimals: 7
                as_of: '2026-07-03T22:42:25.518134702Z'
                flags:
                  stale: false
                  reduced_redundancy: false
                  triangulated: false
                  divergence_warning: false
                  divergence_checked: false
                pagination:
                  next: MTc4MzAzNjgyMzAwMDAwMDAwMDo2MzMwMjExMTpzZGV4OjM3NzE2OTY1OTE4YjgxNzI2NzVhYzVhMTBkOGIxMzA4MT…
              schema: { $ref: "#/components/schemas/TradeHistoryEnvelope" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /history/since-inception:
    get:
      tags: [history]
      summary: Closed-bucket historical VWAP series for one asset/quote pair.
      description: |
        Returns every CLOSED bucket from the requested continuous
        aggregate ladder (`1m`, `15m`, `1h`, `4h`, `1d`, `1w`,
        `1mo`) for the requested asset/quote pair. This is the
        bucketed history surface; `/history` remains the raw
        per-trade endpoint.
      parameters:
        - { $ref: "#/components/parameters/AssetQuery" }
        - { $ref: "#/components/parameters/Quote" }
        - { $ref: "#/components/parameters/Granularity" }
      responses:
        "200":
          description: Since-inception series.
          content:
            application/json:
              example:
                data:
                  asset_id: native
                  quote: fiat:USD
                  price_type: vwap
                  granularity: 1d
                  points:
                  - t: '2021-02-02T00:00:00Z'
                    p: '0.32955352120071295890'
                    v_usd: '0'
                as_of: '2026-07-03T22:37:38.237691998Z'
                flags:
                  stale: false
                  reduced_redundancy: false
                  triangulated: true
                  divergence_warning: false
                  divergence_checked: false
              schema: { $ref: "#/components/schemas/HistoryEnvelope" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /chart:
    get:
      tags: [history]
      summary: Rolling-window chart series for an asset/quote pair.
      description: |
        Returns CLOSED CAGG buckets within a rolling time window for
        one asset/quote pair, shaped as `(timeframe, granularity,
        price_type) → points[]` per the V1 chart contract.

        Defaults: `quote=fiat:USD`, `timeframe=24h`,
        `granularity` per the timeframe table below, `price_type=vwap`.

        Default-granularity table (per ADR-0020):

        | Timeframe | Default granularity |
        | --------- | ------------------- |
        | `1h`      | `1m`                |
        | `24h`     | `15m`               |
        | `1w`      | `1h`                |
        | `1mo`     | `4h`                |
        | `1y`      | `1d`                |
        | `all`     | `1d`                |

        `price_type=twap` returns a time-weighted series from the
        `twap_1h` / `twap_1d` continuous aggregates. TWAP is
        time-weighted at 1-minute resolution (each minute's mean price
        counts once, regardless of how many trades printed in it), so
        it is served only at 1h or 1d granularity — the requested
        `granularity` is snapped onto the nearer of the two and the
        response reports the grain actually served. Single-bar TWAP
        over an arbitrary window stays on `/v1/twap` (LOCF Δt-weighted
        compute from raw trades).

        Fiat:fiat pairs are served from the daily `fx_quotes`
        reference-rate series (sub-daily granularities replicate the
        daily bar). Cross-fiat pairs where neither side is USD
        (e.g. `asset=fiat:EUR&quote=fiat:JPY`) are triangulated on
        read through both USD legs — `rate_usd[quote] /
        rate_usd[base]` per shared day, same algebra as /v1/price's
        cross-rate fallback — and stamp `flags.triangulated=true`.
      parameters:
        - { $ref: "#/components/parameters/AssetQuery" }
        - { $ref: "#/components/parameters/Quote" }
        - { $ref: "#/components/parameters/Timeframe" }
        - { $ref: "#/components/parameters/Granularity" }
        - { $ref: "#/components/parameters/PriceType" }
      responses:
        "200":
          description: Chart series.
          content:
            application/json:
              example:
                data:
                  asset_id: native
                  quote: fiat:USD
                  timeframe: 24h
                  granularity: 1h
                  price_type: vwap
                  points:
                  - t: '2026-07-02T23:00:00Z'
                    p: '0.19854703598674192431'
                    v_usd: '41358.47144920'
                  - t: '2026-07-03T00:00:00Z'
                    p: '0.19768864227725027668'
                    v_usd: '29205.97729980'
                  truncated: false
                as_of: '2026-07-03T22:37:39.460980449Z'
                flags:
                  stale: false
                  reduced_redundancy: false
                  triangulated: true
                  divergence_warning: false
                  divergence_checked: false
              schema: { $ref: "#/components/schemas/ChartEnvelope" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /ohlc:
    get:
      tags: [ohlc]
      summary: OHLC bar (single window or multi-bar series) for a pair.
      description: |
        Two modes share this route — selected by the presence of the
        `interval` query parameter:

        1. **Single-bar (default — back-compat)**: no `interval`. Returns
           one OHLC bar (`OHLCBar`) for the window `[from, to)` computed
           from raw trades. Single-bar mode 404s on an empty window.
           `truncated=true` means the window exceeded the per-request cap
           (10000 trades) and the bar reflects only the first N.
           `outlier_sigma` (default 4σ) drops dust before bar computation;
           `outlier_sigma=0` to opt into raw extremes.

           Defaults: `from = to - 1h`, `to = now` (clamped to the
           previous 30 s closed-bucket boundary per ADR-0015).

        2. **Multi-bar series (CG/CMC parity, F-0071)**: `interval` is
           one of `1m`, `5m`, `15m`, `30m`, `1h`, `4h`, `1d`, `1w`.
           Returns `OHLCSeriesResponse` — an `intervals[]` array of
           closed CAGG-backed bars sourced from `prices_<N>`. The
           in-progress bucket is excluded (closed-bucket guard).
           `limit` clamps the bar count (default 100, max 1000).
           Empty window returns 200 + `{intervals: []}` (NOT 404 —
           series clients expect a stable shape across pairs/windows).

           Defaults (series mode):
             - `to`   = now snapped DOWN to the interval's UTC boundary
               (1m → :00, 1h → top of hour, 1d → 00:00 UTC).
             - `from` = `to - limit * interval`.

           5m, 30m, and 4h are CAGG-re-bucketed from finer-grain
           continuous aggregates (5m/30m ← prices_1m, 4h ← prices_1h).
      parameters:
        - { $ref: "#/components/parameters/Base" }
        - { $ref: "#/components/parameters/QuoteRequired" }
        - { $ref: "#/components/parameters/From" }
        - { $ref: "#/components/parameters/To" }
        - name: interval
          in: query
          required: false
          schema:
            type: string
            enum: [1m, 5m, 15m, 30m, 1h, 4h, 1d, 1w, 1mo]
          description: |
            Bar width for multi-bar series mode. Omit for the
            single-bar response over `[from, to)`. Invalid intervals
            return 400 `errors/invalid-interval`.
        - name: limit
          in: query
          required: false
          schema: { type: integer, minimum: 1, maximum: 1000, default: 100 }
          description: |
            Series-mode bar count (max 1000, default 100). Ignored in
            single-bar mode. Invalid values return 400
            `errors/limit-too-large`.
        - name: outlier_sigma
          in: query
          schema: { type: number, minimum: 0, default: 4 }
          description: "Drop trades > N σ from window mean before computing the bar (single-bar mode only). Default 4σ. Pass 0 to disable."
      responses:
        "200":
          description: |
            OHLC response. Wire shape depends on mode:
            single-bar (no `interval`) returns `OHLCEnvelope`;
            multi-bar (`interval` set) returns
            `OHLCSeriesEnvelope`.
          content:
            application/json:
              example:
                data:
                  base: native
                  quote: fiat:USD
                  interval: 1h
                  from: '2026-07-03T20:00:00Z'
                  to: '2026-07-03T22:00:00Z'
                  intervals:
                  - t: '2026-07-03T20:00:00Z'
                    o: '0.2038114923'
                    h: '0.2500000000'
                    l: '0.2034919999'
                    c: '0.2055899576'
                    v_base: '1751598864823776'
                    v_quote: '359971028467214.0000042405'
                    n: 11667
                  - t: '2026-07-03T21:00:00Z'
                    o: '0.2056073590'
                    h: '0.2062000000'
                    l: '0.2033449999'
                    c: '0.2055593613'
                    v_base: '844461854722825'
                    v_quote: '173117716771324.0000032245'
                    n: 8497
                as_of: '2026-07-03T22:37:40.607101334Z'
                flags:
                  stale: false
                  reduced_redundancy: false
                  triangulated: true
                  divergence_warning: false
                  divergence_checked: false
              schema:
                oneOf:
                  - { $ref: "#/components/schemas/OHLCEnvelope" }
                  - { $ref: "#/components/schemas/OHLCSeriesEnvelope" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "404":
          description: |
            Single-bar mode only — no trades in window. Series mode
            returns 200 with `intervals: []` instead.
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /vwap:
    get:
      tags: [price]
      summary: Volume-weighted average price over a window.
      description: |
        Returns VWAP = Σ(quote) / Σ(base) for every trade in
        [from, to) for the given pair. Optional outlier filter
        drops prices > N σ from the window mean. When the window
        has more than the server's per-request cap (10000 trades)
        the response carries `truncated: true` — the price
        reflects only the chronologically-first N trades, not the
        full window.
      parameters:
        - { $ref: "#/components/parameters/Base" }
        - { $ref: "#/components/parameters/QuoteRequired" }
        - { $ref: "#/components/parameters/From" }
        - { $ref: "#/components/parameters/To" }
        - name: outlier_sigma
          in: query
          schema: { type: number, minimum: 0 }
          description: "Drop trades > N σ from window mean. 0 disables (default)."
      responses:
        "200":
          description: Volume-weighted price + volumes + trade count.
          content:
            application/json:
              example:
                data:
                  from: '2026-07-03T21:37:30Z'
                  to: '2026-07-03T22:37:30Z'
                  price: '0.2045966459'
                  base_volume: '1385735379056'
                  quote_volume: '283516810732'
                  trade_count: 2483
                  outliers_filtered: 0
                  truncated: false
                as_of: '2026-07-03T22:37:41.757287184Z'
                flags:
                  stale: false
                  reduced_redundancy: false
                  triangulated: true
                  divergence_warning: false
                  divergence_checked: false
              schema: { $ref: "#/components/schemas/VWAPEnvelope" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "404":
          description: No trades in window.
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "422":
          description: All trades filtered as outliers.
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /twap:
    get:
      tags: [price]
      summary: Time-weighted average price over a window.
      description: |
        Each trade's price is active from its timestamp to the
        next trade's (or windowEnd for the last). TWAP is the
        duration-weighted mean. No outlier filter: time-weighting
        is itself outlier-resistant (spurious prints get only
        their slot duration, not a full window's worth).
      parameters:
        - { $ref: "#/components/parameters/Base" }
        - { $ref: "#/components/parameters/QuoteRequired" }
        - { $ref: "#/components/parameters/From" }
        - { $ref: "#/components/parameters/To" }
      responses:
        "200":
          description: Time-weighted price + trade count.
          content:
            application/json:
              example:
                data:
                  from: '2026-07-03T21:37:30Z'
                  to: '2026-07-03T22:37:30Z'
                  price: '0.2044317708'
                  trade_count: 2483
                  truncated: false
                as_of: '2026-07-03T22:37:42.906364691Z'
                flags:
                  stale: false
                  reduced_redundancy: false
                  triangulated: true
                  divergence_warning: false
                  divergence_checked: false
              schema: { $ref: "#/components/schemas/TWAPEnvelope" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "404":
          description: No trades in window.
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /oracle/latest:
    get:
      tags: [oracle]
      summary: Latest oracle reading per source for an asset.
      description: |
        Returns one OracleReading per source (reflector-dex /
        reflector-cex / reflector-fx / redstone / band /
        coingecko) that has observed the asset. Optional source
        filter restricts to a single source.

        Asset translation: classic Stellar identifiers map to the
        global crypto ticker the oracles publish under — so
        `asset=native` returns XLM observations (Reflector keys
        them as `crypto:XLM`), `asset=USDC-GA5Z…` returns the
        USDC global-ticker observations, etc. Already-canonical
        forms (`crypto:XLM`, `fiat:USD`, contract addresses) pass
        through unchanged.
      parameters:
        - { $ref: "#/components/parameters/AssetQuery" }
        - name: source
          in: query
          schema: { type: string }
          description: "Optional. Restrict to a single source name."
      responses:
        "200":
          description: Array of OracleReading (empty when no observations).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OracleLatestEnvelope" }
              example:
                data:
                  - source: reflector-cex
                    contract_id: CAFJZQWSED6YAWZU3GWRTOCNPPCGBN32L7QV43XX5LZLFTK6JLN34DLN
                    asset: crypto:XLM
                    quote: fiat:USD
                    ts: "2026-05-05T16:25:00Z"
                    price: "0.15912"
                    price_raw: "15912000000000"
                    decimals: 14
                    confidence: 0.96
                    observer: GRELAYER0000000000000000000000000000000000000000000000000000
                  - source: band
                    asset: crypto:XLM
                    quote: fiat:USD
                    ts: "2026-05-05T16:25:30Z"
                    price: "0.15908"
                    price_raw: "159080000000000000"
                    decimals: 18
                  - source: redstone
                    asset: crypto:XLM
                    quote: fiat:USD
                    ts: "2026-05-05T16:24:00Z"
                    price: "0.15920"
                    price_raw: "159200000"
                    decimals: 9
                  - source: coingecko
                    asset: crypto:XLM
                    quote: fiat:USD
                    ts: "2026-05-05T16:25:00Z"
                    price: "0.15915"
                    price_raw: "15915"
                    decimals: 5
                as_of: "2026-05-05T16:25:42.881Z"
                flags: { stale: false, reduced_redundancy: false, triangulated: false, divergence_warning: false }
        "400": { $ref: "#/components/responses/BadRequest" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /pools:
    get:
      tags: [markets]
      summary: DEX/AMM liquidity pools (one row per (source, base, quote)).
      description: |
        Like /v1/markets but DEX-only and with a `source` dimension —
        the same pair traded on two DEXes appears as two rows. Backed
        by the dispatch path through Soroswap / Phoenix / Aquarius /
        SDEX / Comet (Class=Exchange + Subclass=DEX in the source
        registry). CEX trading pairs go through /v1/markets;
        "pool" is AMM/DEX terminology and applying it to centralised
        venues misnames the data.
      parameters:
        - { $ref: "#/components/parameters/Cursor" }
        - name: limit
          in: query
          description: Maximum rows per page (1-500, default 100).
          schema: { type: integer, minimum: 1, maximum: 500, default: 100 }
        - name: order_by
          in: query
          schema: { type: string, enum: [volume_24h_usd_desc, pair], default: volume_24h_usd_desc }
        - name: source
          in: query
          schema: { type: string }
          description: |
            Optional. Restrict to a single DEX name (soroswap /
            phoenix / aquarius / sdex / comet). Non-DEX names return
            an empty list rather than 400.
        - name: base
          in: query
          schema: { type: string }
          description: |
            Optional. Canonical base asset_id (`native`, `USDC-G…`,
            etc.). Combined with `quote` gives the per-source
            breakdown for one pair — used by the pair detail page
            to render "which venues moved this pair in the last 24h".
        - name: quote
          in: query
          schema: { type: string }
          description: |
            Optional. Canonical quote asset_id. See `base`.
        - name: asset
          in: query
          schema: { type: string }
          description: |
            Optional. Canonical asset_id (`native`, `USDC-G…`,
            `fiat:USD`, …). Restricts to pools where the asset
            appears on either side (base OR quote). Use this on
            asset-detail surfaces to surface every pool touching
            the asset in one request, instead of firing parallel
            `?base=` + `?quote=` and merging client-side. Returns
            400 `invalid-asset-id` for unparseable values; 400
            `conflicting-filters` when combined with `base`/`quote`
            (the OR-shape and AND-shape filters can't be mixed).
      responses:
        "200":
          description: Array of pool rows.
          content:
            application/json:
              example:
                data:
                - source: sdex
                  base: native
                  quote: USDC-GA5ZSEJYB37JRC5AVCIA5MOP4RHTM335X2KGX3IHOJAPP5RE34K4KZVN
                  last_trade_at: '2026-07-03T21:59:52Z'
                  trade_count_24h: 74870
                  volume_24h_usd: '2151631.29284562791192465110403660600000000000000000'
                  last_price: '0.20545386626821068360'
                - source: aquarius
                  base: CCW67TSZV3SSS2HXMBQ5JFGCKJNXKZM7UQUWUZPUTHXSTZLEO7SJMI75
                  quote: CAS3J7GYLGXMF6TDJBBYYSE3HQ6BBSMLNUQ34T6TZMYMW2EVH34XOWMA
                  last_trade_at: '2026-07-03T21:59:52Z'
                  trade_count_24h: 7831
                  volume_24h_usd: '1725605.79428767372866451771634747600000000000000000'
                  last_price: '4.8693065623459794'
                as_of: '2026-07-03T22:37:46.044283568Z'
                flags:
                  stale: false
                  reduced_redundancy: false
                  triangulated: false
                  divergence_warning: false
                  divergence_checked: false
                pagination:
                  next: 1725605.79428767372866451771634747600000000000000000:aquarius|CCW67TSZV3SSS2HXMBQ5JFGCKJNX…
              schema:
                allOf:
                  - { $ref: "#/components/schemas/EnvelopeMeta" }
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/PoolRow" }
                    required: [data]
        "400": { $ref: "#/components/responses/BadRequest" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /pools/reserves:
    get:
      tags: [markets]
      summary: Current per-pool-contract AMM reserves + constant-product depth.
      description: |
        CURRENT reserve state for AMM pool contracts, decoded straight
        from each pool's Soroban contract storage in the certified lake
        (ADR-0039, same mechanism as
        `/v1/lending/pools/{pool}/reserves`) — plus a depth table
        derived from those reserves under the constant-product model.

        HONEST-COVERAGE CONTRACT: reserves are served only for venues
        whose pool-storage layout has been verified against the lake.
        Today that is **Soroswap only** (every registered SoroswapPair
        contract). Phoenix / Aquarius / Comet pool layouts are not yet
        verified, so those venues are refused explicitly (400 on
        `?source=`), never served as guesses. Historical reserve series
        are not available anywhere in the API: ingest does not persist
        reserves (Soroswap `SyncEvent`s are consumed transiently at
        trade decode), so only current state is honestly servable.

        Reserves are exact i128 base-unit decimal strings (ADR-0003).
        `as_of_ledger` stamps the ledger of the pool's last state
        change — reserves are current as of that ledger and unchanged
        since. Separately, the envelope's `flags.stale` reflects lake
        freshness (ADR-0041): it fires when the lake watermark's close
        time trails now by more than 300s (a wedged galexie→ClickHouse
        sink makes every reserve read stale regardless of per-pool
        last-change ledger). The `depth` table is a MODEL-DERIVED estimate (labelled
        via `model: constant_product`, x·y=k with the 0.3% fee on
        input): per slippage tier and direction, the largest input
        whose AVERAGE execution price stays within the tier of the mid
        price, and its output. It assumes no other trade lands first —
        it is not an order book. Pools whose contract-storage entry
        isn't captured in the lake are absent from the listing (absent,
        never zero); a pool with an empty side reports its reserves but
        no mid price / depth.
      parameters:
        - name: pool
          in: query
          schema: { type: string }
          description: |
            Optional. A pool (pair) contract C-strkey; restricts the
            response to that pool. 404 when the contract is not a
            registered Soroswap pair — unknown pools are refused, not
            silently empty.
        - name: source
          in: query
          schema: { type: string, enum: [soroswap] }
          description: |
            Optional venue filter. `soroswap` is the only accepted
            value today; other venues return 400 naming the coverage
            limit.
      responses:
        "200":
          description: Per-pool current reserves + depth, sorted by pool contract id.
          content:
            application/json:
              example:
                data:
                - pool: CDYRXTIUEUNJ3SVAKVWKKRK3CZVIY4WOG6TAQU27R777ZHNOKNCO26NL
                  source: soroswap
                  model: constant_product
                  fee_bps: 30
                  as_of_ledger: 62941880
                  token0:
                    contract: CBRP2VD3CZLEQIQZ4JMBXGA5AC2U6JE26YU5CCIOICIZCVWPGBO2QRUB
                    symbol: YBX
                    decimals: 7
                    reserve: '172458996'
                  token1:
                    contract: CBY4MSZXK5L4HDMJHDXQLNLOA5MM5BIGCHQYMRG7ZAFY34UNU4UXPEJJ
                    symbol: LMNR
                    decimals: 7
                    reserve: '603291773585'
                  mid_price_0_in_1: '3498.175146427270166874'
                  mid_price_1_in_0: '0.000285863331063143'
                  depth:
                  - slippage_pct: '0.5'
                    token0_in: { max_input: '347694', output: '1210213039' }
                    token1_in: { max_input: '1216295668', output: '345955' }
                  - slippage_pct: '1'
                    token0_in: { max_input: '1223076', output: '4235748731' }
                    token1_in: { max_input: '4278535014', output: '1210845' }
                  - slippage_pct: '2'
                    token0_in: { max_input: '3000637', output: '10286818733' }
                    token1_in: { max_input: '10496755727', output: '2940624' }
                as_of: '2026-07-05T12:00:00.000000000Z'
                sources: [soroswap]
                flags:
                  stale: false
                  reduced_redundancy: false
                  triangulated: false
                  divergence_warning: false
                  divergence_checked: false
              schema:
                allOf:
                  - { $ref: "#/components/schemas/EnvelopeMeta" }
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/PoolReservesRow" }
                    required: [data]
        "400": { $ref: "#/components/responses/BadRequest" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /liquidity-pools:
    get:
      tags: [markets]
      summary: Current native (CAP-38) liquidity-pool two-sided reserves + depth.
      description: |
        CURRENT two-sided reserves for Stellar's protocol-native
        (CAP-38) constant-product liquidity pools, read straight from
        the `liquidity_pool` LedgerEntry in the certified lake's
        current-state table (ADR-0039, the same read-time-decode design
        as `/v1/pools/reserves` and
        `/v1/lending/pools/{pool}/reserves`) — plus a depth table under
        the constant-product model.

        Native pools are DISTINCT from Soroban AMM protocols (Soroswap,
        Aquarius, Phoenix, Comet — see `/v1/pools/reserves`): they are
        built into the ledger by CAP-38 with no smart contract, and
        their reserves are TWO-sided on-chain (both `reserve_a` and
        `reserve_b` live in the entry). Unlike the Soroban AMM path —
        where reserves are consumed transiently at trade decode and
        persisted nowhere — the full per-pool reserve state is honestly
        available for every native pool. (The supply-verification path
        only records the operator-watched side of watched-asset pools;
        this endpoint reads both sides of every pool.)

        Reserves are exact base-unit (stroop) decimal strings (ADR-0003;
        classic assets are always 7 decimals). `as_of_ledger` stamps the
        ledger of the pool's last state change — reserves are current as
        of that ledger and unchanged since. The envelope's `flags.stale`
        reflects lake freshness (ADR-0041): it fires when the lake
        watermark's close time trails now by more than 300s. The `depth`
        table is a MODEL-DERIVED estimate (labelled `model:
        constant_product`, x·y=k with the pool's on-chain fee on input),
        not an order book. A pool with an empty side reports its
        reserves but no mid price / depth.

        Without `?pool=`, the response is the top-N native pools ranked
        by pool-share trustline count (number of liquidity providers —
        the only cross-pool-comparable size signal without USD pricing
        of arbitrary pool assets).
      parameters:
        - name: pool
          in: query
          schema: { type: string }
          description: |
            Optional. A native pool id — an L-strkey (SEP-23) or 32-byte
            hex. Restricts the response to that pool. 404 when the id is
            not a captured native pool; 400 when it is neither an
            L-strkey nor 32-byte hex.
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 100, default: 25 }
          description: |
            Optional (listing only, ignored with `?pool=`). Number of
            top-ranked pools to return. 1-100, default 25.
      responses:
        "200":
          description: Per-pool current two-sided reserves + depth.
          content:
            application/json:
              example:
                data:
                - pool: LBBQAH75JTPHENBF3UJEYMPQR4GQ43VZNPAE4H5XVUYS5YRBY6NFFKVM
                  pool_hex: 43001ffd4cde723425dd124c31f08f0d0e6eb96bc04e1fb7ad312ee221c79a52
                  model: constant_product
                  fee_bps: 30
                  as_of_ledger: 63356894
                  trustlines: 1
                  total_shares: '14133656465'
                  reserve_a:
                    asset: LibreDrone-GB7LCUIDT3C2DUOX4O2FSCCBH5NXIUJZ64YQ2N75N5POZRI4DA4AMGEE
                    decimals: 7
                    reserve: '109841733381'
                  reserve_b:
                    asset: deCent-GBVRVE6CCHJFZ6IFEKYRCRODKPPJHJFPCYOZILWADK4CEZB6DEXBYTI6
                    decimals: 7
                    reserve: '1868365732'
                  mid_price_a_in_b: '0.017009616240480621'
                  mid_price_b_in_a: '58.790274034527197162'
                  depth:
                  - slippage_pct: '0.5'
                    asset_a_in: { max_input: '221451759', output: '3747975' }
                    asset_b_in: { max_input: '3766809', output: '220344474' }
                  - slippage_pct: '1'
                    asset_a_in: { max_input: '778995707', output: '13117913' }
                    asset_b_in: { max_input: '13250418', output: '771205748' }
                  - slippage_pct: '2'
                    asset_a_in: { max_input: '1911151277', output: '31857790' }
                    asset_b_in: { max_input: '32507949', output: '1872928206' }
                as_of: '2026-07-06T12:00:00.000000000Z'
                flags:
                  stale: false
                  reduced_redundancy: false
                  triangulated: false
                  divergence_warning: false
                  divergence_checked: false
              schema:
                allOf:
                  - { $ref: "#/components/schemas/EnvelopeMeta" }
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/LiquidityPoolReservesRow" }
                    required: [data]
        "400": { $ref: "#/components/responses/BadRequest" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /lending/pools:
    get:
      tags: [protocols]
      summary: Lending pools (Blend) with auction + net-flow stats.
      description: |
        One row per distinct Blend pool contract observed in EITHER
        the auction stream OR the position-event stream, with 24h /
        all-time auction counts, 30d unique users, last-seen, plus a
        30-day net-flow proxy for supply/borrow.

        `net_supplied_30d` / `net_borrowed_30d` are window NET-FLOW
        deltas (token base-units, summed across the pool's assets),
        NOT all-time TVL or current reserve balances —
        `utilization_30d_pct` is the window borrow/supply ratio
        (omitted when net supply ≤ 0). Real current-state TVL +
        supply/borrow APYs (reserve b_rate/d_rate) need the Soroban
        pool-storage reader; these fields stand in until it ships.
      responses:
        "200":
          description: Array of LendingPool rows.
          content:
            application/json:
              example:
                data:
                - protocol: blend
                  pool: CAJJZSGMMM3PD7N33TAPHGBUGTB43OC73HVIK2L2G6BNGGGYOSSYBXBD
                  auctions_24h: 29
                  auctions_total: 7430
                  unique_users_30d: 10946
                  last_seen: '2026-07-03T22:37:27Z'
                  net_supplied_30d: '575363575586841'
                  net_borrowed_30d: '67357854119677'
                  utilization_30d_pct: 11.71
                as_of: '2026-07-03T22:37:47.445630311Z'
                flags:
                  stale: false
                  reduced_redundancy: false
                  triangulated: false
                  divergence_warning: false
                  divergence_checked: false
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        protocol:            { type: string }
                        pool:                { type: string }
                        auctions_24h:        { type: integer, format: int64 }
                        auctions_total:      { type: integer, format: int64 }
                        unique_users_30d:    { type: integer, format: int64 }
                        last_seen:           { type: string, format: date-time }
                        net_supplied_30d:    { type: string, description: "Token base-units, 30d net-flow proxy (not TVL)." }
                        net_borrowed_30d:    { type: string, description: "Token base-units, 30d net-flow proxy." }
                        utilization_30d_pct: { type: number, nullable: true, description: "Window borrow/supply ratio %; null when net supply ≤ 0." }
        "400": { $ref: "#/components/responses/BadRequest" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /lending/pools/{pool}/reserves:
    get:
      tags: [protocols]
      summary: Blend pool — REAL per-reserve current state (TVL/util/APY).
      description: |
        The pool's per-reserve CURRENT on-chain state (ADR-0039),
        decoded from the Blend pool contract's Soroban storage in the
        certified lake — distinct from the `/v1/lending/pools` window
        net-flow PROXY. For each reserve: supplied / borrowed amounts
[...]
